@charset "utf-8";
/* CSS Document */

.TopAd_apple_JAN{ width:980px; margin:0 auto; }
.TopAd_apple_JAN a.new_year{ width:980px; height:80px; display:block;padding-bottom:15px; background:url(../images/2011/ad_new_year/topad.gif) 0 0 no-repeat;}

