div.guideDiv {margin:0px; font-size:15px; color:#4c4c4c; line-height:20px; font-family:"新細明體"; text-align:left;}
div.guideDiv td {text-align:left}
div.guideDiv img {border:0px; vertical-align:middle; *vertical-align:baseline}
div.guideDiv a { color:#418fa5; TEXT-DECORATION:none;}
div.guideDiv a:hover { color:#57acc4; TEXT-DECORATION:underline;}
div.guideDiv .t15g {font-size:15px; font-family:"新細明體"; color:#ff6700; line-height:20px; font-weight:bold;}
div.guideDiv .t15g a:hover {color:#ff7e27; text-decoration:underline;}
div.guideDiv .t15g a {color:#ff6700; text-decoration:none;}
div.guideDiv .t15b {font-size:15px; font-family:"新細明體"; color:#4c4c4c; line-height:20px; font-weight:bold;}
div.guideDiv .t15b a:hover {color:#6c6c6c; text-decoration:underline;}
div.guideDiv .t15b a {color:#4c4c4c; text-decoration:none;}
div.guideDiv .t11s {font-size:11px; font-family:"新細明體"; color:#666666; line-height:16px;}
div.guideDiv .t11s a:hover {color:#939393; text-decoration:underline;}
div.guideDiv .t11s a {color:#666666; text-decoration:none;}
div.guideDiv .t11sb {font-size:11px; font-family:"新細明體"; color:#666666; line-height:20px; font-weight:bold;}
div.guideDiv .t11sb a:hover {color:#939393; text-decoration:underline;}
div.guideDiv .t11sb a {color:#666666; text-decoration:none;}
div.guideDiv .t11o {font-size:11px; font-family:"新細明體"; color:#fc6d30;}
div.guideDiv .t11o a:hover {color:#ff996d; text-decoration:underline;}
div.guideDiv .t11o a {color:#fc6d30; text-decoration:none;}
div.guideDiv .t11red {font-size:11px; font-family:"新細明體"; color:#cf3420; font-weight:bold;}
div.guideDiv .t11red a:hover {color:#e25442; text-decoration:underline;}
div.guideDiv .t11red a {color:#cf3420; text-decoration:none;}
div.guideDiv .t11ored {font-size:11px; font-family:"新細明體"; color:#cf3420; font-weight:bold; line-height:18px;}
div.guideDiv .t11ored a:hover {color:#e25442; text-decoration:underline;}
div.guideDiv .t11ored a {color:#cf3420; text-decoration:none;}
div.guideDiv .t11ob {font-size:11px; font-family:"新細明體"; color:#fc6d30; font-weight:bold; line-height:18px;}
div.guideDiv .t11ob a:hover {color:#ff996d; text-decoration:underline;}
div.guideDiv .t11ob a {color:#f56700; text-decoration:none;}
div.guideDiv .t11green {font-size:11px; font-family:"新細明體"; color:#82b70f;}
div.guideDiv .t11green a:hover {color:#94cb1d; text-decoration:underline;}
div.guideDiv .t11green a {color:#82b70f; text-decoration:none;}
div.guideDiv .t11greeno {font-size:11px; font-family:"新細明體"; color:#82b70f; font-weight:bold;}
div.guideDiv .t11greeno a:hover {color:#94cb1d; text-decoration:underline;}
div.guideDiv .t11greeno a {color:#82b70f; text-decoration:none;}
div.guideDiv .t12b {font-size:12px; font-family:"新細明體"; color:#666666; font-weight:bold;}
div.guideDiv .t12b a:hover {color:#939393; text-decoration:underline ;}
div.guideDiv .t12b a {color:#666666; text-decoration:none;}
div.guideDiv .t12brown {font-size:12px; font-family:"新細明體"; color:#552606;}
div.guideDiv .t12brown a:hover {color:#66320f; text-decoration:underline ;}
div.guideDiv .t12brown a {color:#552606; text-decoration:none;}
div.guideDiv .t12ow {font-size:12px; font-family:"新細明體"; color:#ffffff; font-weight:bold;}
div.guideDiv .t12ow a:hover {color:#ffffff; text-decoration:underline;}
div.guideDiv .t12ow a {color:#ffffff; text-decoration:none;}
div.guideDiv .t12bb {font-size:12px; font-family:"新細明體"; color:#552606; font-weight:bold;}
div.guideDiv .t12bb a:hover {color:#753b13; text-decoration:underline;}
div.guideDiv .t12bb a {color:#552606; text-decoration:none;}
div.guideDiv .t12bl {font-size:12px; font-family:"新細明體"; color:#007195; line-height:20px}
div.guideDiv .t12bl a:hover {color:#1f96bc; text-decoration:none }
div.guideDiv .t12bl a {color:#007195; text-decoration:underline }
div.guideDiv .t12g {font-size:12px; font-family:"新細明體"; color:#ffffff; font-weight:bold;}
div.guideDiv .t12g a:hover {color:#ffffff; text-decoration:none;}
div.guideDiv .t12g a {color:#ffffff; text-decoration:underline ;}
div.guideDiv .t12og {font-size:12px; font-family:"新細明體"; color:#ff8b59; font-weight:bold; line-height:18px;}
div.guideDiv .t12og a:hover {color:#ffa67f; text-decoration:underline;}
div.guideDiv .t12og a {color:#ff8b59; text-decoration:none;}
div.guideDiv .t12r {font-size:12px; font-family:"新細明體"; color:#ff0000; font-weight:bold;}
div.guideDiv .t12r a:hover {color:#ff5858; text-decoration:none;}
div.guideDiv .t12r a {color:#ff0000; text-decoration:underline ;}
div.guideDiv .t12greeno {font-size:12px; font-family:"新細明體"; color:#82b70f; font-weight:bold;}
div.guideDiv .t12greeno a:hover {color:#94cb1d; text-decoration:underline;}
div.guideDiv .t12greeno a {color:#82b70f; text-decoration:none;}
div.guideDiv .t12ob {font-size:12px; font-family:"新細明體"; color:#fc6d30; font-weight:bold;}
div.guideDiv .t12ob a:hover {color:#ff996d; text-decoration:underline;}
div.guideDiv .t12ob a {color:#fc6d30; text-decoration:none;}
div.guideDiv .t12ob_visited {font-size:12px; font-family:"新細明體"; color:#78630a; font-weight:bold;}
div.guideDiv .t12ob_visited a:hover {color:#9c841f; text-decoration:underline;}
div.guideDiv .t12ob_visited a {color:#78630a; text-decoration:none;}
div.guideDiv .t12ob {font-size:12px; font-family:"新細明體"; color:#fc6d30; font-weight:bold; line-height:18px;}
div.guideDiv .t12ob a:hover {color:#ff996d; text-decoration:underline;}
div.guideDiv .t12ob a {color:#f56700; text-decoration:none;}
div.guideDiv .t12kb {font-size:12px; font-family:"新細明體"; color:#552606; font-weight:bold;  line-height:25px}
div.guideDiv .t12kb a:hover {color:#ff996d; text-decoration:underline;}
div.guideDiv .t12kb a {color:#fc6d30; text-decoration:none;}
div.guideDiv .t12sb {font-size:11px; font-family:"新細明體"; color:#666666; line-height:20px; font-weight:bold;}
div.guideDiv .t12sb a:hover {color:#939393; text-decoration:underline;}
div.guideDiv .t12sb a {color:#666666; text-decoration:none;}
div.guideDiv .t13o {font-size:13px; font-family:"新細明體"; color:#fc6d30;}
div.guideDiv .t13o a:hover {color:#ff996d; text-decoration:underline;}
div.guideDiv .t13o a {color:#fc6d30; text-decoration:none;}
div.guideDiv .t13ob {font-size:13px; font-family:"新細明體"; color:#fc6d30; font-weight:bold; line-height:22px;}
div.guideDiv .t13ob a:hover {color:#ff996d; text-decoration:underline;}
div.guideDiv .t13ob a {color:#f56700; text-decoration:none;}
div.guideDiv .t13ow {font-size:15px; font-family:"新細明體"; color:#ffffff; font-weight:bold; line-height:26px;}
div.guideDiv .t13ow a:hover {color:#ffffff; text-decoration:none;}
div.guideDiv .t13ow a {color:#ffffff; text-decoration:none ;}
div.guideDiv .t13red {font-size:13px; font-family:"新細明體"; color:#cf3420; font-weight:bold; line-height:20px;}
div.guideDiv .t13red a:hover {color:#e25442; text-decoration:underline;}
div.guideDiv .t13red a {color:#cf3420; text-decoration:none;}
div.guideDiv .t13x {font-size:13px; font-family:"新細明體"; color:#666666; font-weight:bold; line-height:26px; text-decoration:line-through;}
div.guideDiv .t13x a:hover {color:#939393; text-decoration:underline;}
div.guideDiv .t13x a {color:#666666; text-decoration:none;}
div.guideDiv .t13greeno {font-size:13px; font-family:"新細明體"; color:#82b70f; font-weight:bold;}
div.guideDiv .t13greeno a:hover {color:#94cb1d; text-decoration:underline;}
div.guideDiv .t13greeno a {color:#82b70f; text-decoration:none;}
div.guideDiv .t12 {font-size:12px; color:#4c4c4c; line-height:18px; font-family:"新細明體"; text-align:left;}
div.guideDiv .t15bb {font-size:15px; font-family:"新細明體"; color:#552606; font-weight:bold;}
div.guideDiv .t15bb a:hover {color:#753b13; text-decoration:underline;}
div.guideDiv .t15bb a {color:#552606; text-decoration:none;}
div.guideDiv .t15r {font-size:15px; font-family:"新細明體"; color:#ff0000; font-weight:bold;}
div.guideDiv .t15r a:hover {color:#fc1b6a; text-decoration:none;}
div.guideDiv .t15r a {color:#ff0000; text-decoration:underline ;}
div.guideDiv .t15ob {font-size:15px; font-family:"新細明體"; color:#fc6d30; font-weight:bold;}
div.guideDiv .t15ob a:hover {color:#ff996d; text-decoration:underline;}
div.guideDiv .t15ob a {color:#fc6d30; text-decoration:none;}
div.guideDiv .t15bb {font-size:15px; font-family:"新細明體"; color:#552606; font-weight:bold;}
div.guideDiv .t15bb a:hover {color:#753b13; text-decoration:underline;}
div.guideDiv .t15bb a {color:#552606; text-decoration:none;}
div.guideDiv .t15greeno{font-size:15px;font-family: "新細明體";color:#82b70f;font-weight: bold;}
div.guideDiv .t15red{font-size:15px;font-family: "新細明體";color:#cf3420;font-weight: bold;line-height: 20px;}