@charset "utf-8";
/* CSS Document */

.color_pink{background-color:#ffabc9;float:left}
.color_pink_1{background-color:#e5004f;float:left}


.color_blue{background-color:#86d0ff;float:left}
.color_blue_1{background-color:#61bbd6;float:left}
.color_blue_2{background-color:#81e0ff;float:left}

.color_green{background-color:#94d734;float:left}

.color_red{background-color:#ff7272;float:left}

.color_yellow{background-color:#ffea00;float:left}
