/*=====================以下側邊欄_公版開始===================*/
#userMenu{ width:175px; margin:0 15px 0 0; float:left; _display:inline;}
#userMenu .SUB_menu{ width:155px; padding:10px 10px 0 10px ; background:#f9f7f7;}
#userMenu a{ /*color:#454545;*/ font-family:Arial, Helvetica, sans-serif, "新細明體-ExtB";}
#userMenu span.UserNumber{ font-size:12px; color: #E84C1F; letter-spacing:1px; font-weight:bold; }
#userMenu span.text10 a {color:#105CB6; text-decoration:none}
#userMenu span.text10 a:hover {color:#ff9933; text-decoration:underline}
#userMenu span.private{padding-left:15px; background: url(../images/2011/private.gif) no-repeat -2px -2px;}
#userMenu span.protect{padding-left:15px; background: url(../images/2011/private.gif) no-repeat -2px -25px;}

/*==ID_USER_區==*/
.userid_content{ width:173px; border: 1px solid #CBCBCB; margin:0px 0px 10px 0px; }

/*==標題==*/
.userid_content .titlebox{float:left; width:173px; height:36px; background-color:#F9F7F7; border-bottom: 1px solid #CBCBCB;}

/*==關於我==*/
.userid_content .titlebox .titlelaft{float:left; width:100px; height:36px;}
.userid_content .titlebox .titlelaft h3.font a.fontbtn{ font-size:15px; width:85px; padding:0px 0px 0px 15px; height:36px; line-height:36px; color:#454545; display:block; text-decoration:none;}
.userid_content .titlebox .titlelaft h3.font a.fontbtn:hover{ color:#105CB6; text-decoration: underline;}
.userid_content .titlebox .titlelaft h3.font a.fontbtn.active{ color:#105CB6; text-decoration: underline;}

/*==更多==*/
.userid_content .titlebox .titleright{float:right; width:73px; height:36px;}
.userid_content .titlebox .titleright p.font a.fontbtn{ font-size:11px; padding:0px 15px 0px 0px; height:36px; line-height:36px; color:#105CB6; display:block; text-decoration:none; text-align:right;}
.userid_content .titlebox .titleright p.font a.fontbtn:hover{text-decoration: underline;}
.userid_content .titlebox .titleright p.font a.fontbtn.active{text-decoration: underline;}

.userid_content .userid_box{float:left; width:163px; height:44px; padding: 10px 0 10px 10px;}

.userid_content .userid_box .UiImageBOX{float: left;width:40px; height:40px; margin:0px 3px 0px 0px; background-color:#FFFFFF;  overflow:hidden;}
.userid_content .userid_box .UiImageBOX a img{ margin: 0 auto; display:block; font-size:0; height:40px; outline:none; opacity: 1;/* 透明度60% FireFox 的寫法 */ filter: Alpha(Opacity=100); /* 透明度60% IE 的寫法 */ }
.userid_content .userid_box .UiImageBOX a:hover img{opacity: 0.7; filter: Alpha(Opacity=70)	}
.userid_content .userid_box .UiIDBOX{ float: left; width:111px; height:22px; overflow:hidden;}
.userid_content .userid_box .UiIDBOX a{ display:block; font-size:12px; color:#454545; text-decoration:none; line-height:22px; text-indent:4px; overflow:hidden;}
.userid_content .userid_box .UiIDBOX a:hover{ text-decoration:underline; color:#F1843a;}
.userid_content .userid_box .UiIDBOX_R{ float: left; height:22px; min-width:50px;}
.userid_content .userid_box .UiIDBOX_R a.userNumber{ display:block; font-size:11px; color:#454545; text-decoration:none; line-height:22px; text-indent:4px; overflow:hidden;}
.userid_content .userid_box .UiIDBOX_L{ float: left; width:22px; height:22px;}

.userid_content .btn_box{float:left; width:163px; padding: 0px 0 10px 10px;}
.userid_content .btn_box a.Followbtn{ display:block; width:153px; height:34px; line-height:34px; font-size:12px; background:url(../images/user/follow_btn.png) no-repeat left top; text-indent:-9999px;}
.userid_content .btn_box a.Followbtn:hover{ background-position:left -50px;}
.userid_content .btn_box a.Followbtn:active{ background-position:left -100px;}

.userid_content .btn_box a.Followbtn_ctive{ display:block; width:153px; height:34px; line-height:34px; font-size:12px; background:url(../images/user/follow_btn.png) no-repeat left -200px; text-indent:-9999px;}
.userid_content .btn_box a.Followbtn_ctive:hover{ background-position:left -250px;}
.userid_content .btn_box a.Followbtn_ctive:active{ background-position:left -299px;}
/*==ID_USER_區END==*/


/*==ID區==*/
#userMenu .SUB_menu .topid_box{ height:44px; margin:0 0 10px 0px;}
#userMenu .SUB_menu .topid_box .UiImageBOX{	float: left;width:40px; height:40px; margin:2px 3px 0px 0px; background-color:#FFFFFF;  overflow:hidden;}
#userMenu .SUB_menu .topid_box .UiImageBOX img{ margin: 0 auto; display:block; font-size:0; height:40px; outline:none; opacity: 1;/* 透明度60% FireFox 的寫法 */ filter: Alpha(Opacity=100); /* 透明度60% IE 的寫法 */ }
#userMenu .SUB_menu .topid_box .UiImageBOX a img{ margin: 0 auto; display:block; font-size:0; height:40px; outline:none; opacity: 1;/* 透明度60% FireFox 的寫法 */ filter: Alpha(Opacity=100); /* 透明度60% IE 的寫法 */ }
#userMenu .SUB_menu .topid_box .UiImageBOX a:hover img{opacity: 0.7; filter: Alpha(Opacity=70)	}

/*==大頭貼_有邊框===*/
/*#userMenu .SUB_menu .topid_box .UiImageBOX{	float: left;width:40px; height:40px; padding: 1px; background-color:#FFFFFF; border:1px solid #BBBBBB; overflow:hidden;}
#userMenu .SUB_menu .topid_box .UiImageBOX a img{ margin: 0 auto; display:block; font-size:0; height:40px; outline:none; opacity: 1; filter: Alpha(Opacity=100);}
#userMenu .SUB_menu .topid_box .UiImageBOX a:hover img{opacity: 0.7; filter: Alpha(Opacity=70)	}*/
/*==大頭貼_有邊框===*/

#userMenu .SUB_menu .topid_box .UiIDBOX{ float: left; width:111px; height:22px; overflow:hidden;}
#userMenu .SUB_menu .topid_box .UiIDBOX p.ibfone{display:block; font-size:12px; color:#454545; line-height:22px; text-indent:4px; overflow:hidden; font-weight:bold;}
#userMenu .SUB_menu .topid_box .UiIDBOX a{ display:block; font-size:12px; color:#454545; height:22px; text-decoration:none; line-height:22px; text-indent:4px; overflow:hidden;}
#userMenu .SUB_menu .topid_box .UiIDBOX a:hover{ text-decoration:underline; color:#F1843a;}
#userMenu .SUB_menu .topid_box .UiIDBOX_R{ float: left; height:22px; min-width:50px;}
#userMenu .SUB_menu .topid_box .UiIDBOX_R a.userNumber{ display:block; font-size:11px; color:#454545; text-decoration:none; line-height:22px; text-indent:4px; overflow:hidden;}
#userMenu .SUB_menu .topid_box .UiIDBOX_L{ float: left; /*width:22px;*/ height:22px;}
/*==ID區END==*/

#userMenu .SUB_menu .btn_group_box{ margin:0 0 10px 0px;}
#userMenu .SUB_menu h3 { font-weight:bold; font-size:15px; line-height:34px; letter-spacing:1px;}
#userMenu .SUB_menu h3.single a{background: url(../images/user/user2012/user2012_SUB_menu.jpg) no-repeat left top;}

/*==日曆==*/
#userMenu .SUB_menu h3.calendar a{width:155px; height:34px; color:#454545; display:block; text-decoration:none; text-indent:15px; background: url(../images/user/user2012/user2012_SUB_menu.jpg)  no-repeat left -102px;}
#userMenu .SUB_menu h3.calendar a:hover{width:155px; height:34px; color:#454545; display:block; text-decoration:none; text-indent:15px; background:url(../images/user/user2012/user2012_SUB_menu.jpg)  no-repeat -155px -102px;}
#userMenu .SUB_menu h3.calendar a.active{width:155px; height:34px; color:#fff; display:block; text-decoration:none; text-indent:15px; background: url(../images/user/user2012/user2012_SUB_menu.jpg)  no-repeat left -68px;}


/*==選單標題背景==*/
#userMenu .SUB_menu h3 { position:relative;}
#userMenu .SUB_menu h3.group a.menubtn{background:url(../images/user/user2012/user2012_SUB_menu.jpg)  no-repeat right top;}
#userMenu .SUB_menu h3.group_open a.menubtn{background:url(../images/user/user2012/user2012_SUB_menu.jpg)  no-repeat center top;}
/*#userMenu .SUB_menu .group_open:hover{ cursor: pointer; }*/

/*==選單標題==*/
#userMenu .SUB_menu h3 a.fomebtn { position:absolute; top:0px; left:0px; height:34px; color:#454545; display:block; text-decoration:none; text-indent:15px;}
#userMenu .SUB_menu h3 a.fomebtn:hover{ color:#3B5998; text-decoration:underline;}

#userMenu .SUB_menu h3 a.menubtn{ width:155px;  height:34px; color:#454545; display:block; text-decoration:none; text-indent:-9999px; }
#userMenu .SUB_menu h3 a.menubtn:hover { height:34px; color:#454545; display:block; text-decoration:none; text-indent:-9999px;}


#userMenu .SUB_menu h3.group a.menubtn:hover{background:url(../images/user/user2012/user2012_SUB_menu.jpg)  no-repeat center-34px;}
#userMenu .SUB_menu h3.group_open a.menubtn:hover{background:url(../images/user/user2012/user2012_SUB_menu.jpg)  no-repeat center -34px;}

#userMenu .SUB_menu ul.group_list{ width:153px; border-bottom:1px #cdc5c5 solid; border-left:1px #cdc5c5 solid; border-right:1px #cdc5c5 solid; padding:5px 0 5px 0;  background:#FFF; display: block; /*display:none;*/}
#userMenu .SUB_menu ul.g_border{ border:1px #cdc5c5 solid;}

/*==選單==*/
#userMenu .SUB_menu ul.group_list li{  width:129px; padding:0px 2px 0px 2px; border-bottom:1px dotted #b5b5b5; margin:0 0 0 10px; }
/*==選單_底色==*/
#userMenu .SUB_menu ul.group_list li.active{ color:#fff; background-color:#656565; border-radius: 3px 3px 3px 3px; border:none; }
#userMenu .SUB_menu ul.group_list li.NO-border{  width:129px; margin:0 0 0 10px; border:none;}

/*==目標target==*/
#userMenu .SUB_menu ul.group_list li.Menutarget { background-color: #f1f1f1;}

/*==撰寫郵件==*/
#userMenu .SUB_menu .BtnBox{ width:133px; height:32px; margin: 0 auto; padding:5px 0px 5px 0px;}
#userMenu .SUB_menu .BtnBox a{width:133px; height:32px; line-height:32px; font-size:15px; display:block; color:#656565;  float:left; letter-spacing:1px; text-decoration:none; font-weight:bold; background: url(../images/user/user2012/but_toou.gif) no-repeat left top; text-align:center; }
#userMenu .SUB_menu .BtnBox a:hover{color:#454545; background-position: right -33px; text-decoration:none;}
#userMenu .SUB_menu .BtnBox a:active{color:#898989; background-position: right -66px; text-decoration:none;}
#userMenu .SUB_menu .BtnBox a.active{width:133px; height:32px; line-height:32px; font-size:15px; display:block; color:#fff;  float:left; letter-spacing:1px; text-decoration:none; font-weight:bold; background: url(../images/user/user2012/but_toou.gif) no-repeat left -65px; text-align:center; }

/*==撰寫郵件_END==*/



/*==子選單==*/
#userMenu .SUB_menu ul.group_list li h4{ width:129px; line-height:20px;  font-weight:normal;  padding: 6px 0px 6px 0px;}
#userMenu .SUB_menu ul.group_list li h4 a.list_T{ font-size:13px; display:block; letter-spacing:1px;  text-indent:3px; _text-indent:0px; }
#userMenu .SUB_menu ul.group_list li.active h4 a.list_T{ color:#FFF; font-weight:bold;}
#userMenu .SUB_menu ul.group_list li h4 a.list_T span.Numberactive { color:#FFF; font-weight:bold; font-size:12px;}

#userMenu .SUB_menu ul.group_list li h4 a.Redfont_B {color: #E84C1F; font-weight:bold;}
/*#userMenu .SUB_menu ul.group_list li h4 a.active{ color:#888888; background-color:#CCC;}*/
#userMenu .SUB_menu ul.group_list li h4 a:hover{ color:#888888; text-decoration:none;}


#userMenu .SUB_menu ul.group_list li h4 p{ width:129px; font-size:13px; display:block; letter-spacing:1px; text-align:justify;}
#userMenu .SUB_menu ul.group_list li h4 p span.GoBnt a{ font-size:12px; display:block; padding:5px 0px 0px 0px;}
#userMenu .SUB_menu ul.group_list li h4 p span.GoBnt a:hover{ color:#FF9933; text-decoration:underline;}

/*==合購單==*/
#userMenu .SUB_menu ul.group_list li h4.Grouplist a{ width:129px; font-size:15px; display:block;  letter-spacing:1px; text-indent:22px; font-weight:bold; background: url(../images/user/user2012/user2012_menulist_icom.png) no-repeat left -25px; _background: url(../images/user/user2012/user2012_menulist_icom.gif) no-repeat left -25px;}
#userMenu .SUB_menu ul.group_list li h4.Grouplist a:hover{ width:129px; color:#888888; text-decoration:none;}
/*==active==*/
#userMenu .SUB_menu ul.group_list li h4.Grouplist a span.fontactive{ letter-spacing:2px; color:#fff;}
#userMenu .SUB_menu ul.group_list li h4.Grouplist a span.Numberactive{color:#fff; font-size:12px;}

/*==訂購單==*/
#userMenu .SUB_menu ul.group_list li h4.Orderlist a{width:129px; font-size:15px; display:block;  letter-spacing:1px; text-indent:22px; font-weight:bold;  background: url(../images/user/user2012/user2012_menulist_icom.png) no-repeat left -55px; _background: url(../images/user/user2012/user2012_menulist_icom.gif) no-repeat left -55px;}
#userMenu .SUB_menu ul.group_list li h4.Orderlist a:hover{ color:#888888; text-decoration:none;}
/*==active==*/
#userMenu .SUB_menu ul.group_list li h4.Orderlist a span.fontactive{ letter-spacing:2px; color:#fff;}
#userMenu .SUB_menu ul.group_list li h4.Orderlist a span.Numberactive{color:#fff; font-size:12px;}

/*==回饋單==*/
#userMenu .SUB_menu ul.group_list li h4.reward a{width:129px; font-size:15px; display:block;  letter-spacing:1px; text-indent:22px; font-weight:bold;  background: url(../images/user/user2012/user2012_menulist_icom.png) no-repeat left -86px; _background: url(../images/user/user2012/user2012_menulist_icom.gif) no-repeat left -55px;}
#userMenu .SUB_menu ul.group_list li h4.reward a:hover{ color:#888888; text-decoration:none;}
/*==active==*/
#userMenu .SUB_menu ul.group_list li h4.reward a span.fontactive{ letter-spacing:2px; color:#fff;}
#userMenu .SUB_menu ul.group_list li h4.reward a span.Numberactive{color:#fff; font-size:12px;}

/*==mail==*/
#userMenu .SUB_menu ul.group_list li h4.maillist a{ width:129px; font-size:15px; display:block;  letter-spacing:1px; text-indent:22px; font-weight:bold;  background: url(../images/user/user2012/user2012_menulist_icom.png) no-repeat left top; _background: url(../images/user/user2012/user2012_menulist_icom.gif) no-repeat left top;}
#userMenu .SUB_menu ul.group_list li h4.maillist a:hover{ color:#888888; text-decoration:none;}
/*==active==*/
#userMenu .SUB_menu ul.group_list li h4.maillist a span.fontactive{ letter-spacing:2px; color:#fff;}
#userMenu .SUB_menu ul.group_list li h4.maillist a span.Numberactive{color:#fff; font-size:12px;}

/*==刪除子選單btn==*/
#userMenu .SUB_menu ul.group_list li h4 p.List_D{ float:left; display:block; width:18px; height:18px; line-height:18px; background: url(../images/user/user2012/user2012_menulist_l-dicom.gif) no-repeat left top;}

#userMenu .SUB_menu ul.group_list li.active h4 p.List_D{float:left; display:block; width:18px; height:18px; line-height:18px; background: url(../images/user/user2012/user2012_menulist_l-dicom.gif) no-repeat left -18px;}
/*#userMenu .SUB_menu ul.group_list li h4 p.List_D_active{ float:left; display:block; width:18px; height:18px; line-height:18px; background: url(../images/user/user2012/user2012_menulist_l-dicom.gif) no-repeat left -18px;}*/
#userMenu .SUB_menu ul.group_list li h4 a.btn_D{ text-indent:-9999px; float:left; display:block; width:18px; height:18px; line-height:18px; background:url(../images/user/user2012/user2012_menulist_l-dicom.gif) no-repeat left top;}
#userMenu .SUB_menu ul.group_list li h4 a.btn_D:hover{ text-indent:-9999px; float:left; display:block; width:18px; height:18px; line-height:18px; background:url(../images/user/user2012/user2012_menulist_l-dicom.gif) no-repeat -36px top #Fefefe;}

#userMenu .SUB_menu ul.group_list li h4 a.btn_D_active{text-indent:-9999px; float:left; display:block; width:18px; height:18px; line-height:18px; background:url(../images/user/user2012/user2012_menulist_l-dicom.gif) no-repeat left -18px;}
#userMenu .SUB_menu ul.group_list li h4 a.btn_D_active:hover{ text-indent:-9999px; float:left; display:block; width:18px; height:18px; line-height:18px; background:url(../images/user/user2012/user2012_menulist_l-dicom.gif) no-repeat -36px -18px;}

/*==左側廣告==*/
#userMenu .AD_wrapper{width:100%; padding:10px 0 5px 0;}
#userMenu .AD_wrapper h4.Title{width:145px; height:26px; color:#666666; font-size:15px; line-height:26px; overflow:hidden; text-indent:2px; padding: 0px 0px 10px 10px;}
#userMenu .AD_wrapper .AD_box{ padding:0 10px 10px 10px;}
#userMenu .AD_wrapper .AD_box a.AD_img{ width:151px; height:80px; padding:1px; border:1px solid #cdc5c5; display:block;overflow:hidden;}
#userMenu .AD_wrapper .AD_box a.AD_img img{ opacity:1.0;filter:alpha(opacity=100);}
#userMenu .AD_wrapper .AD_box a:hover.AD_img img{ opacity:0.8;filter:alpha(opacity=80);}
#userMenu .AD_wrapper .AD_box a.AD_img{ width:151px; height:80px; padding:1px; border:1px solid #cdc5c5; display:block;overflow:hidden;}
#userMenu .AD_wrapper .AD_box h5{ font-weight:normal; width:155px; height:26px; line-height:26px; overflow:hidden; text-indent:2px;}
#userMenu .AD_wrapper .AD_box h5 a{ font-size:12px; color:#454545;}
#userMenu .AD_wrapper .AD_box h5 a:hover{ color:#888888;}

#userMenu .AD_wrapper .AD_box h6{ font-weight:normal; width:155px; height:18px; line-height:18px; overflow:hidden; text-indent:2px;}
#userMenu .AD_wrapper .AD_box h6 a{ font-size:12px; color:#888888;}
#userMenu .AD_wrapper .AD_box h6 a:hover{ color:#454545;}
/*=====================側邊欄結束=====================*/


/*==下拉按鈕_開始==*/
.noticeshop_B{ position:relative;  /*height:0px; line-height:0px;*/ z-index:3;}
.noticebtn_B{ width:185px; border:1px solid #454545; border-width:2px; background-color:#fff; position:absolute; /*top:22px;*/ top:18px;right:0px;}
.noticebtn_B h3{ width:185px; height:20px; font-size:12px; text-align:center;  padding:3px 0px; line-height:18px; letter-spacing:2px; color:#Fbfbfb; background-color:#454545;  border-bottom:1px solid #cbcbcb;}
/*==通知來源_開始==*/
.noticebtn_B ul.shop_btn{float:left; width:185px;}
.noticebtn_B ul.shop_btn li{ float:left; width:185px;}
.noticebtn_B ul.shop_btn li h4{ margin:0 auto;    width:165px; padding:5px 10px; display:block; color:#333; font-size:13px; line-height:18px; text-decoration:none; letter-spacing:1px; background-color:#efefef; _display:inline-block; border-bottom:1px dotted #cbcbcb; }
.noticebtn_B ul.shop_btn li .textbox{ float:left; width:185px; border-bottom:1px dotted #cbcbcb;}
.noticebtn_B ul.shop_btn li p.text{ float:left;  margin:1px 0px 0px 0px; padding: 5px 0px 5px 10px; color:#333; font-size:13px; line-height:18px; text-decoration:none; letter-spacing:1px; _display:inline-block;  }
.noticebtn_B ul.shop_btn li p.text a{ display:block; text-decoration:none; width:155px; padding: 5px 20px 5px 0;}
.noticebtn_B ul.shop_btn li p.text a:hover{color: #3B5998; text-decoration:none;}
.noticebtn_B ul.shop_btn li .textbox .idimgbox{ float:left; width:30px; height:30px; margin:3px 5px; background-color:#f5f5f5;}
.noticebtn_B ul.shop_btn li .textbox .idimgbox a.imgbtn{ display:block; width:30px; height:30px;}
.noticebtn_B ul.shop_btn li .textbox .idimgbox a.imgbtn img.idimg{ width:30px; height:30px; display:block; overflow: hidden;}
.noticebtn_B ul.shop_btn li p.id_text{ float:left;  margin:1px 0px 0px 0px; padding: 5px 0px 5px 0px; color:#333; font-size:13px; line-height:24px; text-decoration:none; letter-spacing:1px; _display:inline-block;  }
.noticebtn_B ul.shop_btn li p.id_text a{ display:block; overflow:hidden; text-decoration:none; width:141px; height:24px; }
.noticebtn_B ul.shop_btn li p.id_text a:hover{color: #3B5998; text-decoration:none;}
/*刪除*/
.noticebtn_B ul.shop_btn li p.text a.btn_Delete{ background: url(../images/user/iconbtn.gif) no-repeat right -140px;}
.noticebtn_B ul.shop_btn li p.text a.btn_Delete:hover{  background-position: right -573px;}
/*確定*/
.noticebtn_B ul.shop_btn li p.text a.btn_Uiactive{ font-weight:bold; background: url(../images/user/iconbtn.gif) no-repeat right -1060px;}
.noticebtn_B ul.shop_btn li p.text a.btn_Uiactive:hover{}
.noticebtn_B ul.shop_btn li a.btn_D{ float:right; width:25px;  margin:1px 0px 0px 0px; font-size:13px; height:28px; line-height:28px; text-indent:-9999px; text-decoration:none; letter-spacing:1px; _display:inline-block; background:;}
.noticebtn_B ul.shop_btn li a.btn_D:hover{ background-position: -20px -22px;}
.noticebtn_B ul.shop_btn li a.btn_D:active{ background-position: -40px -22px;}
.noticebtn_B ul.shop_btn li a.text:hover{ background-color:#CCC;}
.noticebtn_B ul.shop_btn li a:active{}
/*==focusbtn_選定==*/
 ul.shop_list li a.focuslist{ border-left:1px solid #fff; color:#454545; text-shadow:none; }
/*==通知來源_結束==*/
/*==下拉按鈕_結束==*/


/*20130807_Evanna新增_引導主購開團*/
.mails_width980{ width:980px; margin: 0 auto;}
.mails_width790{ width:790px; margin: 0 auto;}
.main_float{ float:left;}
.guide_box{ float:right; width:173px; margin-top:50px; _display:inline;}
.guide_box .guide_title{ height:35px; background:url(../images/user/mails/bg_guide_title.jpg) repeat-x; border-top:1px #d8d8d8 solid; border-bottom:1px #bababa dotted;}
.guide_box .guide_title h3{ font-size:15px; font-weight:bold; color:#645447; line-height:35px; letter-spacing:1px; text-align:center;}
.guide_box .guide_content{ padding:15px 0;}
.guide_box .guide_content .group_box{ width:173px; border-bottom:1px #bababa dotted; margin-bottom:15px;}
.guide_box .guide_content .MarBot{ margin-bottom:0;}
.guide_box .guide_content .group_box .goods_pic{ width:160px; height:160px; padding-left:6px;}
.guide_box .guide_content .group_box h4{ width:160px; height:20px; line-height:20px; padding:5px 0 0 6px; letter-spacing:1px; overflow:hidden;}
.guide_box .guide_content .group_box h4 a{ display:block; font-size:13px; font-weight:normal; background:url(../images/user/mails/icon_store_normal.gif) no-repeat -2px 2px; padding-left:18px; text-decoration:none;}
.guide_box .guide_content .group_box h4 a:hover{ color:#999; text-decoration:none;}
.guide_box .guide_content .group_box p.shipping{ width:160px; height:20px; overflow:hidden; padding:2px 0 10px 24px; font-size:12px; letter-spacing:1px; color:#3B5998;}
.guide_box .guide_content .group_box p.shipping span{ font-size:15px; color:#f64949; font-weight:bold; padding: 0 2px;}

.guide_box .guide_content .group_box p.host_recomBox{ width:160px; height:20px; font-size:12px; color:#666; letter-spacing:0; padding:5px 0 0 6px; overflow:hidden;}
.guide_box .guide_content .group_box p.host_recomBox a.img_box{ width:18px; height:18px; margin-right:3px; color:#105cb6;}
.guide_box .guide_content .group_box p.host_recomBox a.img_box img{border: 1px solid #F5EAEA;font-size: 0; line-height:0;padding: 0; vertical-align: middle; width: 16px; height:16px;}
.guide_box .guide_content .group_box p.host_recomBox a{color:#105cb6;}
.guide_box .guide_content .group_box p.host_recomBox a span.rating{ color:#666;}
.guide_box .guide_content .group_box p.host_recomBox a span.rating:hover{ color:#888; text-decoration:none;}
.guide_box .guide_content .group_box p.event_name{width:165px; max-height:36px; line-height:18px; overflow:hidden; padding: 3px 0 0 8px; margin-bottom:10px;}
.guide_box .guide_content .group_box p.event_name a{ display:block;  font-size:12px; color:#105cb6; letter-spacing:1px;}

.guide_box .guide_content .find_event_box{ width:173px; background-color:#f8f8f8; padding:15px 0; border-bottom:1px #D8D8D8 solid;}
.guide_box .guide_content .find_event_box p{ font-size:12px; text-align:center; letter-spacing:1px;}
.guide_box .guide_content .find_event_box p a.find_event{ font-size:13px; color:#105cb6; text-decoration:underline; padding: 0 4px;}
.guide_box .guide_content .find_event_box p a.find_event:hover{ text-decoration:none;}


