@charset "UTF-8";
/**
ihergo Mobile Guideline
**/
/***--------------- Global Settings ---------------***/
:root {
	/*--- Colors ---*/
	/*愛合購品牌色 黃*/
	--ihergo_brand_yellow: #ffd800;
	/*愛合購品牌色 藍*/
	--ihergo_brand_blue: #57c2e9;
	/*警示 紅色*/
	--alert_red:#fb4e4e;
	/*gray-3F3F 深灰色*/
	--gray_3F:#3F3F3F;
	/*gray-555 深灰色*/
	--gray_555:#555555;
	/*gray-E5E5 淺灰色*/
	--gray_E5:#E5E5E5;
	/*gray-FB*/
	--gray_FB:#FBFBFB;
	/*gray-C3*/
	--gray_C3:#C3C3C3;
	/*gray-666*/
	--gray_666:#666666;
	/*gray-888*/
	--gray_888:#888888;
	/*gray-FC*/
	--gray_FC:#FCFCFC;
	/*gray-DF*/
	--gray_DF:#DFDFDF;
	/*gray-F7*/
	--gray_F7:#F7F7F7;


	/*--- Width ---*/
	/*最大寬度*/
	--max_w:600px;
	/*Header高度*/
	--header_h:50px;
}
/*--- 內容最大寬度 ---*/
.content_container{
	width:90%;
	margin:0 auto;
}
/*header fix*/
.top_fix{
margin-top:-52px;/*header height*/
width: 100%;
}
/*body fix*/
body.fix{
	height: 100%;
	overflow: hidden;
}
/*--- Input ---*/
input[type="text"]{
	color:var(--gray_666) !important;
}
/*--- Placeholder ---*/
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color:var(--gray_C3) !important;
}
::-moz-placeholder { /* Firefox 19+ */
	color:var(--gray_C3) !important;
}
::-ms-input-placeholder { /* IE 10+ */
	color:var(--gray_C3) !important;
}
::-moz-placeholder { /* Firefox 18- */
	color:var(--gray_C3) !important;
}
/*--- Radio Button/Checkbox 修正 ---*/
input[type=radio],
input[type=checkbox] {
	display: none;
}
label:before {
	content: "";
	display: inline-block;
	cursor: pointer;
}

/***--------------- Header樣式組合 ---------------***/
.wrapper .header_guideline { width: 100%; max-width: var(--max_w); height: var(--header_h); margin: 0 auto; border-bottom: 0; text-align: center; line-height: var(--header_h); font-size: 1rem; font-weight: bold; color: var(--gray_3F) !important; }
.wrapper .header_guideline .header_container { width: 100%; height: 100%; position: relative; }
.wrapper .header_guideline .header_container .header_text{
	width:80%;
	height: var(--header_h);
	line-height: var(--header_h);
	margin: 0 auto;
	overflow: hidden;
	white-space: nowrap; 
	text-overflow: ellipsis; 
}
/*關閉按鈕*/
.wrapper .header_guideline .header_container a.close_btn { width: 26px; height: 26px; position: absolute; top: calc((100% - 28px)/2); right: 13px; display: block; -webkit-transition: all .2s ease; -moz-transition: all .2s ease; -ms-transition: all .2s ease; -o-transition: all .2s ease; transition: all .2s ease; }
.wrapper .header_guideline .header_container a.close_btn:active { opacity: .15; background: transparent !important;}
.wrapper .header_guideline .header_container a.close_btn i.ic_header_close { width: 15px; height: 15px; background: url('../images/global/ic-header-close@2x.png') no-repeat; background-size: 15px auto; background-position: 50%; display: block; margin: 0 auto; position: relative; top: calc((100% - 15px)/2); }

/*返回按鈕*/
.wrapper .header_guideline .header_container a.back_btn { width: 26px; height: 26px; position: absolute; top: calc((100% - 28px)/2); left: 13px; display: block; -webkit-transition: all .2s ease; -moz-transition: all .2s ease; -ms-transition: all .2s ease; -o-transition: all .2s ease; transition: all .2s ease; }
.wrapper .header_guideline .header_container a.back_btn:active { opacity: .15; background: transparent !important;}
.wrapper .header_guideline .header_container a.back_btn i.ic_header_arrow_left { width: 11px; height: 20px; background: url('../images/global/ic-header-arrow-left@2x.png') no-repeat; background-size: 11px auto; background-position: 48% 50%; display: block; margin: 0 auto; position: relative; top: calc((100% - 20px)/2); }

/* header-close 關閉 */
.wrapper .header_guideline.header_close { background-color: var(--ihergo_brand_yellow) !important; }

/* header-back 回上一頁 */
.wrapper .header_guideline.header_back { background-color: var(--ihergo_brand_yellow) !important; }

/* header-back-close 回上一頁+關閉 */
.wrapper .header_guideline.header_back_close { background-color: var(--ihergo_brand_yellow) !important; }

/* header-close-white 關閉(白) */
.wrapper .header_guideline.header_close_white { background-color: white !important; border-bottom: 1px solid var(--gray_E5); }
.wrapper .header_close_white.scroll { background: rgba(255, 255, 255, .95) !important;}

/* header-close-white hero-banner 關閉(白 Hero內容 ) */
.wrapper .header_close_white.hero_banner { width: 100%; background: rgba(255, 255, 255, .8) !important; opacity: 1; backdrop-filter: blur(5px); -webkit-backdrop-filter: blur(5px); }
.wrapper .header_close_white.hero_banner .header_container { display: block; }
.wrapper .hero_banner.scroll { opacity: 1; }
.wrapper .hero_banner.scroll .header_container { display: block; }



.wrapper article.main_content { width: 100%; height: calc(100% - 50px); position: relative; }
/***--------------- Sub-header樣式組合 ---------------***/
.wrapper article.main_content .sub_header { }

/*下拉式選單*/
.wrapper article.main_content .sub_header .dropdown_bar { width: 100%; height: 50px; float: left; display: block; background: #ffffff; }
.wrapper article.main_content .sub_header .dropdown_bar select.sub_header_type_dropdown { width: 100%; border: 0; font-size: 0.8889rem; /*16px*/ font-weight: normal; color: var(--gray_555); text-indent: 22px; }
.wrapper article.main_content .sub_header .dropdown_bar select.sub_header_type_dropdown:active { color: var(--gray_555); }

/* jQuery Mobile 修正 */
.wrapper article.main_content .sub_header .dropdown_bar .ui-btn.ui-icon-carat-d.ui-btn-icon-right.ui-corner-all.ui-shadow { padding: 0; border: 0; border-radius: 0; box-shadow: none; width: 100%; height: 100%; line-height: 50px; background: url('../images/global/ic-dropdown@2x.png') #ffffff no-repeat; background-size: 13px 9px; background-position: 96% 50%; }
.wrapper article.main_content .sub_header .dropdown_bar .ui-select { margin: 0; }
.wrapper article.main_content .sub_header .dropdown_bar .ui-btn.ui-icon-carat-d.ui-btn-icon-right.ui-corner-all.ui-shadow .sub_header_type_dropdown { font-size: 0.8889rem; /*16px*/ font-weight: normal; color: var(--gray_555); text-indent: 6%; text-align: left; }
div.ui-btn.ui-icon-carat-d.ui-btn-icon-right.ui-corner-all.ui-shadow:after { display: none; }

/*搜尋Bar*/
.wrapper article.main_content .sub_header .search_bar { width: 100%; height: 50px; line-height: 50px; float: left; display: block; background: #ffffff; }
.wrapper article.main_content .sub_header .search_bar a.open_search_btn { width: 100%; height: 100%; display: none; }
.wrapper article.main_content .sub_header .search_bar a:active.open_search_btn { background: var(--gray_FB); }
.wrapper article.main_content .sub_header .search_bar a.open_search_btn i.ic_sub_header_search { width: 17px; height: 17px; background: url('../images/global/ic-sub-header-search@2x.png') no-repeat; background-size: cover; display: block; margin: 0 auto; position: relative; top: calc((100% - 17px)/2); }
.wrapper article.main_content .sub_header .search_bar .search_con { width: 95%; height: 100%; line-height: 50px; margin: 0 auto; }

/*回上一層按鈕*/
.wrapper article.main_content .sub_header .search_bar .search_con a.prev_step_link { width: 26px; height: 26px; display: none; position: relative; top: calc((100% - 26px)/2); float: left; }
.wrapper article.main_content .sub_header .search_bar .search_con a:active.prev_step_link { background: var(--gray_FB); }
.wrapper article.main_content .sub_header .search_bar .search_con a.prev_step_link i.ic_sub_header_arrow_left { width: 9px; height: 15px; background: url('../images/global/ic-sub-header-arrow-left@2x.png') no-repeat; background-size: cover; display: block; margin: 0 auto; position: relative; top: calc((100% - 15px)/2); }

/*輸入內容*/
.wrapper article.main_content .sub_header .search_bar .search_con input.search_text_field { height: 40px; border: 0; padding: 0 0 0 5px; font-size: 0.8889rem; /*16px*/ background: #ffffff; }

/*搜尋按鈕*/
.wrapper article.main_content .sub_header .search_bar .search_con a.search_btn { width: 26px; height: 26px; display: block; margin-top: 12px; float: left; }
.wrapper article.main_content .sub_header .search_bar .search_con a:active.search_btn { background: var(--gray_FB); }
.wrapper article.main_content .sub_header .search_bar .search_con a.search_btn i.ic_sub_header_search { width: 17px; height: 17px; background: url('../images/global/ic-sub-header-search@2x.png') no-repeat; background-size: cover; display: block; margin: 0 auto; position: relative; top: calc((100% - 17px)/2); }

/* jQuery Mobile 修正 */
.wrapper article.main_content .sub_header .search_bar .search_con .ui-input-text.ui-body-inherit.ui-corner-all.ui-shadow-inset { width: calc(100% - 26px); height: 40px; box-shadow: none; float: left; margin-top: 5px; }

/* sub-header-dropdown */
.wrapper article.main_content .sub_header.sub_header_dropdown { }

/* sub-header-search */
.wrapper article.main_content .sub_header.sub_header_search { }

/* sub-header-dropdown-search */
.wrapper article.main_content .sub_header.sub_header_dropdown_search { }
.wrapper article.main_content .sub_header.sub_header_dropdown_search .dropdown_bar { width: 84%; border-right: 1px solid var(--gray_E5); border-bottom: 1px solid var(--gray_E5); }
.wrapper article.main_content .sub_header.sub_header_dropdown_search .search_con { display: none; }
.wrapper article.main_content .sub_header.sub_header_dropdown_search .search_bar { width: calc(16% - 1px); height: 50px; border-bottom: 1px solid var(--gray_E5); }
.wrapper article.main_content .sub_header.sub_header_dropdown_search .search_bar.expand { width: 100%; }
.wrapper article.main_content .sub_header.sub_header_dropdown_search .search_bar.expand .search_con a.prev_step_link { display: block; }
.wrapper article.main_content .sub_header.sub_header_dropdown_search .search_bar a.open_search_btn { display: block; }
.wrapper article.main_content .sub_header.sub_header_dropdown_search .search_bar a.search_btn { display: none; }

/***--------------- Card 樣式組合 ---------------***/

/* card_product */
.wrapper article.main_content .card_product { width: calc(100% - 6px); height: calc(100% - 6px); border-radius: 5px; border: solid 3px transparent; position: relative; cursor: pointer; }
.wrapper article.main_content .card_product .product_img { width: calc(100% + 4px); height: calc(100% + 4px); border-radius: 5px; border: 1px solid var(--gray_E5); position: relative; top: -3px; left: -3px; }
.wrapper article.main_content .card_product .product_img img { width: 100.05%; height: 100%; border-radius: 4px; }

/*商品內文*/
.wrapper article.main_content .card_product .product_description_con { width: calc(100% + 6px); position: absolute; left: -3px; bottom: -3px; background-color: rgba(84, 73, 77, 0.65); border-radius: 0 0 5px 5px; color: #ffffff; }
.wrapper article.main_content .card_product .product_description_con .content_box { padding: 10px; }
.wrapper article.main_content .card_product .product_description_con .content_box .product_title { width: 100%; max-height: 42px; overflow: hidden; font-size: 0.6667rem; /*12px*/ font-weight: bold; line-height: 150%; color: #ffffff; display: block; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 2; overflow: hidden; }
.wrapper article.main_content .card_product .product_description_con .content_box .product_price { width: 100%; height: 12px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; font-size: 0.6111rem; /*11px*/ color: #ffffff; }
.wrapper article.main_content .card_product .select_btns { width: 24px; height: 24px; position: absolute; top: 10px; right: 10px; display: block; }

/*選取按鈕  jQuery Mobile 修正*/
.wrapper article.main_content .card_product .select_btns .ui-checkbox { margin: 0; }
.wrapper article.main_content .card_product .select_btns label.ui-btn.ui-corner-all.ui-btn-inherit.ui-btn-icon-left.ui-checkbox-off { border: 0; padding: 0; background: transparent; border: 0; padding: 0; background: transparent; margin-left: -10px; }
.wrapper article.main_content .card_product .select_btns label.ui-btn.ui-corner-all.ui-btn-inherit.ui-btn-icon-left.ui-checkbox-on { border: 0; padding: 0; background: transparent; }
/*選取按鈕 -  已選取*/
.wrapper article.main_content .card_product .select_btns label.ui-btn.ui-corner-all.ui-btn-inherit.ui-btn-icon-left.ui-checkbox-on:after { width: 24px; height: 24px; background: url('../images/global/ic-card-l-selected@2x.png') no-repeat; background-size: cover; display: block; margin: 0 auto; -webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.15); -moz-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.15); box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.15); border-radius: 50%; position: relative; top: -20px; left: 0px; }
/*選取按鈕 -  未選取*/
.wrapper article.main_content .card_product .select_btns label.ui-btn.ui-corner-all.ui-btn-inherit.ui-btn-icon-left.ui-checkbox-off:after { width: 24px; height: 24px; background: url('../images/global/ic-card-l-select@2x.png') no-repeat; background-size: cover; display: block; margin: 0 auto; -webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.15); -moz-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.15); box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.15); border-radius: 50%; opacity: 1; position: relative; top: -20px; left: 5px; }


/* card_product_select 已選狀態 */
.wrapper article.main_content .card_product.card_product_select { width: calc(100% - 6px); height: calc(100% - 6px); border: solid 3px var(--ihergo_brand_blue); }
.wrapper article.main_content .card_product.card_product_select .product_img { width: 100%; height: 100%; border-radius: 8px; border: 3px solid var(--ihergo_brand_blue); }
.wrapper article.main_content .card_product.card_product_select .product_img img { border-radius: 3px; }
.wrapper article.main_content .card_product.card_product_select .product_img:before { content: ''; width: 100%; height: 100%; position: absolute; background: var(--ihergo_brand_blue); opacity: .4; }
.wrapper article.main_content .card_product.card_product_select .product_description_con { border-radius: 0 0 5px 5px; width: calc(100% + 6px); position: absolute; left: -3px; bottom: -3px; background-color: rgba(84, 73, 77, 0.65); border-radius: 0 0 5px 5px; color: #ffffff; }

/* card_product_small */
.wrapper article.main_content .card_product_small { width: 130px; height: 130px; border-radius: 5px; border: solid 3px transparent; position: relative; cursor: pointer; }
.wrapper article.main_content .card_product_small .product_img { width: calc(100% - 2px); height: calc(100% - 2px); border-radius: 5px; border: 1px solid var(--gray_E5); }
.wrapper article.main_content .card_product_small .product_img img { width: 100%; height: 100%; border-radius: 4px; }

/*商品內文*/
.wrapper article.main_content .card_product_small .product_description_con { width: calc(100% - 2px); position: absolute; left: 1px; bottom: 0px; background-color: rgba(84, 73, 77, 0.65); border-radius: 0 0 5px 5px; color: #ffffff; }
.wrapper article.main_content .card_product_small .product_description_con .content_box { padding: 10px; }
.wrapper article.main_content .card_product_small .product_description_con .content_box .product_title { width: 100%; max-height: 42px; overflow: hidden; font-size: 0.6667rem; /*12px*/ font-weight: bold; line-height: 150%; color: #ffffff; display: block; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 2; overflow: hidden; }
.wrapper article.main_content .card_product_small .product_description_con .content_box .product_price { width: 100%; height: 12px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; font-size: 0.5556rem; /*10px*/ color: #ffffff; }


/* card_img_action_btn */
.wrapper article.main_content .card_img_action_btn { width: 100%; height: 100%; border-radius: 10px; border: 1px solid #EBEBEB; background: var(--gray_E5); position: relative; }
.wrapper article.main_content .card_img_action_btn .item_img { width: 100%; height: 100%; }
.wrapper article.main_content .card_img_action_btn .item_img img { width: 100%; height: 100%; border-radius: 10px; }
.wrapper article.main_content .card_img_action_btn .action_btn { width: 30px; height: 30px; position: absolute; top: 10px; right: 10px; }
.wrapper article.main_content .card_img_action_btn .action_btn a.img_remove_btn { width: 100%; height: 100%; border-radius: 5px; background-color: rgba(0, 0, 0, 0.4); display: block; position: relative; }
.wrapper article.main_content .card_img_action_btn .action_btn a.img_remove_btn:active { background-color: rgba(0, 0, 0, 0.6); }
.wrapper article.main_content .card_img_action_btn .action_btn a.img_remove_btn i.ic_card_img_delete { width: 16px; height: 18px; background: url('../images/global/ic-card-img-delete@2x.png') no-repeat; background-size: 16px auto; position: absolute; top: 0; bottom: 0; left: 0; right: 0; margin: auto; display: block; }
.wrapper article.main_content .card_img_action_btn span.tag {}
.wrapper article.main_content .card_img_action_btn.cover .tag:before { content: '封面照片'; background-color: rgba(0, 0, 0, 0.6); position: absolute; bottom: 10%; left: 0; font-size: 0.6111rem; /*11px*/ color: #ffffff; padding: 4px 6px; display: block; }

/* card_list */
.wrapper article.main_content .card_list { width: 96%; margin:0 auto 20px auto; }
.wrapper article.main_content .card_list li { list-style: none; width: 100%; }
.wrapper article.main_content .card_list li.card_content {}

/* card_list_action_btn_select */
.wrapper article.main_content .card_list_action_btn { width: calc(100% - 2px); height: 50px; line-height: 50px; border-radius: 5px; background-color: #f4f4f4; border: solid 1px var(--gray_E5); color: var(--gray_555); margin-left: -1px; margin-bottom:15px;}
.wrapper article.main_content .card_list_action_btn .content { width: calc(100% - 63px); height: 50px; float: left; display: inline-block; margin-left:15px;}
.wrapper article.main_content .card_list_action_btn .content span.content_box { width: 100%; height: 50px; font-size: 0.7222rem;/*13px*/ color: var(--gray_555); overflow: hidden; white-space: nowrap; text-overflow: ellipsis; display: block; }
.wrapper article.main_content .card_list_action_btn .right { width: 20px; height: 50px; float: left; margin-left: 14px; margin-right: 14px; display: inline-block; }
.wrapper article.main_content .card_list_action_btn .right a.content_modify_btn { width: 20px; height: 20px; display: block; position: relative; top: calc((100% - 20px)/2); }
.wrapper article.main_content .card_list_action_btn .right a.content_modify_btn:active { background: transparent; opacity: .8;}
.wrapper article.main_content .card_list_action_btn .right a.content_modify_btn i.ic_card_list_edit { width: 20px; height: 20px; background: url('../images/global/ic-card-list-edit@2x.png') no-repeat; background-size: cover; display: block; }
/*ON*/
.wrapper article.main_content .card_list_action_btn.on { width: calc(100% - 4px); height: 50px; line-height: 50px; background-color: #ecf7fc; border-radius: 5px; border: solid 2px var(--ihergo_brand_blue); color: var(--gray_555); margin-left: -2px; }
.wrapper article.main_content .card_list_action_btn.on .right a.content_modify_btn i.ic_card_list_edit { width: 20px; height: 20px; background: url('../images/global/ic-card-list-edit-blue@2x.png') no-repeat; background-size: cover; display: block; }


/* card_list_action_btn_select */
.wrapper article.main_content .card_list_action_btn_select { width: calc(100% - 2px); height: 50px; line-height: 50px; border-radius: 5px; background-color: #f4f4f4; border: solid 1px var(--gray_E5); color: var(--gray_555); margin-left: -1px; margin-bottom:15px;}
.wrapper article.main_content .card_list_action_btn_select .left { width: 20px; height: 50px; float: left; margin-left: 12px; margin-right: 10px; display: inline-block; }
/*選取按鈕  jQuery Mobile 修正*/
.wrapper article.main_content .card_list_action_btn_select .left .ui-checkbox { margin: 0; height: 20px; position: relative; top: calc((100% - 20px)/2); }
.wrapper article.main_content .card_list_action_btn_select .left label.ui-btn.ui-corner-all.ui-btn-inherit.ui-btn-icon-left.ui-checkbox-off { width: 20px; height: 20px; border: 0; padding: 0; background: transparent; border: 0; padding: 0; background: transparent; }
.wrapper article.main_content .card_list_action_btn_select .left label.ui-btn.ui-corner-all.ui-btn-inherit.ui-btn-icon-left.ui-checkbox-on { width: 20px; height: 20px; border: 0; padding: 0; background: transparent; }
/*選取按鈕 -  已選取*/
.wrapper article.main_content .card_list_action_btn_select .left label.ui-btn.ui-corner-all.ui-btn-inherit.ui-btn-icon-left.ui-checkbox-on:after { width: 20px; height: 20px; background: url('../images/global/ic-card-s-selected@2x.png') no-repeat; background-size: cover; display: block; margin: 0 auto; border-radius: 50%; position: relative; top: -20px; left: 0px; }
/*選取按鈕 -  未選取*/
.wrapper article.main_content .card_list_action_btn_select .left label.ui-btn.ui-corner-all.ui-btn-inherit.ui-btn-icon-left.ui-checkbox-off:after { width: 20px; height: 20px; background: url('../images/global/ic-card-s-select@2x.png') no-repeat; background-size: cover; display: block; margin: 0 auto; border-radius: 50%; opacity: 1; position: relative; top: -20px; left: 0px; }
.wrapper article.main_content .card_list_action_btn_select .content { width: calc(100% - 90px); height: 50px; float: left; display: inline-block; }
.wrapper article.main_content .card_list_action_btn_select .content span.content_box { width: 100%; height: 50px; font-size: 0.7222rem;/*13px*/ color: var(--gray_555); overflow: hidden; white-space: nowrap; text-overflow: ellipsis; display: block; }
.wrapper article.main_content .card_list_action_btn_select .right { width: 20px; height: 50px; float: left; margin-left: 14px; margin-right: 14px; display: inline-block; }
.wrapper article.main_content .card_list_action_btn_select .right a.content_modify_btn { width: 20px; height: 20px; display: block; position: relative; top: calc((100% - 20px)/2); }
.wrapper article.main_content .card_list_action_btn_select .right a.content_modify_btn:active { background: transparent; opacity: .8; }
.wrapper article.main_content .card_list_action_btn_select .right a.content_modify_btn i.ic_card_list_edit { width: 20px; height: 20px; background: url('../images/global/ic-card-list-edit@2x.png') no-repeat; background-size: cover; display: block; }
/*ON*/
.wrapper article.main_content .card_list_action_btn_select.on { width: calc(100% - 4px); height: 50px; line-height: 50px; background-color: #ecf7fc; border-radius: 5px; border: solid 2px var(--ihergo_brand_blue); color: var(--gray_555); margin-left: -2px; }
.wrapper article.main_content .card_list_action_btn_select.on .right a.content_modify_btn i.ic_card_list_edit { width: 20px; height: 20px; background: url('../images/global/ic-card-list-edit-blue@2x.png') no-repeat; background-size: cover; display: block; }

/***--------------- Form 樣式組合 ---------------***/
/*通用 guideline_form*/
.wrapper article.main_content .guideline_form { width: 90%; margin: 0 auto; border-bottom: 1px solid var(--gray_E5); }
.wrapper article.main_content .guideline_form label.title { width: 100%; height: 18px; display: block; margin: 17px 0 15px 0; font-size: 0.7778rem;/*14px*/ font-weight: bold; color: var(--gray_888); line-height: 18px; }
.wrapper article.main_content .guideline_form label.title small { font-size: 0.6667rem;/*12px*/ margin-left: 4px; line-height: 18px; position: relative; top: -1px; }

/* form_single_line_text_field */
/*jQuery Mobile 修正*/
.wrapper article.main_content .form_single_line_text_field .ui-input-text.ui-body-inherit.ui-corner-all.ui-shadow-inset { box-shadow: none; }
.wrapper article.main_content .form_single_line_text_field input { min-height: 0; border: 0; background: transparent; box-shadow: none; margin-bottom: 20px; padding: 0; font-size: 14px; font-weight: 300; line-height: 1.8 !important; color: var(--gray-C3) !important; }

/* form_text_field_combination */
.wrapper article.main_content .form_text_field_combination .container { width: 100%; margin-bottom: 20px; }
.wrapper article.main_content .form_text_field_combination .container .left { width: 90%; height: 50px; float: left; }
.wrapper article.main_content .form_text_field_combination .container .left textarea { width: 100%; height: 50px !important; min-height: 50px; border: 0; background: transparent; box-shadow: none; padding: 0; font-size: 14px; font-weight: 300; line-height: 1.8 !important; color: var(--gray-C3) !important; }
.wrapper article.main_content .form_text_field_combination .container .right { width: 10%; height: 50px; float: left; position: relative; }
.wrapper article.main_content .form_text_field_combination .container .right a.arrow_right_btn { width: 26px; height: 26px; display: block; position: absolute; top: calc((100% - 26px)/2); right: 0; }
.wrapper article.main_content .form_text_field_combination .container .right a.arrow_right_btn:active{
	background: var(--gray_FB);
}
.wrapper article.main_content .form_text_field_combination .container .right a.arrow_right_btn i.ic_arrow_right { width: 9px; height: 15px; background: url('../images/global/ic-arrow-right@2x.png') no-repeat; background-size: cover; display: block; margin: 0 auto; position: relative; top: calc((100% - 15px)/2); }
/* No Arrow*/
.wrapper article.main_content .form_text_field_combination.no_arrow .container .left { width: 100%; }
.wrapper article.main_content .form_text_field_combination.no_arrow .container .right { display: none; }


/***--------------- Footer 樣式組合 ---------------***/
.wrapper .bottom_container { width: 100%; max-width:var(--max_w); height: 50px; position: fixed; bottom: 0; z-index: 999; }
.wrapper .bottom_container.modal { left: 50%; }
.wrapper .bottom_container a.bottom_page_footer { width: 100%; height:50px; line-height:50px; background-color: var(--ihergo_brand_blue); border: 0; color: #ffffff; font-size: 0.8889rem;/*16px*/ font-weight: bold; text-align: center; text-decoration: none; display: block; }
.wrapper .bottom_container a:active.bottom_page_footer { background-color: #4abee8; }

/***--------------- Button Sheet 樣式組合 ---------------***/
.wrapper .action_button_sheet_container{
	width:100%;
	height: 100%;
	position: fixed;
	bottom:0;
	z-index: 1001;
	display: none;
}
.wrapper .action_button_sheet_container .mask_modal{
	width:100%;
	max-width: var(--max_w);
	height: 100%;
	background: rgba(0,0,0,.7);
	margin: 0 auto;
	display: none;
}
.wrapper .action_button_sheet_container ul.button_list{
	width:100%;
	position: absolute;
	bottom:-100%;
	-webkit-transition: bottom .3s;
	   -moz-transition: bottom .3s;
	    -ms-transition: bottom .3s;
	     -o-transition: bottom .3s;
	        transition: bottom .3s;
}
.wrapper .action_button_sheet_container .button_list.slideup{
    animation-name: slideup;
    animation-duration: .3s;
    bottom:0;
}
@keyframes slideup {
    from {bottom:-100%;}
    to {bottom:0;}
}
.wrapper .action_button_sheet_container ul.button_list li.button_content{
	list-style: none;
	width: 100%;
	height: 60px;
	line-height: 60px;
	max-width: var(--max_w);
	background: #ffffff;
	margin: 0 auto;
}
.wrapper .action_button_sheet_container ul.button_list li.button_content a.action_btn{
	width:100%;
	height:calc(100% - 1px);
	line-height: 59px;
	text-align: center;
	text-decoration: none;
	font-size: 0.8889rem;/*16px*/
	font-weight: normal;
	color:var(--gray_888);
	display: block;
}
.wrapper .action_button_sheet_container ul.button_list li.button_content a:active.action_btn{
	background: var(--gray_FB);
}
.wrapper .action_button_sheet_container ul.button_list li.button_content .btn_divider{
	width:90%;
	height: 1px;
	background: var(--gray_E5);
	margin: 0 auto;
}
.wrapper .action_button_sheet_container ul.button_list li.button_content .action_btn.cancel{
	color:var(--gray_555);
	font-weight: bold;
}