@charset "UTF-8";
.full_page { height: 100%; }

/*合購目標*/
.wrapper .event_main article.main_content .set_target_content { width: 100%; height: 100%; background: var(--ihergo_brand_yellow); }
.wrapper .event_main article.main_content .set_target_content .set_target_container { position: relative; top: calc((100% - 354px)/2); }
.wrapper .event_main article.main_content .set_target_content .target_img { width: 62px; height: 62px; margin: 0 auto; }
.wrapper .event_main article.main_content .set_target_content .target_img i.ic_modal_event_target { width: 62px; height: 62px; display: block; background: url('../images/start_event/ic-modal-event-target@2x.png') no-repeat; background-size: 62px; }
.wrapper .event_main article.main_content .set_target_content .target_info_text { width: 70%; max-width: 270px; font-size: 0.7778rem; /*14px*/ line-height: 1.8; text-align: center; color: var(--gray_555); margin: 15px auto 30px auto; }
.wrapper .event_main article.main_content .set_target_content .target_info_text span.title { width: 100%; font-size: 1rem; font-weight: bold; color: var(--gray_3F); display: block; margin-bottom: 14px; }
.wrapper .event_main article.main_content .set_target_content .guideline_form.form_dropdown { width: 80%; max-width: 300px; height: 50px; border-bottom: 0; }
.wrapper .event_main article.main_content .set_target_content .form_dropdown .container .ui-btn.ui-icon-carat-d.ui-btn-icon-right.ui-corner-all.ui-shadow { background: url('../images/global/ic-dropdown@2x.png') #ffffff no-repeat; background-size: 13px 9px; background-position: 95% 50%; }
.wrapper .event_main article.main_content .set_target_content .form_dropdown .container .ui-btn.ui-icon-carat-d.ui-btn-icon-right.ui-corner-all.ui-shadow { border-radius: 4px; height: 50px; }
.wrapper .event_main article.main_content .set_target_content .form_dropdown .container .ui-btn.ui-icon-carat-d.ui-btn-icon-right.ui-corner-all.ui-shadow .form_dropdown_select { width: 90%; margin-left: 5%; line-height: 50px; }
.wrapper .event_main article.main_content .set_target_content .guideline_form.form_card_combination { width: 189px; border: 0; padding: 0; }
.wrapper .event_main article.main_content .set_target_content .guideline_form.form_card_combination .card_container { background: transparent; }
.wrapper .event_main article.main_content .set_target_content .guideline_form.form_card_combination .card_container ul.card_form_container { margin: 0 auto; padding: 0; }
.wrapper .event_main article.main_content .set_target_content .guideline_form.form_card_combination .card_container ul.card_form_container li.form_content label.ui-btn.ui-corner-all.ui-btn-inherit.ui-btn-icon-left.ui-radio-on:after { width: 20px; height: 20px; background: url('../images/global/ic-radio-button-white-s-selected@2x.png') no-repeat; background-size: cover; display: block; border-radius: 50%; opacity: 1; position: relative; top: -11px; left: 0px; border: 0; }
.wrapper .event_main article.main_content .set_target_content .guideline_form.form_card_combination .card_container ul.card_form_container li.form_content label.ui-btn.ui-corner-all.ui-btn-inherit.ui-btn-icon-left.ui-radio-off:after { width: 20px; height: 20px; background: url('../images/global/ic-radio-button-white-s-select@2x.png') no-repeat; background-size: cover; display: block; border-radius: 50%; opacity: 1; position: relative; top: -11px; left: 0px; border: 0; }

/*建議開團*/
.wrapper article.main_content .suggestion_bubble_container { position: absolute; bottom: 14px; right: 18px; width: 141px; }
.wrapper article.main_content .suggestion_bubble_container a.bubble_box { width: 50px; height: 50px; background: #36a7d0; box-shadow: 0 1.5px 3px 0 rgba(0, 0, 0, 0.2); border-radius: 50%; position: relative; float: right; cursor: pointer; display: block; }
.wrapper article.main_content .suggestion_bubble_container a.bubble_box:active { background: #329BC1; }
.wrapper article.main_content .suggestion_bubble_container a.bubble_box i.ic_modal_icon_light { width: 17px; height: 28px; display: block; background: url('../images/start_event/ic-modal-icon-light@2x.png') no-repeat; background-size: 17px 28px; margin: 0 auto; position: relative; top: 11px; }
.wrapper article.main_content .suggestion_bubble_container .bubble_txt { font-size: 0.7222rem;/*13px*/ color: #ffffff; border-radius: 20px; background-color: #35a7d0; padding: 6px 12px; position: absolute; top: -40px; -webkit-animation: bubble_show 3s ease; -o-animation: bubble_show 3s ease; animation: bubble_show 3s ease; opacity: 0; }
.wrapper article.main_content .suggestion_bubble_container .bubble_txt:after { content: ''; display: block; width: 6px; height: 8px; background: url('../images/start_event/ic-modal-icon-bubble@2x.png') no-repeat; background-size: 6px 7.2px; position: absolute; top: 28px; right: 44px; }
.wrapper .popup_screen.suggestion_bubble .mask_modal { background:#333333; top: 0; }
.wrapper .popup_screen.suggestion_bubble .suggestion_container { width: 100%; height: 100%; max-width: var(--max_w); margin: 0 auto; position: absolute; top: 0; z-index: 1; overflow: scroll; display: none;}
.wrapper .popup_screen.suggestion_bubble a.popup_close_btn { z-index: 2; }
.wrapper .popup_screen.suggestion_bubble .popup_container_noclose { width: 100%; max-width: var(--max_w); height: 100%; position: relative; top: 0; text-align: center; margin: 0 auto; }
.wrapper .popup_screen.suggestion_bubble .suggestion_container .suggestion_content { width: 100%; margin: 0 auto; }
.wrapper .popup_screen.suggestion_bubble .suggestion_container .suggestion_content i.ic_modal_light_up { width: 34px; height: 55px; margin: 50px auto 15px auto; display: block; background: url('../images/start_event/ic-modal-light-up@2x.png') no-repeat; background-size: 34px auto; }
.wrapper .popup_screen.suggestion_bubble .suggestion_container .suggestion_content span.modal_title { font-size: 0.7778rem;/*14px*/ font-weight: bold; color: #ffffff; display: block; text-align: center; margin-bottom: 20px; }
.wrapper .popup_screen.suggestion_bubble li.card_content .card_product .product_img { border: solid 1px #666666; }
@-webkit-keyframes bubble_show {
	0% { opacity: 1; }
	10% { opacity: 1; }
	20% { opacity: 1; }
	30% { opacity: 1; }
	40% { opacity: 1; }
	50% { opacity: 1; }
	60% { opacity: 1; }
	70% { opacity: 1; }
	80% { opacity: 1; }
	90% { opacity: 1; }
	100% { opacity: 0 }
}
@-moz-keyframes bubble_show {
	0% { opacity: 1; }
	10% { opacity: 1; }
	20% { opacity: 1; }
	30% { opacity: 1; }
	40% { opacity: 1; }
	50% { opacity: 1; }
	60% { opacity: 1; }
	70% { opacity: 1; }
	80% { opacity: 1; }
	90% { opacity: 1; }
	100% { opacity: 0 }
}
@-ms-keyframes bubble_show {
	0% { opacity: 1; }
	10% { opacity: 1; }
	20% { opacity: 1; }
	30% { opacity: 1; }
	40% { opacity: 1; }
	50% { opacity: 1; }
	60% { opacity: 1; }
	70% { opacity: 1; }
	80% { opacity: 1; }
	90% { opacity: 1; }
	100% { opacity: 0 }
}
@-o-keyframes bubble_show {
	0% { opacity: 1; }
	10% { opacity: 1; }
	20% { opacity: 1; }
	30% { opacity: 1; }
	40% { opacity: 1; }
	50% { opacity: 1; }
	60% { opacity: 1; }
	70% { opacity: 1; }
	80% { opacity: 1; }
	90% { opacity: 1; }
	100% { opacity: 0 }
}
@keyframes bubble_show {
	0% { opacity: 1; }
	10% { opacity: 1; }
	20% { opacity: 1; }
	30% { opacity: 1; }
	40% { opacity: 1; }
	50% { opacity: 1; }
	60% { opacity: 1; }
	70% { opacity: 1; }
	80% { opacity: 1; }
	90% { opacity: 1; }
	100% { opacity: 0 }
}
#event_target_store .event_main { height: calc(100vh - 100px); }
#event_target_custom .event_main { height: calc(100vh - 100px); }
#start_event_index_empty .event_main { height: calc(100vh - 100px); }
#details_set_date .set_details { height: calc(100vh - 100px); }
#details_recommend .set_details, #details_notify .set_details { height: calc(100vh - 140px); }
#details_transfer_add_meeting .set_details, #details_transfer_modify_meeting .set_details { height: calc(100vh - 100px); }
#details_set_type .set_details { height: calc(100vh - 50px); background: #ffffff; max-width: var(--max_w); margin: 0 auto; }
#details_set_type_sub .set_details { height: calc(100vh - 50px); background: #ffffff; max-width: var(--max_w); margin: 0 auto; }
#done .event_main { height: calc(100vh - 50px); background: #ffffff; max-width: var(--max_w); margin: 0 auto; }
.wrapper .event_main article.main_content .union_items_container { width: 100%; height: 100%; max-width: var(--max_w); background: var(--gray_FC); }
.wrapper .event_main article.main_content .union_items_container .content_container { padding: 18px 0; }
.wrapper .event_main article.main_content .union_items_container .content_container .items_tool_bar { }
.wrapper .event_main article.main_content .union_items_container .content_container .items_tool_bar .select_all_btn { width: 114px; height: 30px; border-radius: 4px; background: url('../images/start_event/ic-btn-s-choose-all@2x.png') var(--ihergo_brand_blue) no-repeat; background-size: 11px auto; background-position: 11px 50%; display: inline-block; text-align: center; text-decoration: none; text-indent: 11px; font-size: 0.6667rem; /*12px*/ color: #ffffff; line-height: 30px }
.wrapper .event_main article.main_content .union_items_container .content_container .items_tool_bar .cancel_all_btn { width: 114px; height: 30px; border-radius: 4px; background: url('../images/start_event/ic-btn-s-cancel-all@2x.png') var(--alert_red) no-repeat; background-size: 11px auto; background-position: 11px 50%; display: block; text-align: center; text-decoration: none; text-indent: 12px; font-size: 0.6667rem; /*12px*/ color: #ffffff; line-height: 30px }
.wrapper .event_main article.main_content .union_items_container .content_container .items_tool_bar .item_summary_text { font-size: 0.7222rem;/*13px*/ color: var(--gray_888); line-height: 30px; display: inline-block; float: right; }
.wrapper .union_items_container .content_container .items_grid_con { margin-top: 18px; margin-bottom: 50px; }
.wrapper .union_items_container .content_container .items_grid_con ul.card_grid { min-width: 288px; margin: 0 auto; }
.wrapper .union_items_container .content_container .items_grid_con ul.card_grid li.card_content { width: 48%; min-width: 138px; min-height: 138px; list-style: none; display: block; margin: 0 4% 20px 0; float: left; }
.wrapper .union_items_container .content_container .items_grid_con ul.card_grid li.card_content:nth-of-type(2n) { margin-right: 0; }

/*新增自訂商品按鈕*/
.wrapper .event_main article.main_content .union_items_container .content_container .items_grid_con ul.card_grid li.card_content a.add_new_item_btn { width: 100%; height: 100%; border-radius: 5px; background: var(--gray_DF); display: block; text-decoration: none; position: relative; }
.wrapper .event_main article.main_content .union_items_container .content_container .items_grid_con ul.card_grid li.card_content a:active.add_new_item_btn { background: #CCCCCC; }
.wrapper .event_main article.main_content .union_items_container .content_container .items_grid_con ul.card_grid li.card_content a.add_new_item_btn .btn_content { width: 100%; height: 76px; position: absolute; top: 0; right: 0; bottom: 0; left: 0; margin: auto; text-align: center; }
.wrapper .event_main article.main_content .union_items_container .content_container .items_grid_con ul.card_grid li.card_content a.add_new_item_btn .btn_content i.ic_card_icon_add_new { width: 47px; height: 47px; background: url('../images/global/ic-card-icon-add-new@2x.png') no-repeat; background-size: cover; display: block; margin: auto; }
.wrapper .event_main article.main_content .union_items_container .content_container .items_grid_con ul.card_grid li.card_content a.add_new_item_btn .btn_content p { font-size: 0.7778rem; /*14px*/ font-weight: bold; color: #ffffff; margin-top: 11px; }

/*推薦商品*/
.wrapper .event_main article.main_content .items_recommendation { width: 100%; position: absolute; bottom: 26px; background: var(--gray_FC); }
.wrapper .event_main article.main_content .items_recommendation span.title { width: 100%; display: block; font-size: 0.7778rem; /*14px*/ font-weight: bold; color: var(--gray_555); }
.wrapper .event_main article.main_content .items_recommendation  .thumbnail_list_con { width: 100%; overflow-x: auto; overflow-y: hidden; }
.wrapper .event_main article.main_content .items_recommendation  ul.card_grid_small { height: 135px; margin-left: calc(5% - 5px); margin-top: 18px; }
.wrapper .event_main article.main_content .items_recommendation  ul.card_grid_small li.card_content { width: 130px; list-style: none; display: block; margin: 0 15px 0 0; float: left; }

/*商品slider*/
.wrapper .event_main article.main_content .item_slider_con { width: 100%; }

/* 商品詳細內容 */
.wrapper .item_details { background: #ffffff; }
.wrapper .item_details article.main_content .header_hero_container { width: 100%; background: var(--gray_F7); position: relative; overflow: hidden; }
.wrapper .item_details article.main_content .header_hero_container:before { content: ''; width: 100%; height: 98px; display: block; background: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 23%, rgba(0, 0, 0, 0.2) 100%); background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 23%, rgba(0, 0, 0, 0.2) 100%); background: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 23%, rgba(0, 0, 0, 0.2) 100%); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#6b000000', GradientType=0); position: absolute; top: 0; }
.wrapper .item_details article.main_content .header_hero_container:after { content: ''; width: 100%; height: 98px; display: block; background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 23%, rgba(0, 0, 0, 0.2) 100%); background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 23%, rgba(0, 0, 0, 0.2) 100%); background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 23%, rgba(0, 0, 0, 0.2) 100%); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#6b000000', GradientType=0); position: absolute; bottom: 0; }

/*關閉按鈕*/
.wrapper .item_details article.main_content .header_hero_container a.close_btn { width: 26px; height: 26px; position: absolute; top: calc((var(--header_h) - 28px)/2); right: 13px; display: block; -webkit-transition: all .2s ease; -moz-transition: all .2s ease; -ms-transition: all .2s ease; -o-transition: all .2s ease; transition: all .2s ease; }
.wrapper .item_details article.main_content .header_hero_container a.close_btn:active { opacity: .15; background: transparent !important; }
.wrapper .item_details article.main_content .header_hero_container a.close_btn i.ic_header_close { width: 15px; height: 15px; background: url('../images/global/ic-header-close-white@2x.png') no-repeat; background-size: 15px auto; background-position: 50%; display: block; margin: 0 auto; position: relative; top: calc((100% - 15px)/2); }

/* Slider內容 */
.wrapper .item_details article.main_content .header_hero_container .slider_container { width: 100%; height: 100%; overflow-x: auto; overflow-y: hidden; }
.wrapper .item_details article.main_content .header_hero_container .slider_container ul.hero_img_con { height: 100%; }
.wrapper .item_details article.main_content .header_hero_container .slider_container ul.hero_img_con li.img_list { display: block; list-style: none; float: left; height: 100%; }
.wrapper .item_details article.main_content .header_hero_container .slider_container ul.hero_img_con li.img_list img { width: 100%; height: 100%; }

/* Slider Pager */
.wrapper .item_details article.main_content .header_hero_container ul.hero_img_pager_con { height: 20px; line-height: 20px; position: relative; top: -28px; margin: 0 auto; z-index: 999; }
.wrapper .item_details article.main_content .header_hero_container ul.hero_img_pager_con li.pager_list { list-style: none; display: block; float: left; }
.wrapper .item_details article.main_content .header_hero_container ul.hero_img_pager_con li.pager_list a.pager_element { width: 20px; height: 20px; display: block; position: relative; }
.wrapper .item_details article.main_content .header_hero_container ul.hero_img_pager_con li.pager_list a.pager_element:active { background: transparent; }

/*圓點*/
.wrapper .item_details article.main_content .header_hero_container ul.hero_img_pager_con li.pager_list a.pager_element i.circular { width: 6px; height: 6px; background: var(--gray_3F); opacity: .4; border-radius: 50%; position: absolute; top: 0; bottom: 0; left: 0; right: 0; margin: auto; }
.wrapper .item_details article.main_content .header_hero_container ul.hero_img_pager_con li.pager_list a.pager_element:active i.circular { opacity: 1; }
.wrapper .item_details article.main_content .header_hero_container ul.hero_img_pager_con li.pager_list a.pager_element .circular.current { opacity: 1; border: 1px solid #ffffff; }

/*商品內容*/
.wrapper .item_details article.main_content .item_details_container { width: 90%; margin: 0 auto; }
.wrapper .item_details article.main_content .item_details_container.bottom_enlarge { margin: 0 auto 30px auto; }
.wrapper .item_details article.main_content .item_details_container .item_details_head { width: 100%; margin-bottom: 12px; }
.wrapper .item_details article.main_content .item_details_container .item_details_head span.item_name { width: 90%; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; padding: 20px 0 12px 0; display: block; font-size: 1rem;/*18px*/ font-weight: bold; line-height: 1.3; color: #454545; }
.wrapper .item_details article.main_content .item_details_container .item_details_head ul.item_details_list { }
.wrapper .item_details article.main_content .item_details_container .item_details_head ul.item_details_list li { height: 18px; line-height: 18px; list-style: none; display: block; float: left; }
.wrapper .item_details article.main_content .item_details_container .item_details_head ul.item_details_list li.sale_price { font-size: 0.7778rem;/*14px*/ color: #fc2a2a; margin-right: 10px; }
.wrapper .item_details article.main_content .item_details_container .item_details_head ul.item_details_list li.original_price { font-size: 0.7778rem;/*14px*/ color: var(--gray_888); text-decoration: line-through; }
.wrapper .item_details article.main_content .item_details_container .item_details_head ul.item_details_list li.item_ranking { font-size: 0.7778rem;/*14px*/ color: var(--gray_888); margin-left: 10px; }
.wrapper .item_details article.main_content .item_details_container .item_details_head ul.item_details_list li.item_ranking:before { content: '/ '; }
.wrapper .item_details article.main_content .item_details_container .divider { width: 100%; height: 1px; background: var(--gray_E5); margin: 0 auto; }
.wrapper .item_details article.main_content .item_details_container .item_details_content { width: 100%; margin: 17px 0; font-size: 0.7778rem; /*14px*/ line-height: 2.1; color: var(--gray_555); }
.wrapper .item_details article.main_content .item_details_container .item_details_footer { width: 100%; margin: 17px 0; font-size: 0.6667rem;/*12px*/ line-height: 1.7; color: var(--gray_888); padding-bottom: 55px; }
.wrapper .item_details article.main_content .item_details_container .item_details_footer .footer_content_con { width: 100%; }
.wrapper .item_details article.main_content .item_details_container .item_details_footer .list_title { width: 36px; height: 20px; float: left; }
.wrapper .item_details article.main_content .item_details_container .item_details_footer .list_content { width: calc(100% - 36px); float: left; }
.wrapper .item_details article.main_content .item_details_container .item_details_footer .list_content ul.type_container { width: 100%; }
.wrapper .item_details article.main_content .item_details_container .item_details_footer .list_content ul.type_container li.type { list-style: none; float: left; display: block; }
.wrapper article.main_content li.ic_triangle_arrow_right { content: ''; width: 40px; height: 20px; background: url('../images/global/ic-triangle-arrow-right@2x.png') no-repeat; background-size: 8px auto; background-position: 50%; display: inline-block; float: left; }
.wrapper .item_details article.main_content .item_details_container .item_details_footer .list_content a.product_link { text-decoration: none; font-weight: normal; color: #105CB6 !important; }

/*新增商品表單*/
.wrapper .add_new_item { background: #ffffff; }
.wrapper .add_new_item article.main_content .form_container { background: #ffffff; width: 100%; height: 100%; }
.wrapper .add_new_item article.main_content .form_container .upload_img_box { width: 90%; background: var(--gray_F7); padding: 5%; overflow: scroll; }
.wrapper .add_new_item article.main_content .form_container .upload_img_box ul.card_grid { }
.wrapper .add_new_item article.main_content .form_container .upload_img_box ul.card_grid li.card_content { width: 150px; height: 150px; list-style: none; display: block; margin: 0 15px 0 0; float: left; }
.wrapper .add_new_item article.main_content .form_container .upload_img_box ul.card_grid li.card_content:last-child { display: none; }
.wrapper .add_new_item article.main_content .form_container .upload_img_box ul.card_grid li.card_content a.upload_img_btn { width: calc(100% + 2px); height: calc(100% + 2px); border-radius: 10px; background: var(--gray_DF); display: block; text-decoration: none; position: relative; }
.wrapper .add_new_item article.main_content .form_container .upload_img_box ul.card_grid li.card_content a:active.upload_img_btn { background: #cccccc; }
.wrapper .add_new_item article.main_content .form_container .upload_img_box ul.card_grid li.card_content a.upload_img_btn .btn_content { width: 100%; height: 76px; position: absolute; top: 0; right: 0; bottom: 0; left: 0; margin: auto; text-align: center; }
.wrapper .add_new_item article.main_content .form_container .upload_img_box ul.card_grid li.card_content a.upload_img_btn .btn_content i.ic_card_icon_add_img { width: 50px; height: 46px; background: url('../images/start_event/ic-card-icon-add-img@2x.png') no-repeat; background-size: cover; display: block; margin: auto; }
.wrapper .add_new_item article.main_content .form_container .upload_img_box ul.card_grid li.card_content a.upload_img_btn .btn_content p { font-size: 0.7778rem; /*14px*/ font-weight: bold; color: #ffffff; margin-top: 11px; }

/*設定開團資訊*/
.wrapper article.main_content .form_container { width: 100%; height: 100%; background: var(--gray_F7); padding-bottom: 0px; }
.wrapper article.main_content .form_container .form_blocks { background: #ffffff; margin-bottom: 25px; }
.wrapper article.main_content .form_container .form_blocks:last-child { margin-bottom: 0px; }
.wrapper article.main_content .form_container .item_form_content { padding-bottom: 0; }
.wrapper article.main_content .form_container .item_form_content .guideline_form:last-child { border: 0; }
.wrapper article.main_content .form_container .item_form_content.border_btm .guideline_form:last-child { border-bottom: 1px solid var(--gray_E5); }
.wrapper article.main_content .form_container .card_list_content .guideline_form:last-child { border: 0; }

/*合購類別*/
.wrapper article.main_content .form_dropdown .container span.remark_text { width: 100%; font-size: 0.6667rem;/*12px*/ color: var(--gray_666); margin-top: 10px; padding-bottom: 20px; display: block; }

/*截止日期*/

/* form_checkbox_combination */
.wrapper article.main_content .form_checkbox_combination.date_select { width: 100%; margin-top: 20px; }
.wrapper article.main_content .form_checkbox_combination.date_select ul.checkbox_container { padding-bottom: 0; }

/*通知家族設定連結*/
.wrapper article.main_content .form_checkbox_combination ul.checkbox_container li.checkbox_list small.more_setting { font-size: 0.6667rem;/*12px*/ margin-left: 4px; line-height: 20px; position: absolute; top: 2px; z-index: 9; }
.wrapper article.main_content .form_checkbox_combination ul.checkbox_container li.checkbox_list small.more_setting a.quo_link { font-weight: bold; color: #3388cc; text-decoration: none; cursor: pointer; }
.wrapper article.main_content .form_checkbox_combination ul.checkbox_container li.checkbox_list small.more_setting a:active.quo_link { opacity: .8; background: transparent; }

/*雜費*/
.wrapper article.main_content .form_custom_combination .input_box { display: inline-block; float: right; position: relative; top: calc((100% - 25px)/2); }
.wrapper article.main_content .form_custom_combination .input_box .ui-input-text.ui-body-inherit.ui-corner-all.ui-shadow-inset { box-shadow: none; }
.wrapper article.main_content .form_custom_combination .input_box input { min-height: 0; border: 0; background: transparent; box-shadow: none; padding: 0; font-size: 14px; font-weight: 300; line-height: 1.8 !important; color: var(--gray-C3) !important; width: 70px; float: right; }
.wrapper article.main_content .form_custom_combination .input_box .ui-input-text.ui-body-inherit.ui-corner-all.ui-shadow-inset:before { content: '元'; font-size: 0.7778rem;/*14px*/ display: inline-block; float: right; margin-left: 10px; position: relative; top: 4px; }

/*Row Container*/
.wrapper article.main_content .row_container { width: 100%; max-width: var(--max_w); margin: 0 auto; background: #ffffff; }

/* Row Footer */
.wrapper .bottom_container .row_footer ul.checkbox_container li.checkbox_list .ui-checkbox { margin: 0; }
.wrapper .bottom_container .row_footer ul.checkbox_container li.checkbox_list .ui-checkbox span { font-size: 0.7778rem; /*14px*/ font-weight: normal; color: var(--gray_888); margin-left: 22px; position: relative; top: -2px; }
.wrapper .bottom_container .row_footer ul.checkbox_container li.checkbox_list label.ui-btn.ui-corner-all.ui-btn-inherit.ui-btn-icon-left.ui-checkbox-on { border: 0; border-radius: 0; background: transparent; padding: 12px 0; width: 90%; margin: 0 auto; }
.wrapper .bottom_container .row_footer ul.checkbox_container li.checkbox_list label.ui-btn.ui-corner-all.ui-btn-inherit.ui-btn-icon-left.ui-checkbox-off { border: 0; border-radius: 0; background: transparent; padding: 12px 0; width: 90%; margin: 0 auto; }

/*已選取*/
.wrapper .bottom_container .row_footer ul.checkbox_container li.checkbox_list .ui-icon-check:after, html .ui-btn.ui-checkbox-on.ui-checkbox-on:after { width: 15px; height: 15px; background: url('../images/global/ic-checkbox-s-selected@2x.png') no-repeat; background-size: cover; position: relative; top: -9px; left: -2px; }

/*未選取*/
.wrapper .bottom_container .row_footer ul.checkbox_container li.checkbox_list label.ui-btn.ui-corner-all.ui-btn-inherit.ui-btn-icon-left.ui-checkbox-off:after { width: 15px; height: 15px; background: url('../images/global/ic-checkbox-s-select@2x.png') no-repeat; background-size: cover; position: relative; top: -9px; left: -2px; opacity: 1; }

/*完成畫面*/
.wrapper .event_main article.main_content .done_content { width: 100%; max-width: var(--max_w); margin: 0 auto; background: #ffffff; position: relative; top: calc((100% - 519px)/2); }
.wrapper .event_main article.main_content .done_content i.ic_modal_icon_share { width: 190px; height: 133px; background: url('../images/start_event/ic-modal-icon-share@2x.png') no-repeat; background-size: 190px auto; background-position: 50%; display: block; margin: 0px auto 25px auto; }
.wrapper .event_main article.main_content .done_content .txt_box { width: 100%; }

/*主標*/
.wrapper .event_main article.main_content .done_content .txt_box h2.page_title { font-size: 1.389rem;/*25px*/ font-weight: bold; line-height: 1.2; color: var(--ihergo_brand_blue); text-align: center; margin-bottom: 10px; }

/*內文*/
.wrapper .event_main article.main_content .done_content .txt_box .title_description { display: block; width: 80%; font-size: 0.7778rem; /*14px*/ line-height: 1.8; color: var(--ihergo_brand_blue); text-align: center; margin: 0 auto; }
.wrapper .event_main article.main_content .done_content ul.share_btns_container { list-style: none; width: 308px; margin: 22px auto; }
.wrapper .event_main article.main_content .done_content ul.share_btns_container li.share_btn_list { width: 88px; float: left; display: inline-block; margin-right: 22px; }
.wrapper .event_main article.main_content .done_content ul.share_btns_container li.share_btn_list:nth-of-type(3) { margin-right: 0; }
.wrapper .event_main article.main_content .done_content ul.share_btns_container li.share_btn_list a.share_btn { width: 50px; height: 50px; display: block; border-radius: 50%; position: relative; margin: 0 auto; }
.wrapper .event_main article.main_content .done_content ul.share_btns_container li.share_btn_list a:active.share_btn { opacity: .8; }
.wrapper .event_main article.main_content .done_content ul.share_btns_container li.share_btn_list .share_btn.facebook { background-color: #3b5998; }
.wrapper .event_main article.main_content .done_content ul.share_btns_container li.share_btn_list .share_btn.line { background-color: #01c302; }
.wrapper .event_main article.main_content .done_content ul.share_btns_container li.share_btn_list .share_btn.url { background-color: #c9c9c9; }
.wrapper .event_main article.main_content .done_content ul.share_btns_container li.share_btn_list a.share_btn i { position: relative; top: calc((100% - 28px)/2); left: calc((100% - 28px)/2); display: block; width: 28px; height: 28px; }
.wrapper .event_main article.main_content .done_content ul.share_btns_container li.share_btn_list p { width: 100%; text-align: center; font-size: 0.6667rem; /*12px*/ font-weight: bold; color: var(--gray_888); margin-top: 10px; }
.wrapper .event_main article.main_content .done_content ul.share_btns_container li.share_btn_list a.share_btn i.ic_modal_icon_facebook { background: url('../images/start_event/ic-modal-icon-facebook@2x.png') no-repeat; background-size: 11px auto; background-position: 50%; }
.wrapper .event_main article.main_content .done_content ul.share_btns_container li.share_btn_list a.share_btn i.ic_modal_icon_line { background: url('../images/start_event/ic-modal-icon-line@2x.png') no-repeat; background-size: 28px auto; background-position: 50%; }
.wrapper .event_main article.main_content .done_content ul.share_btns_container li.share_btn_list a.share_btn i.ic_modal_icon_link { background: url('../images/start_event/ic-modal-icon-link@2x.png') no-repeat; background-size: 21px auto; background-position: 50%; }

/*我的合購單*/
.wrapper .event_main article.main_content .done_content .check_my_order { width: 90%; max-width: 320px; height: 98px; border-radius: 10px; background-color: var(--gray_FB); border: solid 1px #e6e6e6; position: static; bottom: 0; margin: 40px auto; }
.wrapper .event_main article.main_content .done_content .check_my_order a.order_card { width: 100%; height: 100%; border-radius: 10px; display: block; }
.wrapper .event_main article.main_content .done_content .check_my_order a.order_card:active { background: #f3f3f3; }
.wrapper .event_main article.main_content .done_content .check_my_order a.order_card .left { width: 80px; height: 100%; position: relative; display: inline-block; float: left; }

/*Icon*/
.wrapper .event_main article.main_content .done_content .check_my_order a.order_card .left p.order_icon { width: 46px; height: 46px; position: absolute; top: 0; bottom: 0; left: 0; right: 0; margin: auto; display: block; background-color: #c6c6c6; border-radius: 50%; }
.wrapper .event_main article.main_content .done_content .check_my_order a.order_card .left p.order_icon i.ic_card_icon_order { width: 28px; height: 28px; background: url('../images/start_event/ic-card-icon-order@2x.png') no-repeat; background-size: 23px auto; background-position: 50%; display: block; position: relative; top: calc((100% - 28px)/2); left: -1px; margin: 0 auto; }
.wrapper .event_main article.main_content .done_content .check_my_order a.order_card .right { width: 40px; height: 100%; position: relative; display: inline-block; float: left; }
.wrapper .event_main article.main_content .done_content .check_my_order a.order_card .right i.ic_arrow_right { width: 9px; height: 15px; background: url('../images/global/ic-arrow-right@2x.png') no-repeat; background-size: cover; display: block; margin: 0 auto; position: relative; top: calc((100% - 16px)/2); }
.wrapper .event_main article.main_content .done_content .check_my_order a.order_card .content { width: calc(100% - 120px); height: 100%; display: inline-block; float: left; }
.wrapper .event_main article.main_content .done_content .check_my_order a.order_card .content p.title { font-size: 0.7778rem;/*14px*/ font-weight: bold; margin: 16px 0 5px 0; color: var(--gray_888); }
.wrapper .event_main article.main_content .done_content .check_my_order a.order_card .content p.description { font-size: 0.6667rem; /*12px*/ font-weight: normal; line-height: 1.7; color: #898989; }

/*Modal*/
.wrapper article.main_content .modal_container .modal_text_box { width: 100%; height: 100%; background: #ffffff; }
.wrapper article.main_content .modal_container .modal_text_box textarea { width: 95%; height: 100% !important; padding: 20px 0; border: 1px solid #ffffff; box-shadow: none; font-size: 0.7778rem; line-height: 1.8; color: var(--gray_666); margin: 0 auto; }
.wrapper article.main_content .modal_container .modal_img_box { width: 100%; height: 100%; background: var(--gray_DF); position: relative; display: none; }
.wrapper article.main_content .modal_container .modal_img_box img { width: auto; max-width: 100%; height: auto; max-height: 100%; position: absolute; top: 0; bottom: 0; left: 0; right: 0; margin: auto; }
.wrapper article.main_content .modal_container .modal_img_box .action_btn { width: 30px; height: 30px; position: absolute; top: 10px; right: 10px; }

/*上傳按鈕*/
.wrapper article.main_content .modal_container .modal_img_box a.empty_states_content { width: 68px; height: 93px; text-decoration: none; position: absolute; top: 0; bottom: 0; left: 0; right: 0; margin: auto; display: block; }
.wrapper article.main_content .modal_container .modal_img_box a:active.empty_states_content { background: transparent; opacity: .8; }
.wrapper article.main_content .modal_container .modal_img_box a.empty_states_content i.ic_modal_img_upload { width: 68px; height: 62px; background: url('../images/start_event/ic-modal-img-upload@2x.png') no-repeat; background-size: 100% auto; background-position: 50%; display: block; margin-bottom: 12px; }
.wrapper article.main_content .modal_container .modal_img_box a.empty_states_content span.text { font-size: 0.8333rem;/*15px*/ font-weight: bold; color: #ffffff; display: block; text-align: center; }

/*取貨方式*/

/*郵寄 icon*/
.wrapper article.main_content .row_collapse_content .left .ic_row_icon_shipping { width: 20px; height: 20px; position: relative; top: calc((100% - 20px)/2); background: url('../images/start_event/ic-row-icon-shipping@2x.png') no-repeat; background-size: 19px auto; background-position: 50%; display: block; }

/*面交取貨 icon*/
.wrapper article.main_content .row_collapse_content .left .ic_row_icon_pin { width: 20px; height: 20px; position: relative; top: calc((100% - 20px)/2); background: url('../images/start_event/ic-row-icon-pin@2x.png') no-repeat; background-size: 13px auto; background-position: 50%; display: block; }
.wrapper article.main_content .form_container .card_list_content { width: 100%; padding: 20px 0 1px 0; margin: 0 auto; }
.wrapper article.main_content .card_list_action_btn_select .left span p.shipping_method { display: inline-block; float: left; }
.wrapper article.main_content .card_list_action_btn_select .left span p.shipping_fee { display: inline-block; float: left; margin-left: 10px; }
.wrapper article.main_content .card_list_action_btn_select.double_line .left span p.meeting_address { margin-bottom: 5px; }
.wrapper article.main_content .card_list_action_btn_select.double_line .left span p.meeting_date { color: #898989; }

/*地圖*/
.wrapper article.main_content .modal_container .map_container { width: 100%; height: calc(100% - 202px); min-height: 200px; position: relative; text-align: center; }
.wrapper article.main_content .modal_container .map_container:after { content: ''; width: 100%; height: 12%; display: block; background: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 23%, rgba(0, 0, 0, 0.1) 100%); background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 23%, rgba(0, 0, 0, 0.1) 100%); background: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 23%, rgba(0, 0, 0, 0.1) 100%); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#6b000000', GradientType=0); -webkit-transform: rotate(180deg); -moz-transform: rotate(180deg); -ms-transform: rotate(180deg); -o-transform: rotate(180deg); transform: rotate(180deg); position: absolute; bottom: 0; }
.wrapper article.main_content .modal_container .map_container img { width: auto; height: 100%; }
.wrapper article.main_content i.ic_modal_icon_map_pin { width: 35px; height: 44px; background: url('../images/start_event/ic-modal-icon-map-pin@2x.png') no-repeat; background-size: 35px auto; display: block; position: absolute; }

/*表單*/
.wrapper article.main_content .modal_container .form_container { height: auto; }
.wrapper article.main_content li.row_select span.ic_event_content_club_meeting { background: url('../images/start_event/ic-event-content-club-meeting@2x.png') no-repeat; background-size: auto 18px; background-position: 0px 50%; display: inline-block; margin-right: 10px; text-indent: 20px; }

/*日曆*/
.wrapper article.main_content .calendar_content { width: 100%; background: #ffffff; }

/*換月按鈕*/
.wrapper article.main_content .calendar_content .subheader_custom.calendar a { -webkit-transition: all .2s; -moz-transition: all .2s; -ms-transition: all .2s; -o-transition: all .2s; transition: all .2s; }
.wrapper article.main_content .calendar_content .subheader_custom.calendar a.calendar_arrow_l { width: 50px; height: 50px; line-height: 50px; text-align: center; display: inline-block; float: left; }
.wrapper article.main_content .calendar_content .subheader_custom.calendar a.calendar_arrow_l i.ic_modal_calendar_arrow_l { width: 7px; height: 10px; background: url('../images/start_event/ic-modal-calendar-arrow-l@2x.png') no-repeat; background-size: 7px auto; display: inline-block; }
.wrapper article.main_content .calendar_content .subheader_custom.calendar a.calendar_arrow_r { width: 50px; height: 50px; line-height: 50px; text-align: center; display: inline-block; float: right; }
.wrapper article.main_content .calendar_content .subheader_custom.calendar a.calendar_arrow_r i.ic_modal_calendar_arrow_r { width: 7px; height: 10px; background: url('../images/start_event/ic-modal-calendar-arrow-r@2x.png') no-repeat; background-size: 7px auto; display: inline-block; }
.wrapper article.main_content .calendar_content .subheader_custom.calendar a:active { background: transparent; opacity: .15; }

/*目前月份*/
.wrapper article.main_content .calendar_content .subheader_custom.calendar span.current_month { width: 80%; height: 50px; margin: 0 auto; text-align: center; font-size: 0.7778rem; /*14px*/ font-weight: bold; color: var(--gray_888); line-height: 50px; display: block; }

/**/
.wrapper article.main_content .calendar_content .cal_container { width: 100%; }
.wrapper article.main_content .calendar_content .cal_container ul.weekdays_title { width: 94%; height: 50px; list-style: none; margin: 0 auto; }
.wrapper article.main_content .calendar_content .cal_container ul.weekdays_title li.weekdays_list { width: calc(100% / 7); height: 50px; line-height: 50px; text-align: center; font-size: 0.6667rem; font-weight: bold; color: #bbbbbb; float: left; display: inline-block; }
.wrapper article.main_content .calendar_content .cal_container ul.weekdays_content { width: 94%; list-style: none; margin: 0 auto; }
.wrapper article.main_content .calendar_content .cal_container ul.weekdays_content li.weekdays_list { width: calc(100% / 7); height: 50px; line-height: 50px; text-align: center; font-size: 0.7778rem; float: left; display: inline-block; }
.wrapper article.main_content .calendar_content .cal_container ul.weekdays_content li.weekdays_list a.tag { width: 100%; height: 50px; line-height: 50px; display: inline-block; text-align: center; color: var(--gray_888); font-weight: normal; cursor: pointer; }
.wrapper article.main_content .calendar_content .cal_container ul.weekdays_content li.weekdays_list a:active.tag { background: var(--gray_FB); }
.wrapper article.main_content .calendar_content .cal_container ul.weekdays_content li.weekdays_list .tag.choose { width: 25px; height: 25px; line-height: 26px; text-align: center; background-color: #f5a623; color: #ffffff; border-radius: 50%; display: inline-block; cursor: default; }
.wrapper article.main_content .calendar_content .cal_container ul.weekdays_content li.weekdays_list .choose:active { background-color: #f5a623 !important; }
@media screen and (max-width:320px) {
	.wrapper .event_main article.main_content .done_content { padding: 10px 0; }
	.wrapper .event_main article.main_content .done_content .check_my_order { }
	.wrapper .event_main article.main_content .done_content .check_my_order a.order_card .content p.title { font-size: 0.7778rem;/*14px*/ font-weight: bold; margin: 16px 0 10px 0; color: var(--gray_888); }
	.wrapper .event_main article.main_content .done_content .check_my_order a.order_card .content p.description { font-size: 0.6111rem; }
}