@charset "UTF-8";
/* CSS Document */
/* ================================== 商店頁 ================================== */
/*20151214_商店大圖*/
.wrapper .store_banner{ width:100%;}
.wrapper a.store_banner_img{ display:block; width:100%;}
.wrapper a.store_banner_img:active img{ opacity:0.8;}
.wrapper .store_banner img{ width:100%;}
/*商店分頁*/
.wrapper nav.store_tab{ width: 100%; height: 50px; background-color: #f6f6f6; margin-top:-5px;}
.wrapper nav.store_tab a{ display: block; float: left; line-height: 50px; color: #333; font-size: 0.98rem;  text-decoration: none; text-align: center; width: 33.2%; border-right: 1px solid #d9d9d9; border-bottom: 1px solid #d9d9d9;}
.wrapper nav.store_tab a:active{ background-color: #fff;}
.wrapper nav.store_tab a.store_union{ border-right: 0;}
.wrapper nav.store_tab a.target{ background-color:#fff; color: #333; font-weight: 900;}
@media screen and ( max-width:511px) {.wrapper nav.store_tab a{ width: 33.1%;}}


/* =================== 商品列表 =================== */
.wrapper .store_content .store_select_box{ margin: 20px 15px 20px;}
.wrapper .store_content .store_select_box .ui-select .ui-btn{ text-align: left; background-color: #f9f9f9; border: 1px solid #ccc;}
.wrapper p.nothing_alarm_text{ color: #888; font-weight:bold; font-size: 1.1rem; line-height: 40px; text-align:center; margin-top:40px; text-shadow:1px 1px 0 #fff;}

/*商品*/
.productList_block, .storeUnion_block{ margin-bottom:60px;}
.product_item{ width: 100%; background-color: #fff; display: inline-block; position: relative; height: 140px; box-shadow: 0 1px 1px #ccc; cursor: pointer; }
.product_item .left_box{ height: 140px; width: 140px; position: absolute;}
.product_item .left_box a{ display: block;}
.product_item .left_box a.product_img:active{ opacity:0.8; background-color:transparent;}
.product_item .left_box a.product_img img{ width: 140px;}
.product_item .right_box{ padding: 10px 10px 10px 150px;}
.product_item .right_box h3.product_title{ width: 100%; height: 50px; overflow: hidden;}
.product_item .right_box h3.product_title a{ font-size: 1.1rem; text-decoration: none; color: #555; line-height: 20x;}
.product_item .right_box .p_text_box{ width: 100%; margin: 8px 0;}
.product_item .right_box .p_text_box p.price_text{ float: left; color: #f06354; font-weight: bold;}
.product_item .right_box .p_text_box p.buy_text{ float: right; color: #999;}
.product_item .right_box a.add_cart{ display: block; background-color: #fe9f54; color: #fff; font-size: 0.95rem; line-height: 30px; text-decoration: none; text-align: center; text-shadow: 0 0 0 transparent; border-radius: 3px;}
.product_item .right_box a.add_cart:active{ opacity: 0.8;}
.product_item .right_box a.closed{ background-color: #d5d5d5;}
.product_item .right_box a.closed:active{ background-color: #d5d5d5;}
p.productNumber_text{ font-size:0.95rem; color:#666; line-height:25px; margin:0 0 20px 10px;}
p.productNumber_text span{ padding:0 3px;}



/* =================== 關於商店 =================== */
.storeAbout_block{}
.storeAbout_block h3.store_s_title{ line-height: 50px; border-bottom: 1px solid #d5d5d5; font-size: 1rem; color: #444;}
.storeAbout_block h4{ float: left; padding-right:15px; color: #666; font-size: 0.92rem; font-weight: bold;}

/*商店評比*/
.storeAbout_block .store_stf{ padding: 10px 10px; background-color: #fff; position: relative; margin-bottom: 20px; margin-top: 1px; line-height: 40px;}
.storeAbout_block .store_stf h4{ color: #444; font-size: 1rem; line-height: 45px;}
.storeAbout_block .store_stf p{ color: #777; }
.storeAbout_block .store_stf span{ padding-left: 120px; color: #999; font-size: 0.9rem;}
.storeAbout_block .store_stf img.stf_img{ position: absolute; top: 19px; width: 110px;}

/*商店資訊*/
.store_infor{ background-color: #fff; padding: 10px 10px 0; margin-bottom: 20px;}
.store_infor .infor_box{ line-height: 40px; padding: 10px 0; border-bottom: 1px solid #e5e5e5;}
.store_infor .infor_box .left_text_box{float: left;}
.store_infor .infor_box p{ color: #777; font-size: 0.9rem;}
.store_infor .manager_id span{}

/*最新消息*/
.storeAbout_block .store_news{ background-color: #fff; padding: 10px 0 1px; margin-bottom: 20px;}
.storeAbout_block .store_news h3.store_s_title{ margin: 0 10px;}
.storeAbout_block .store_news p.news_time{ font-weight: bold; font-size: 0.8rem; color: #aaa; margin: 10px;}
.storeAbout_block .store_news p.news_content{ font-size: 0.9rem; color: #777; margin: 10px 10px 20px; }
.storeAbout_block .store_news p.news_content a{ }
.storeAbout_block .store_news p.news_content a:active{}
.storeAbout_block .store_news a.more_news{ display: block; background-color: #f9f9f9; border-top: 1px solid #e9e9e9; border-bottom: 1px solid #e9e9e9; color: #999; font-size: 0.9rem; line-height: 40px; text-align: center; text-decoration: none; position: relative; top:1px;}
.storeAbout_block .store_news a.more_news:active{ opacity: 0.7;}

/*折扣優惠*/
.storeAbout_block .store_pblish{ background-color: #fff; padding: 10px 0 1px; margin-bottom: 20px;}
.storeAbout_block .store_pblish h3.store_s_title{ margin: 0 10px;}
.storeAbout_block .store_pblish .discount_list{ margin: 10px 10px 30px;}
.storeAbout_block .store_pblish p.discount_text{ font-size: 0.9rem; font-weight: bold; color: #666; line-height: 25px;}
.storeAbout_block .store_pblish .discount_list a{ color: #38c; text-decoration: none;}
.storeAbout_block .store_pblish .discount_list a:active{ text-decoration: underline;}
.storeAbout_block .store_pblish p.pblish_content{ margin: 10px 10px 20px; font-size: 0.9rem; color: #777; word-break: break-all;}
.storeAbout_block .store_pblish p.pblish_content a{ font-size: 0.9rem; font-weight: normal;}
.storeAbout_block .store_pblish p.pblish_content a:active{}
.storeAbout_block .store_pblish a.see_more{ display: block; background: url(../images/store/icon_more.png) no-repeat center center / 20px 20px #f7f7f7; border-top: 1px solid #e9e9e9; border-bottom: 1px solid #e9e9e9; height: 20px; padding: 10px; position: relative; top:1px;}
.storeAbout_block .store_pblish a.see_more:active{ opacity: 0.7;}


/* =================== 本店合購 =================== */
.storeUnion_block .store_select_box .ui-select{ float: left; width: 48%; margin-right: 2%;}
.storeUnion_block .group_box{ background-color: #fff; margin-bottom: 15px; box-shadow: 0px 1px 1px #ccc; border-top: 1px solid #e6e6e6;}
.storeUnion_block .group_box .grouping{ padding: 20px 10px 15px; cursor: pointer;}
.storeUnion_block .group_box .grouping:active{ background-color: #f9f9f9;}
.storeUnion_block .group_box .member_img{ float: left; width: 50px;}
.storeUnion_block .group_box .member_img img{ width: 50px; border-radius: 50%;}
.storeUnion_block .group_box .group_infor{ float: left; width: 80%; margin-left: 10px; overflow: hidden;}
.storeUnion_block .group_box .group_infor p.account{ color: #888; font-size: 0.85rem; line-height: 22px; margin-top: -2px;}
.storeUnion_block .group_box .group_infor span.member_id{ padding-right: 5px; color: #555;}
.storeUnion_block .group_box .group_infor p.group_title{ color: #3b5998; font-weight: bold; font-size: 0.95rem; line-height: 30px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
.storeUnion_block .group_box .group_infor p.location{ color: #888; font-size: 0.85rem; margin: 5px 0; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
.storeUnion_block .group_box a.see_all{ display: block; background-color: #f7f7f7; color: #999; font-size: 0.95rem; line-height: 40px; text-align: center; text-decoration: none; border-top: 1px solid #e9e9e9;}
.storeUnion_block .group_box a.see_all:active{ background-color: #f0f0f0;}

/*團數, 喜歡, 我要開團*/
.wrapper .store_union_box{ height: 50px; background-color: #555; width: 100%; position: fixed; bottom: 0; z-index: 999;}
.wrapper .store_union_box p.union_text{ float: left; line-height: 50px; color: #fff; text-shadow:0 0 0 transparent; margin-left: 10px; font-size: 0.9rem;}
.wrapper .store_union_box p.union_text span{ padding: 0 2px;}
.wrapper .store_union_box a.like_btn{ float: right; margin: 7px 0 7px 5px; line-height: 36px; width: 60px; background: url(../images/store/icon_like.png) no-repeat 10px 9px / 16px 16px #fee3e7; color: #ea5f73; font-size: 0.9rem; text-shadow: 0 0 0 transparent; text-decoration: none; border-radius: 3px; text-align: center; padding-left: 20px; letter-spacing: 3px;}
.wrapper .store_union_box a.like_btn:active{ background: url(../images/store/icon_like_active.png) no-repeat 10px 9px / 16px 16px #ea5f73; color: #fff;}
.wrapper .store_union_box a.unlike{ float: right; margin: 7px 0 7px 5px; line-height: 36px; width: 70px; background: url(../images/status/icon_cancel.png) no-repeat 5px 10px / 16px 16px #feeef1; color: #f29fab; font-size: 0.9rem; text-shadow: 0 0 0 transparent; text-decoration: none; padding: 0 3px 0 20px; letter-spacing: 0;}
.wrapper .store_union_box a.unlike:active{ background: url(../images/status/icon_cancel.png) no-repeat 5px 10px / 16px 16px #ffe9ed; color: #f29fab;}

.wrapper .store_union_box a.group_btn{ float: right; margin: 7px 10px; line-height: 36px; width: 80px; background-color: #69bdfd; color: #fff; font-size: 0.9rem; text-shadow: 0 0 0 transparent; text-decoration: none; border-radius: 3px; text-align: center;}
.wrapper .store_union_box a.group_btn:active{ background-color: #7dc4fa;}
.wrapper .store_union_box a.group_stop{ background-color: #bbb;}
.wrapper .store_union_box a.group_stop:active{ background-color: #bbb;}

@media screen and ( max-width:351px) {
	.wrapper .store_union_box a.group_btn{ margin-left:5px;}
	.wrapper .store_union_box a.like_btn{ width:55px; background: url(../images/store/icon_like.png) no-repeat 8px 9px / 16px 16px #fee3e7;}
	.wrapper .store_union_box a.like_btn:active{ background: url(../images/store/icon_like_active.png) no-repeat 8px 9px / 16px 16px #ea5f73;}
	.wrapper .store_union_box a.unlike{ float: right; width: 68px; background-image:none; background-color:#feeef1; color: #f29fab; padding:0 3px;}
	.wrapper .store_union_box a.unlike:active{ background-image:none; background-color:#ffe9ed; color: #f29fab;}
}

/* ================================== 商品資訊_POPUP ================================== */
main.store_detail{ margin-bottom:60px;}
.infor_block{ background-color: #fff; padding-bottom: 20px; margin: 50px 0 20px;}
.infor_block .product_imgs{ height: 400px; margin-bottom: 20px; position: relative;}
.infor_block .pic_wrp{ position: absolute; left: 0; width: 100%; background-color: #eee;}
.infor_block .pic_wrp .pic_content{ height: 400px; position: relative; width: 100%; overflow: hidden;}
/*.infor_block .pic_wrp .pic_content ul.ul_box{ position: absolute; top: 0; left: 0; width: 100%;}*/
/*.infor_block .pic_wrp .pic_content ul.ul_box li{ height: 400px; position: absolute; left: 0; right: 0; text-align: center;}*/
/*.infor_block .pic_wrp .pic_content ul.ul_box > li {display: none;}*/
/*.infor_block .pic_wrp .pic_content ul.ul_box > li:first-of-type {display: inline-block;}*/
/*.infor_block .pic_wrp .pic_content ul.ul_box li a{ display: block;}*/
/*.infor_block .pic_wrp .pic_content ul.ul_box li img{ width: 400px; height: 400px;}*/
/*@media screen and ( max-width:361px) {
	.infor_block .product_imgs{ height: 360px; }
	.infor_block .pic_wrp .pic_content{ height: 360px;}
	.infor_block .pic_wrp .pic_content ul.ul_box li{ height: 360px; }
	.infor_block .pic_wrp .pic_content ul.ul_box li img{ width: 360px; height: 360px;}
}
@media screen and ( max-width:321px) {
	.infor_block .product_imgs{ height: 320px; }
	.infor_block .pic_wrp .pic_content{ height: 320px;}
	.infor_block .pic_wrp .pic_content ul.ul_box li{ height: 320px; }
	.infor_block .pic_wrp .pic_content ul.ul_box li img{ width: 320px; height: 320px;}
}*/

.infor_block .product_imgs .imgs_contrl{ display: block;  position: absolute; bottom: 5px; width: 100%; text-align: center; z-index: 1;}
.infor_block .product_imgs .imgs_contrl a.contrl_item{ display: inline-block; width: 10px; height: 10px; background: rgba(255,255,255,0.5); border-radius: 50%;}
.infor_block .product_imgs .imgs_contrl a.focus{ background: rgba(255,255,255,1);}

/*商品資訊*/
.infor_block h2.detail_title{ font-size: 1.15rem; color:#555; margin: 0 15px 10px;}
.infor_block p.detail_text{ font-size: 0.9rem; color: #777; margin: 0 15px 10px;}
.infor_block p.detail_sort{ font-size: 0.9rem; color: #999; margin: 25px 15px 20px;}
.infor_block p.detail_sort span.buying_txt{ border-right: 1px solid #aaa; padding-right: 10px;}
.infor_block p.detail_sort span.original_txt{ border-right: 1px solid #aaa; padding: 0 10px 0 5px; text-decoration: line-through;}
.infor_block p.detail_sort span.deal_txt{ padding-left: 5px; font-size: 1rem; font-weight: bold; color: #777;}
.infor_block a.detail_addCart{ display: block; background-color: #ffc94d; color: #fff; font-size: 0.95rem; height: 35px; line-height: 35px; text-decoration: none; text-align: center; border-radius: 3px; margin: 0 15px; text-shadow: 0 0 0 transparent;}
.infor_block a.detail_addCart:active{ opacity: 0.8;}

/*商品介紹*/
.picture_block{ background-color: #fff; padding: 10px 0 0; margin-bottom: 20px;}
.picture_block .detail_imgs{ margin: 20px 15px;}
.picture_block .detail_imgs .BIG_box{ width: 100%; overflow: hidden;}
.picture_block .detail_imgs .BIG_box img{ display: block; margin: 0 auto; max-width: 300px;}
.picture_block a.see_more{ display: block; background: url(../images/store/icon_more.png) no-repeat center center / 20px 18px #f7f7f7; border-top: 1px solid #e9e9e9; border-bottom: 1px solid #e9e9e9; height: 20px; padding: 10px; }
.picture_block a.see_more:active{ opacity: 0.7;}

/*本店其他商品*/
.others_block{ background-color: #fff; padding: 10px 0 0; margin-bottom: 20px; width: 100%}
.others_block .others_listBox{ text-align: center; width: 100%}
.others_block .others_listBox{ text-align: center;}
.others_block .list_content{ float: left; position: relative; margin: 15px auto; height: 124px;}
.others_block ul.ul_box{ position: absolute; left: 0; top: 0; width: 100%}
.others_block ul.ul_box li{ float: left; width: 124px; height: 124px; margin-right:10px;}
.others_block ul.ul_box a.others_img{ display: block;}
.others_block ul.ul_box a.others_img img{ width:124px; height:124px;}

/* ================================== 最新消息_POPUP ================================== */
.news_block{ background-color: #fff; padding: 10px 0 0; margin:50px 0 20px; }
.news_block h4.store_name{ font-size: 0.9rem; font-weight: bold; color: #555; padding: 25px 10px;}
.news_block .news_box{ border-top: 1px solid #e5e5e5; padding: 20px 10px;}
.news_block .news_box p.news_time{ font-size: 0.8rem; font-weight: bold; color: #aaa;}
.news_block .news_box p.news_text{ font-size: 0.9rem; color: #777; margin-top: 10px;}


/* ================================== 購物車列表_結帳 ================================== */
.cart_content{ margin-bottom:240px;}
.cart_item{ width: 100%; background-color: #fff; position: relative; height: 120px; padding: 15px 0; display: inline-block; border-bottom:1px solid #e5e5e5; }
.cart_item .left_box{ height: 120px; width: 120px; position: absolute; margin-left: 10px;}
.cart_item .left_box a{ display: block; background: #fff;}
.cart_item .left_box img{ width: 120px;}
.cart_item .right_box{ padding: 0 0 0 140px;}
.cart_item .right_box h3.product_title{ width: 100%; height: 50px; overflow: hidden; font-size: 0.9rem; color: #555; line-height: 20px;}
.cart_item .right_box h3.product_title a{ font-size: 0.9rem; text-decoration: none; color: #555; line-height: 20px;}
.cart_item .right_box .p_text_box{ width: 100%; margin: 5px 0 0; position: absolute; bottom: 15px;}
.cart_item .right_box .p_text_box p{ font-size: 0.8rem; color: #888; line-height: 22px;}

/*修改數量、刪除*/
.cart_item .right_box a.modified_btn{ float: right; top: 35px; left: -2px;  padding: 0; width: 30px; height: 30px; background: url(../images/store/icon_modify.png) no-repeat 0 0 / 30px 30px transparent; border: 0; box-shadow: 0 0 0 #fff;}
.cart_item .right_box a.modified_btn:active{ opacity: 0.8;}
.modified_popup{ background-color: #f9f9f9; border-radius: 5px; border: 1px solid #ddd; box-shadow: 1px 1px 6px rgba(0,0,0,0.2); top: 47px; left: -10px; width: 100px;}
.modified_popup a{ display: block; text-align: center; font-size: 0.8rem; color: #3b5998; line-height: 30px; text-decoration: none;}
.modified_popup a.modify_amount{ border-bottom: 1px solid #e0e0e0;}
.modified_popup a:active{ background-color: #f3f3f3; border-radius: 5px;}

/*應付金額*/
.checkout_content{ background-color: #555; width: 100%; position: fixed; bottom: 0; margin-top:320px; z-index: 999;}
.checkout_content .buy_amount{ margin: 0 10px; border-bottom: 1px solid #6d6d6d;}
.checkout_content .buy_price{ margin: 0 10px; border-bottom: 1px solid #6d6d6d;}
.checkout_content .buy_fare{ margin: 0 10px; }
.checkout_content .buy_total{ padding: 0 10px; background-color: #666;}
.checkout_content p{ color: #bbb; font-size: 0.85rem; line-height: 40px; text-shadow:0 0 0 transparent;}
.checkout_content p.left_title{ float: left;}
.checkout_content p.right_text{ float: right;}
.checkout_content a.checkout_btn{ display: block; font-size: 1rem; font-weight: bold; color: #fff; background-color: #ffc94d; line-height: 50px; text-shadow:0 0 0 transparent; text-align: center; text-decoration: none;}
.checkout_content a.checkout_btn:active{ color: #fff; background-color: #ffd26a;}
.checkout_content .buy_amount p.right_text a.add_more_btn{ background-color:#e9e9e9; color:#777; font-size:0.75rem; line-height:20px; padding:5px 15px; margin-right:10px; border-radius:4px; text-decoration:none;}
.checkout_content .buy_amount p.right_text a.add_more_btn:active{ opacity:0.9;}

/* 20160914 修改合購商品數量 */
.cart_item{ height: 120px;}
.cart_item .left_box{ height: 120px; width: 120px; position: absolute; margin-left: 10px;}
.cart_item .left_box img{ width: 120px; height: 120px; border: 1px solid #ececec; background-color: #fff;}
.cart_item .right_box{ padding: 0 0 0 140px;}
.cart_item .right_box h3.product_title{ float: left; height: 40px; max-width: 80%;}
.cart_item .right_box .amount_modify{ width: 88px; height: 24px; border: 1px solid #ddd; display: inline-block; margin-top: 7px; text-align: center;}
.cart_item .right_box .amount_modify span.amount_no{ font-size: 0.75rem; color: #666; }
.cart_item .right_box .amount_modify a{ height: 24px; width: 24px; display: inline-block;}
.cart_item .right_box .amount_modify a.add_amount_btn{ float: right; background:url(../images/start_event/icon_amount_add.png) no-repeat center center / 12px auto; border-left: 1px solid #ddd;}
.cart_item .right_box .amount_modify a.delete_amount_btn{ float: left; background:url(../images/start_event/icon_amount_delete.png) no-repeat center center / 12px auto; border-right: 1px solid #ddd;}
.cart_item .right_box .amount_modify a:active{ background-color: #f0f0f0;}
.cart_item .right_box a.modify_delete{ float: right; background:url(../images/start_event/icon_trash30.png) no-repeat center center / auto 15px rgba(0,0,0,0.4); height: 25px; width: 25px; border-radius: 3px; display: block; position: absolute; right: 10px; top: 15px; z-index: 1;}
.cart_item .right_box a.modify_delete:active{ background-color: rgba(0,0,0,0.7);}
.cart_item .right_box p.price_text{ color: #EF555A; position: absolute; right: 10px; bottom: 19px; font-size: 0.85rem; font-weight: 600; letter-spacing: 0.5px;}



/* ================================== 填寫訂單資料 ================================== */
.oreder_main h3.s_title{ margin: 0 15px; line-height: 46px; border-bottom: 1px solid #e6e6e6; font-size: 1rem; color: #333; padding-top: 5px; font-weight:900 !important;}

/*付款金額*/
.payable_content{ background-color: #fff; margin-bottom: 30px;}
.payable_content p{ color: #555; font-size: 0.9rem; text-shadow:0 0 0 transparent; line-height: 35px;}
.payable_content p.left_title{ float: left; font-weight: bold; }
.payable_content p.right_text{ float: right;}
.payable_content .payable_amount{ margin: 0 15px; padding-top: 5px;}
.payable_content .payable_price{ margin: 0 15px; }
.payable_content .payable_bonus{ margin: 0 15px 0 5px; height: 70px; }
.payable_content .payable_total{ border-top:1px solid #e9e9e9; margin: 0 15px; padding: 5px 0 10px;}
.payable_content .payable_total p{ color:#f06354; font-weight: bold;}
.payable_content .payable_bonus .bonus_text{ float: left;}
.payable_content .payable_bonus p.left_title{ line-height: 24px; float: none;}
.payable_content .payable_bonus p.left_title span{ font-weight: normal; color:#888;}
.payable_content .payable_bonus .ui-checkbox{ margin: 0}
.payable_content .payable_bonus .ui-checkbox .ui-btn{ background-color: #fff; border: 0;}
.payable_content .payable_bonus p.right_text{ float: right; line-height: 70px;}
.payable_content .payable_bonus p.bonus_no{ color: #f06354;}

/*填寫寄送資料*/
.form_content{ background-color: #fff; padding-bottom: 20px;}
.form_content .form_item input[type="text"], input[type="password"]{ font-size: 0.9rem; padding: 8px 10px;}
.form_content .form_item .ui-select .ui-btn{ font-size: 0.9rem; line-height: 20px; text-align: left; color: #777; background-color: #fbfbfb; padding: 9px 35px 9px 15px; font-weight: normal; box-shadow: 0 0px 3px rgba(0, 0, 0, .10); border-color: #d6dbdb;}
.form_content .ui-select .ui-btn-active{ background-color:#f3f3f3; color:#777; border-color:#d9d9d9;}

.form_content .form_item{ margin: 0 15px; padding: 15px 0;}
.form_content p{ color: #777; font-size: 0.9rem; text-shadow:0 0 0 transparent;}
.form_content p.left_title{ font-weight:600 !important; margin: 0 10px 10px 0; color: #333;}
.form_content p.left_title span.light{ color: #f06354; padding-right: 5px;}
.form_content .right_text{ float: left; width: 100%;}
.form_content .note_box{ border: 0;}
.form_content .order_name .ui-input-text{ display: inline-block; margin: 0px 1% 0px 0; width: 48%;}
.form_content .accept_name .ui-input-text{ display: inline-block; margin: 0px 1% 0px 0; width: 48%;}
.form_content .accept_name .ui-btn{ background-color: #fff; border: 0; color: #777; padding: 3px 5px 3px 43px; position: relative; left: -10px; font-weight: normal;}
.form_content .accept_name .ui-checkbox{ margin: 0 0 10px;}
.form_content .invoice_box .ui-checkbox .ui-btn{ background-color: #fff; border: 0; color: #777; padding: 5px 5px 5px 40px}
.form_content .invoice_box .ui-input-text{ margin: 10px 0;}
.form_content .invoice_box .address_select_box .ui-select{ margin-top:0;}
.form_content .postal_code{ margin-bottom:10px;}
.form_content .address_select_box .ui-select{ float: left; width: 48%; margin: 0 2% 10px 0;}
.form_content .accept_location .date_box .ui-input-text{ float: left; width: 47%; margin: 9px 2% 5px 0; cursor: pointer; background-color:#f9f9f9; border:1px solid #d6dbdb; box-shadow: 0 0 0 rgba(0, 0, 0, 0) inset; padding-right:0;}
.form_content .accept_location input.day_input{ border:0; background-color:transparent;}
.form_content .accept_location input.day_input:active{ background-color:#f2f2f2;}
.form_content .accept_location .address_input .ui-input-text{ width: 98%; margin: 0;}
.form_content .accept_location .date_box .ui-select{ float: left; width: 48%; }
.wrapper .form_content textarea{ border:1px solid #d6dbdb; background-color:#fafafa; box-shadow: 0 0px 0px rgba(0, 0, 0, 0.2) inset; min-height:60px; font-size: 0.9rem;}

.form_content .invoice_checkbox{ margin:10px 0 0 0;}
.form_content .invoice_checkbox .ui-checkbox{ margin:0; position: relative; left: -10px;}
.form_content .invoice_checkbox .ui-checkbox .ui-btn{ background-color:#fff; border:0;}
.form_content .invoice_box{ padding:10px 10px 20px; background-color:#f3f4f4; border-radius: 5px; border:1px solid #d7d8d9;}
.form_content .invoice_box .ui-btn.ui-checkbox-off::after{ background-color: rgba(0,0,0, 0.5);}
.form_content .invoice_box .ui-checkbox .ui-btn{ background-color: #f3f4f4; color:#777; position: relative; left: -10px;}
.form_content .invoice_box .ui-select .ui-btn{ background-color:#fff;}
.form_content .invoice_box input{ background-color:#fff; color:#666;}

.oreder_main a.submit_btn{ display: block; background-color: #ffc94d; color: #fff; font-size: 0.95rem; line-height: 45px; text-align: center; text-decoration: none; border-radius: 5px; box-shadow: 0 3px 0 #eab640; margin: 20px auto 30px; width: 95%;}
.oreder_main a.submit_btn:active{ background-color: #ffd26a;}


/*================================== 商店關閉 ==================================*/
.closed_alarm{ background-color: #fff; padding: 50px 0; text-align: center;}
.closed_alarm p.alarm_red{ color: #f64949; font-size: 1.18rem; line-height: 33px; font-weight: bold;}
.closed_alarm p.alarm_text{ color: #777; font-size: 1rem; line-height: 30px;}

/* ===== 推薦商店 ===== */
.wrapper .store_recommend .one_store{ background-color: #fff;  margin: 15px 0; padding: 20px 0; }
.wrapper .store_recommend .one_store h2.store_name{ margin: 0 15px; max-height: 45px; overflow: hidden; line-height: 1.3rem;}
.wrapper .store_recommend .one_store h2.store_name a{ color: #666; text-decoration: none; font-size: 1.1rem; display: block;}
.wrapper .store_recommend .one_store h2.store_name a:active{ background-color: transparent; color: #888;}
.wrapper .store_recommend a.btn_moreStore{ display: block; background-color: #bbb; color: #fff; font-size: 0.9rem; height: 40px; line-height: 40px; text-align: center; margin: 10px auto; width: 90%; text-decoration: none; text-shadow:0 0 0 #fff; border-radius: 3px;}
.wrapper .store_recommend a.btn_moreStore:active{ background-color: #c5c5c5;}

/*商店滿意度*/
.wrapper .store_recommend .one_store .store_info_box{ height: 28px; margin: 5px 15px 0;}
.wrapper .store_recommend .one_store .store_info_box p.stf_star{ font-size: 0.8rem; color: #999; white-space: nowrap;}
.wrapper .store_recommend .one_store .store_info_box p.stf_star img{ position: relative; top:2px; width: 110px;}
.wrapper .store_recommend .one_store .store_info_box span.fraction{ font-size: 0.98rem; font-weight: bold; color: #f06354;}
.wrapper .store_recommend .one_store .store_info_box span.comment_txt{ position: relative; top: -3px; margin-left: 3px;}

/*累積份數*/
.wrapper .store_recommend .one_store .infor_item{ margin: 10px 15px 0;}
.wrapper .store_recommend .one_store .infor_item p.icon_amount{ font-size: 0.9rem; color: #888; line-height: 0.9rem;}
.wrapper .store_recommend .one_store .infor_item p.icon_amount span{ color: #f06354; padding: 0 2px;}

/*商品圖*/
.wrapper .store_recommend .one_store .goods_pic{ height: 150px; margin: 15px 0 15px;}
.wrapper .store_recommend .one_store .goodspic_wrp{ height: 150px; position: absolute; left: 0; width: 100%;}
.wrapper .store_recommend .one_store .goodspic_wrp .pic_content{height: 150px; position: relative; width: 100%; overflow: hidden;}
.wrapper .store_recommend .one_store .goodspic_wrp .pic_content ul.ul_box{ position: absolute; top: 0; left: 0; width: 10000%;}
.wrapper .store_recommend .one_store .goodspic_wrp .pic_content ul.ul_box li{ float: left; margin-right: 10px;}
.wrapper .store_recommend .one_store .goodspic_wrp .pic_content ul.ul_box img{ height: 150px;}

/*喜歡*/
.wrapper .store_recommend .one_store .like_box{ margin: 0 15px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.wrapper .store_recommend .one_store .like_box a.like_btn{ float: left; background: url(../images/status/icon_like.png) no-repeat 10px 8px / 15px 15px #fee3e7; color: #ea5f73; font-weight: bold; text-decoration: none; padding: 9px 10px 7px 30px; line-height: 0.8rem; font-size: 0.8rem; border-radius: 3px;}
.wrapper .store_recommend .one_store .like_box a.like_btn:active{ background: url(../images/status/icon_like_active.png) no-repeat 10px 8px / 15px 15px #ea5f73; color: #fff;}
.wrapper .store_recommend .one_store .like_box a.unlike{ background: url(../images/status/icon_cancel.png) no-repeat 7px 8px / 16px 16px #feeef1; color: #f29fab; padding: 9px 5px 7px 25px;}
.wrapper .store_recommend .one_store .like_box a.unlike:active{ background: url(../images/status/icon_cancel.png) no-repeat 7px 8px / 16px 16px #feeef1; color: #f29fab; opacity: 0.8;}
.wrapper .store_recommend .one_store .like_box p.like_text{ float: left; line-height: 30px; font-size: 0.8rem; color: #888; margin-left: 7px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; width: 70%;}
.wrapper .store_recommend .one_store .like_box p.you_like{ width: 75%;}
@media screen and ( max-width:551px) {
	.wrapper .store_recommend .one_store .like_box p.like_text{ width: 65%;}
}
@media screen and ( max-width:341px) {
	.wrapper .store_recommend .one_store .like_box p.like_text{ width: 100%; margin: 5px 0 0 0;}
	.wrapper .store_recommend .one_store .like_box a.like_btn{ display: block; float: none; background: url(../images/status/icon_like.png) no-repeat 41% 8px / 16px 16px #fee3e7; color: #ea5f73; padding: 9px 10px 9px 25px; text-align: center; font-size: 0.85rem;}
	.wrapper .store_recommend .one_store .like_box a.like_btn:active{ background: url(../images/status/icon_like_active.png) no-repeat 41% 8px / 16px 16px #ea5f73;}
	.wrapper .store_recommend .one_store .like_box a.unlike{ display: block; background: url(../images/status/icon_cancel.png) no-repeat 36% 7px / 18px 18px #feeef1; color: #f29fab; padding: 9px 5px 9px 25px; text-align: center;}
	.wrapper .store_recommend .one_store .like_box a.unlike:active{ background: url(../images/status/icon_cancel.png) no-repeat 36% 7px / 18px 18px #feeef1; color: #f29fab; opacity: 0.8;}
}

/*================================== 選購商品列表(加購) ==================================*/
.addin_cart_content{ margin-bottom:120px;}
.addin_cart_content .cart_item{ width: 100%; background-color: #fff; position: relative; height: 120px; padding: 15px 0; display: inline-block; border-bottom:1px solid #e5e5e5; }
.addin_cart_content .cart_item .left_box{ height: 120px; width: 120px; position: absolute; margin-left: 10px;}
.addin_cart_content .cart_item .left_box a{ display: block;}
.addin_cart_content .cart_item .left_box a.product_img img{ width: 120px;}
.addin_cart_content .cart_item .left_box a.img_amount_text{ width: 120px; height:120px; background:url(../images/store/icon_addin.png) no-repeat center 30px / 36px 36px rgba(255,255,255,0.7); position:absolute; top:0; left:0; text-align:center; text-decoration:none; font-size:0.9rem; color:#22668d;}
.addin_cart_content .cart_item .left_box a.img_amount_text span.add_amount_txt{ position: relative; top:75px; text-shadow: 1px 1px 0px rgba(255,255,255,0.5);}
.addin_cart_content .cart_item .right_box{ padding: 0 0 0 140px;}
.addin_cart_content .cart_item .right_box h3.product_title{ width: 100%; height: 50px; overflow: hidden;}
.addin_cart_content .cart_item .right_box h3.product_title a{ font-size: 0.95rem; text-decoration: none; color: #555; line-height: 20px;}
.addin_cart_content .cart_item .right_box .p_text_box{ width: 100%; margin: 5px 0 0; position: absolute; bottom: 15px;}
.addin_cart_content .cart_item .right_box .p_text_box p{ font-size: 0.85rem; color: #888; line-height: 22px;}
.addin_cart_content .cart_item .right_box p.big_price_text{ color:#777; font-size: 0.95rem; font-weight: bold; line-height:30px; }

.addin_cart_content .cart_item .right_box a.add_cart_btn{ float:right; font-size:0.85rem; padding:0 10px; position: relative; right:10px; top:35px; line-height:35px; text-decoration:none; background-color:#fe9f54; color:#fff; border-radius:3px;}
.addin_cart_content .cart_item .right_box a.add_cart_btn:hover{ background-color:#fe9f54; color:#fff;}
.addin_cart_content .cart_item .right_box a.add_cart_btn:active{ opacity:0.8;}

/*選購商品數量總計*/
.short_checkout_content { background-color: #555; bottom: 0; margin-top:120px; position: fixed; width: 100%; z-index: 999;}
.short_checkout_content .addcart_total{ padding: 0 10px; display:block; }
.short_checkout_content .addcart_total p.addcart_total_text{ font-size:0.9rem; color:#fff; line-height:40px; text-align:center;}
.short_checkout_content .addcart_total p.addcart_total_text span{ padding:0 4px; font-weight:bold;}
.short_checkout_content a.nextStep_btn { position: relative; background-color: #ffc94d; color: #fff; font-size: 1rem; font-weight: bold; line-height: 25px; text-align: center; text-decoration: none; text-shadow: 0 0 0 transparent; display: block;}
.short_checkout_content a.nextStep_btn:active{ background-color: #ffd26a; color: #fff;}




/* ================================== 20151130_填寫訂單資料Popup ================================== */
.submit_order_block{ background-color:#f2f2f2;}
.submit_order_block h3.s_title{ margin: 0 15px; line-height: 46px; border-bottom: 1px solid #e6e6e6; font-size: 1rem; color: #333; padding-top: 5px; font-weight:900 !important;}

/*付款金額*/
.submit_order_block .payable_content{ background-color: #fff; margin-bottom: 20px;}
.submit_order_block .payable_content p{ color: #555; font-size: 0.9rem; text-shadow:0 0 0 transparent; line-height: 40px;}
.submit_order_block .payable_content p.left_title{ float: left; font-weight: bold; }
.submit_order_block .payable_content p.right_text{ float: right;}
.submit_order_block .payable_content .payable_bonus{ border: 0; margin: 0 15px;}
.submit_order_block .payable_content .payable_total{ padding: 0;}
.submit_order_block .payable_content .payable_total p{ color:#f06354; font-weight: bold;}
.submit_order_block .payable_content .payable_bonus .bonus_text{ float: left;}
.submit_order_block .payable_content .payable_bonus p.left_title{ line-height: 24px; float: none;}
.submit_order_block .payable_content .payable_bonus p.left_title span{ font-weight: normal;}
.submit_order_block .payable_content .payable_bonus .ui-checkbox{ margin: 0; position: relative; left: -10px;}
.submit_order_block .payable_content .payable_bonus .ui-checkbox .ui-btn{ background-color: #fff; border: 0;}
.submit_order_block .payable_content .payable_bonus p.right_text{ float: right; line-height: 70px;}
.submit_order_block .payable_content .onModify_bonus{ height:40px;}
.submit_order_block .payable_content .onModify_bonus p.left_title{ line-height: 40px;}
.submit_order_block .payable_content .onModify_bonus p.right_text{ line-height: 40px;}

/*填寫寄送資料*/
.submit_order_block .form_content{ background-color: #fff; padding-bottom: 20px;}
.submit_order_block .form_content .form_item input[type="text"], input[type="password"]{ font-size: 0.9rem; padding: 8px 10px;}
.submit_order_block .form_content .form_item .ui-select .ui-btn{ font-size: 0.9rem; line-height: 20px; text-align: left; color: #777; background-color: #fbfbfb; padding: 9px 35px 9px 15px; font-weight: normal; box-shadow: 0 0px 3px rgba(0, 0, 0, .10); border-color: #d6dbdb;}
.submit_order_block .form_content .ui-select .ui-btn-active{ background-color:#f3f3f3; color:#777; border-color:#d9d9d9;}

.submit_order_block .form_content .form_item{ margin: 0 15px; padding: 15px 0;}
.submit_order_block .form_content p{ color: #777; font-size: 0.95rem; text-shadow:0 0 0 transparent;}
.submit_order_block .form_content p.left_title{ font-weight: bold; margin: 0 10px 10px 0; color: #444;}
.submit_order_block .form_content p.left_title span.light{ color: #f06354; padding-right: 5px;}
.submit_order_block .form_content .note_box{ border: 0;}
.submit_order_block .form_content .order_name .ui-input-text{ display: inline-block; margin: 0px 1% 0px 0; width: 48%;}
.submit_order_block .form_content .accept_name .ui-input-text{ display: inline-block; margin: 0px 1% 0px 0; width: 48%;}
.submit_order_block .form_content .accept_name .ui-btn{ background-color: #fff; border: 0; color: #777; padding: 0px 5px 0px 40px; position: relative; left: -10px; font-weight: normal;}
.submit_order_block .form_content .accept_name .ui-checkbox{ float:none; margin: 0 0 10px;}
.submit_order_block .form_content .invoice_box .ui-checkbox .ui-btn{ background-color: #fff; border: 0; color: #777; padding: 5px 5px 5px 40px}
.submit_order_block .form_content .invoice_box .ui-input-text{ margin: 10px 0;}
.submit_order_block .form_content .invoice_box .address_select_box .ui-select{ margin-top:0;}
.submit_order_block .form_content .postal_code{ margin-bottom:10px;}

.submit_order_block .form_content .address_select_box .ui-select{ float: left; width: 48%; margin: 0 2% 10px 0;}
.submit_order_block .form_content .accept_location .date_box .ui-input-text{ float: left; width: 47%; margin: 9px 2% 5px 0; cursor: pointer; background-color:#f9f9f9; border:1px solid #d6dbdb; box-shadow: 0 0 0 rgba(0, 0, 0, 0) inset; padding-right:0;}
.submit_order_block .form_content .accept_location input.day_input{ border:0; background-color:transparent;}
.submit_order_block .form_content .accept_location input.day_input:active{ background-color:#f2f2f2;}
.submit_order_block .form_content .accept_location .address_input .ui-input-text{ width: 98%; margin: 0;}
.submit_order_block .form_content .accept_location .date_box .ui-select{ float: left; width: 48%; }
.submit_order_block .form_content textarea{ border:1px solid #d6dbdb; background-color:#fafafa; box-shadow: 0 0px 0px rgba(0, 0, 0, 0.2) inset; min-height:60px; font-size: 0.9rem;}

.submit_order_block .form_content .invoice_checkbox{ margin:10px 0 0 0;}
.submit_order_block .form_content .invoice_checkbox .ui-checkbox{ float:none; margin:0; position: relative; left: -10px;}
.submit_order_block .form_content .invoice_checkbox .ui-checkbox .ui-btn{ background-color:#fff; border:0;}
.submit_order_block .form_content .invoice_box{ padding:10px 10px 20px; background-color:#f3f4f4; border-radius: 5px; border:1px solid #d7d8d9;}
.submit_order_block .form_content .invoice_box .ui-btn.ui-checkbox-off::after{ background-color: rgba(0,0,0, 0.5);}
.submit_order_block .form_content .invoice_box .ui-checkbox .ui-btn{ background-color: #f3f4f4; color:#777; position: relative; left: -10px;}
.submit_order_block .form_content .invoice_box .ui-select .ui-btn{ background-color:#fff;}
.submit_order_block .form_content .invoice_box input{ background-color:#fff; color:#666;}
.submit_order_block .form_content .invoice_box .ui-checkbox{ float:none;}

.submit_order_block a.submit_btn{ display: block; background-color: #ffc94d; color: #fff; font-size: 0.95rem; line-height: 45px; text-align: center; text-decoration: none; border-radius: 5px; box-shadow: 0 3px 0 #eab640; margin: 20px auto 30px; width: 95%;}
.submit_order_block a.submit_btn:active{ background-color: #ffd26a;}


/* ========== 20151216_商店特色介紹大圖 ========== */
.popup_main .store_photos_block{ padding:50px 0 20px; background-color:#fff; width:100%;}

/* ============================== 20160308商品大圖修改 ＿ 開始 ============================== */
.infor_block .pic_wrp .pic_content ul.ul_box{ width: 1000%; position: absolute; top: 0; left: 0;}
.infor_block .pic_wrp .pic_content ul.ul_box li { float: left; display: inline-block; max-width:var(--max_w); width:100%; text-align: left;}
.infor_block .pic_wrp .pic_content ul.ul_box li a{ display: inline-block; max-width: 400px; margin: 0 auto;}
.infor_block .pic_wrp .pic_content ul.ul_box li img{ width: 400px; height: 400px; }

@media screen and ( max-width:381px) {
	.infor_block .product_imgs{ height: 380px; }
	.infor_block .pic_wrp .pic_content{ height: 380px;}
	.infor_block .pic_wrp .pic_content ul.ul_box li{ height: 380px; max-width:380px;}
	.infor_block .pic_wrp .pic_content ul.ul_box li a{ max-width:380px;}
	.infor_block .pic_wrp .pic_content ul.ul_box li img{ width: 380px; height: 380px;}
}

@media screen and ( max-width:361px) {
	.infor_block .product_imgs{ height: 360px; }
	.infor_block .pic_wrp .pic_content{ height: 360px;}
	.infor_block .pic_wrp .pic_content ul.ul_box li{ height: 360px; max-width:360px;}
	.infor_block .pic_wrp .pic_content ul.ul_box li a{ max-width:360px;}
	.infor_block .pic_wrp .pic_content ul.ul_box li img{ width: 360px; height: 360px;}
}
@media screen and ( max-width:321px) {
	.infor_block .product_imgs{ height: 320px; }
	.infor_block .pic_wrp .pic_content{ height: 320px;}
	.infor_block .pic_wrp .pic_content ul.ul_box li{ height: 320px; max-width:320px;}
	.infor_block .pic_wrp .pic_content ul.ul_box li a{ max-width:320px;}
	.infor_block .pic_wrp .pic_content ul.ul_box li img{ width: 320px; height: 320px;}
}
/* ============================== 20160308商品大圖修改 ＿ 結束 ============================== */


/* ============================== 20160309「喜歡」改成「許願」＿開始 ============================== */
.wrapper .store_union_box a.unlike{ float: right; margin: 7px 0 7px 5px; line-height: 36px; width: 60px; background: url(../images/store/icon_like_active.png) no-repeat 10px 9px / 16px 16px #ea5f73; color: #fff; font-size: 0.9rem; text-shadow: 0 0 0 transparent; text-decoration: none; border-radius: 3px; text-align: center; padding-left: 20px; letter-spacing: 3px;}
.wrapper .store_union_box a.unlike:active{ background: url(../images/store/icon_like_active.png) no-repeat 10px 9px / 16px 16px #eb7081; color: #fff;}
@media screen and ( max-width:351px) {
	.wrapper .store_union_box a.group_btn{ margin-left:5px;}
	.wrapper .store_union_box a.like_btn{ width:55px; background: url(../images/store/icon_like.png) no-repeat 8px 9px / 16px 16px #fee3e7;}
	.wrapper .store_union_box a.like_btn:active{ background: url(../images/store/icon_like_active.png) no-repeat 8px 9px / 16px 16px #ea5f73;}
	.wrapper .store_union_box a.unlike{ float: right; width: 55px; background: url(../images/store/icon_like_active.png) no-repeat 8px 9px / 16px 16px #ea5f73; color: #fff; padding:0;}
	.wrapper .store_union_box a.unlike:active{ background: url(../images/store/icon_like_active.png) no-repeat 10px 9px / 16px 16px #eb7081; color: #fff;}
}

.wrapper .store_recommend .one_store .like_box a.unlike{ background: url(../images/status/icon_like_active.png) no-repeat 10px 8px / 15px 15px #ea5f73; color: #fff; padding: 9px 10px 7px 30px;}
.wrapper .store_recommend .one_store .like_box a.unlike:active{ background: url(../images/status/icon_like_active.png) no-repeat 10px 8px / 15px 15px #ea5f73; color: #fff; opacity: 0.8;}
@media screen and ( max-width:341px) {
	.wrapper .store_recommend .one_store .like_box a.unlike{ display: block; background: url(../images/status/icon_like_active.png) no-repeat 41% 8px / 16px 16px #ea5f73; color: #fff; padding: 9px 10px 9px 25px; text-align: center;}
	.wrapper .store_recommend .one_store .like_box a.unlike:active{ background: url(../images/status/icon_like_active.png) no-repeat 41% 8px / 16px 16px #ea5f73; color: #fff; opacity: 0.8;}
}
/* ============================== 20160309「喜歡」改成「許願」＿結束 ============================== */



/* ============================== 20160413商店頁改版調整＿開始 ============================== */
.wrapper .store_banner img{ display: table;}
.productList_block{ margin-bottom: 53px;}
.storeAbout_block{ margin-bottom: 30px;}
.storeUnion_block{ margin-bottom: 30px;}

/*分享社群, 開團, 許願*/
.wrapper .store_function { background-color: #fff; height: 36px; width: 100%; overflow: hidden; padding: 12px 0px; border-bottom: 1px solid #ddd;}
.wrapper .store_function .store_tools{ padding: 0 15px; height: 36px;}
.wrapper .store_function .shareing_btns_box{ float: left; height: 36px; margin: 0;}
.wrapper .store_function .shareing_btns_box a{ margin: 0 1px;}
.wrapper .store_function .union_btns_box{ float: right;}
.wrapper .store_function a.like_btn{ display: inline-block; line-height: 36px; width: 54px; background: url(../images/store/icon_like.png) no-repeat 8px 10px / 16px 16px #fee3e7; color: #ea5f73; font-size: 0.9rem; text-shadow: 0 0 0 transparent; text-decoration: none; border-radius: 3px; text-align: center; padding-left: 20px; letter-spacing: 3px;}
.wrapper .store_function a.like_btn:active{ background: url(../images/store/icon_like_active.png) no-repeat 8px 10px / 16px 16px #ea5f73; color: #fff; }
.wrapper .store_function a.unlike{ background: url(../images/store/icon_like_active.png) no-repeat 8px 10px / 16px 16px #ea5f73; color: #fff; letter-spacing: 0px; width: 64px;}
.wrapper .store_function a.unlike:active{ background: url(../images/store/icon_like_active.png) no-repeat 8px 10px / 16px 16px #f66b80; color: #fff;}
.wrapper .store_function a.like_stop{ background: url(../images/store/icon_like_stop.png) no-repeat 8px 10px / 16px 16px #eee; color: #b8b8b8;}
.wrapper .store_function a.group_btn{ display: inline-block; margin: 0 1px; line-height: 36px; width: 80px; background-color: #69bdfd; color: #fff; font-size: 0.9rem; text-shadow: 0 0 0 transparent; text-decoration: none; border-radius: 3px; text-align: center;}
.wrapper .store_function a.group_btn:active{ background-color: #7dc4fa;}
.wrapper .store_function a.group_stop{ background-color: #eee; color: #b8b8b8;}
.wrapper .store_function a.group_stop:active{ background-color: #bbb;}
.wrapper .storeFunction_fixed{ position: fixed; top: 0; z-index: 3; border-bottom: 1px solid #d5d5d5; max-width: var(--max_w);}

/*商店Tab*/
.wrapper nav.store_tab{ background-color: #f9f9f9; border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; margin-top: 15px;}
.wrapper nav.store_tab a{ display: block; float: left; line-height: 50px; color: #333; font-size: 0.95rem;  text-decoration: none; text-align: center; width: 33.2%; border-right: 1px solid #d9d9d9; border-bottom: 0px;}
.wrapper nav.store_tab a:active{ background-color: #fff;}
.wrapper nav.store_tab a.store_union{ border-right: 0;}
.wrapper nav.store_tab a.target{ background-color:#fff; color: #333; font-weight: 900;}
.wrapper nav.store_tab .unread{background-color: rgb(240, 99, 84);color: rgb(255, 255, 255);font-size: 0.8rem;height: 20px;width: 20px;right: -2px;text-align: center;line-height: 20px;border-radius: 50%;font-weight: 500;font-family: Helvetica,Arial;top: -12px;position: relative;display: inline-block;}
@media screen and ( max-width:511px) {.wrapper nav.store_tab a{ width: 33.1%;}}
@media screen and ( max-width:331px) {.wrapper nav.store_tab .unread{ width:15px; height:15px; font-size:0.65rem; line-height:0.95rem;}}
/*商品列表下拉選擇*/
.wrapper .store_content .store_select_box{ margin: 0; padding:25px 15px; background-color: #fff; border-bottom: 1px solid #e3e3e3;}
.wrapper .store_content .store_select_box .ui-select{ margin-top: 0; margin-bottom: 0;}
.wrapper .store_content .store_select_box .ui-select .ui-btn{ font-size: 0.9rem; font-weight: 400; color: #777; background-color: #fcfcfc; border: 1px solid #d4dada; box-shadow: 0 0px 6px rgba(0, 0, 0, .1)}
/*商品列表*/
.productList_block .product_item{ display:block; border-bottom: 1px solid #e3e3e3; box-shadow: 0 0 0;}
.productList_block .product_item .right_box h3.product_title{ height: 50px;}
.productList_block .product_item .right_box h3.product_title a{ font-size: 0.9rem; text-decoration: none; color: #555; line-height: 20px;}
.productList_block .product_item .right_box .p_text_box{ float: left; width: 65%; margin: 0; position: relative; top: 20px;}
.productList_block .product_item .right_box .p_text_box p{ line-height: 24px; color: #888; font-size: 0.85rem;}
.productList_block .product_item .right_box .p_text_box p.buy_text{ float: none; }
.productList_block .product_item .right_box .p_text_box p.price_text{ float: none; font-weight: normal; color: #888;}
.productList_block .product_item .right_box .p_text_box p.price_text span{ color: #f36167;}
.productList_block .product_item .right_box a.add_cart{ float: right; display: block; background-color: #fe9f54; color: #fff; font-size: 0.85rem; line-height: 30px; text-decoration: none; text-align: center; text-shadow: 0 0 0 transparent; border-radius: 3px; width:50px; font-weight: normal; position: relative; top: 35px;}
.productList_block .product_item .right_box a.closed{ background-color: #d0d0d0; color: #fff; width: 60px;}
.productList_block .product_item .left_box a.img_amount_text{ width: 140px; height:140px; background:url(../images/store/icon_addin.png) no-repeat center 35px / 36px 36px rgba(255,255,255,0.7); position:absolute; top:0; left:0; text-align:center; text-decoration:none; font-size:0.9rem; color:#22668d;}
.productList_block .product_item .left_box a.img_amount_text span.add_amount_txt{ position: relative; top:80px; text-shadow: 1px 1px 0px rgba(255,255,255,0.5);}
/*商品總計數量*/
.productList_block p.productNumber_text{ font-size: 0.9rem; color: #555; line-height: 25px; margin: 0; padding: 10px 15px; background-color: #fff; border-bottom: 1px solid #e3e3e3;}

/*沒有商品*/
.wrapper p.nothing_alarm_text{ background-color: #fff; margin-top: 0; padding: 40px 20px;}
.wrapper .store_recommend a.btn_moreStore{ background-color: #ffc94d; border-radius: 5px; margin-top: 20px; margin-bottom: 30px;}
.wrapper .store_recommend a.btn_moreStore:active{ background-color: #ffd062;}

/*關於商店*/
.storeAbout_block h3.store_s_title{ font-size: 0.9rem; color: #444; line-height: 20px; border-bottom: 1px solid #e6e6e6; padding: 18px 0 12px;}
.storeAbout_block .store_stf{ padding: 20px 10px; margin-bottom: 0px; margin-top: 0px; line-height: 20px; border-bottom: 1px solid #e3e3e3;}
.storeAbout_block .store_stf h4{ font-size: 0.9rem; line-height: 20px; color: #444;}
.storeAbout_block .store_stf p a{ font-size: 0.9rem; font-weight: 400; text-decoration: none; color: #38c;}
.storeAbout_block .store_stf p a:active{ background-color: transparent;}
.storeAbout_block .store_stf a img.stf_img{ position: absolute; top: 16px;}
.storeAbout_block .store_stf a img.stf_img:active{ opacity: 0.8;}
.storeAbout_block .store_stf p a span{ position: relative; top: -2px; color: #38c; padding:0; margin-left: 120px;}
.storeAbout_block .store_stf p a span:active{ background-color:#eee;}

.storeAbout_block .store_infor{ background-color: #fff; padding: 10px 0; margin-bottom: 20px; border-bottom: 1px solid #e3e3e3;}
.storeAbout_block .store_infor .infor_box{ line-height: 20px; padding: 15px 10px; border-bottom: 0px;}
.storeAbout_block .store_infor h4{ color: #444; font-size: 0.9rem;}
.storeAbout_block .store_infor .infor_box p{ font-size: 0.9rem;color:#777; font-weight: 400;}
.storeAbout_block .store_infor .infor_box p a{ text-decoration: none; font-weight: 400;}
.storeAbout_block .store_infor .infor_box .left_text_box{ float: left; width: 73%;}

.storeAbout_block .store_news{ border-top: 1px solid #e3e3e3; border-bottom: 1px solid #e3e3e3; padding: 0;}
.storeAbout_block .store_news p.news_time{ font-weight: 400; margin: 18px 10px 0;}
.storeAbout_block .store_news p.news_content{ line-height: 24px;}
.storeAbout_block .store_news a.more_news{ font-weight:400; font-size: 0.85rem; background-color: #f9f9f9; border-top: 1px solid #e6e6e6; border-bottom: 0px; top: 0; }
.storeAbout_block .store_news a.more_news:active{ opacity: 1; background-color: #f7f7f7;}
.storeAbout_block .store_pblish{ border-top: 1px solid #e3e3e3; border-bottom: 1px solid #e3e3e3; padding: 0;}
.storeAbout_block .store_pblish p.discount_text{ font-size: 0.9rem; font-weight: 400; color:#555; line-height:22px;}
.storeAbout_block .store_pblish p.pblish_content{ line-height: 22px;}
.storeAbout_block .store_pblish a.see_more{ background: url(../images/store/icon_more.png) no-repeat center center / 20px 20px #f9f9f9; border-top: 1px solid #e6e6e6; border-bottom: 0px; top: 0;}
.storeAbout_block .store_pblish a.see_more:active{ opacity: 1; background-color: #f7f7f7;}

/*本店合購*/
.storeUnion_block .store_select_box p.all_union_text{ color:#777; font-size: 0.85rem; line-height: 20px; margin-bottom: 10px;}
.storeUnion_block .store_select_box p.all_union_text span{ padding: 0 4px; color:#e55555;}
.storeUnion_block .group_box{ margin-bottom: 0; box-shadow: 0 0 0; border-top: 0; border-bottom: 1px solid #e6e6e6; padding: 24px 10px; cursor: pointer;}
.storeUnion_block .group_box:active{ background-color: #f9f9f9;}
.storeUnion_block .group_box .grouping{ padding: 0;}
.storeUnion_block .group_box .member_img img{ border: 1px solid #e6e6e6; box-sizing: border-box;}
.storeUnion_block .group_box .group_infor p.account{ font-size: 0.75rem; line-height: 20px;}
.storeUnion_block .group_box .group_infor p.group_title{ font-size: 0.88rem; line-height: 20px; padding: 3px 0 4px;}
.storeUnion_block .group_box .group_infor p.location{ font-size: 0.75rem; margin: 2px 0;}
.storeUnion_block .group_box .group_infor p.location span{ color:#f06354;}
.storeUnion_block .group_box a.see_all{ display: inline-block; background-color: transparent; color: #4f77b8; font-size: 0.8rem; font-weight: 400; line-height: 20px; text-align: left; border-top: 0; margin-left: 60px;}
.storeUnion_block .group_box a.see_all:active{ background-color: transparent;}
.storeUnion_block .finish_event .group_infor p.group_title{ color: #aaa;}

/* ----- 商店評比_popup ----- */
.store_stf_block .store_total_stf{ height: 20px; padding: 75px 15px 25px; background-color: #fff; border-bottom: 1px solid #ececec;}
.store_stf_block .store_total_stf p.stf_title{ float: left; line-height: 20px; font-size: 0.9rem; color: #444; font-weight: bold;}
.store_stf_block .store_total_stf p.stf_text{ line-height: 20px; font-size: 0.85rem; color: #999; margin-left: 75px;}
.store_stf_block .store_total_stf p.stf_text img.stf_img{ width: 90px;}
.store_stf_block .store_total_stf p.stf_text span{ padding: 0 5px; position: relative; top: -2px;}

.store_stf_block .one_stf_box{ background-color: #fff; border-bottom: 1px solid #ececec; padding: 20px 15px;}
.store_stf_block .one_stf_box .stf_star{ width: 100%; height: 18px;}
.store_stf_block .one_stf_box .stf_star img{ width: 90px;}
.store_stf_block .one_stf_box .stf_star span.time{ font-size: 0.7rem; color: #aaa; float: right; position: relative; top: 2px;}
.store_stf_block .one_stf_box .stf_saying{ margin: 10px 0;}
.store_stf_block .one_stf_box .stf_saying .member_img{ float: left; width: 40px;}
.store_stf_block .one_stf_box .stf_saying .member_img img{ width: 40px; height: 40px; border-radius: 50%; border: 1px solid #eee;}
.store_stf_block .one_stf_box .stf_saying .member_stf{ margin-left: 50px;}
.store_stf_block .one_stf_box .stf_saying .member_stf p{ font-size: 0.8rem; line-height: 22px;}
.store_stf_block .one_stf_box .stf_saying .member_stf p.account{ color: #777; }
.store_stf_block .one_stf_box .stf_saying .member_stf p.account span.member_id{ color: #105cb6; padding-right: 3px;}
.store_stf_block .one_stf_box .stf_saying .member_stf p.saying_text{ color: #777;}


/* ============================== 20160413商店頁改版調整＿結束 ============================== */

/*========== 20160617 關於商店_大合購倒數_開始 ==========*/
.storeAbout_block .store_union_count{ background-color: #fff; padding: 20px 10px 0; margin-bottom: 0px; margin-top: 0px; line-height: 20px; position: relative;}
.storeAbout_block .store_union_count h4{ font-size: 0.9rem; line-height: 20px; color: #444;}
.storeAbout_block .store_union_count p{ font-size: 0.9rem; color: #777;}
.storeAbout_block .store_union_count p span{ font-family: Helvetica, sans-serif; color: #f36167; padding: 0 1px; font-weight: 500;}
.storeAbout_block .store_timing{ background-color: #fff; padding: 20px 10px; margin-bottom: 0px; margin-top: 0px; line-height: 20px; border-bottom: 1px solid #e3e3e3; position: relative;}
.storeAbout_block .store_timing h4{ font-size: 0.9rem; line-height: 20px; color: #444;}
.storeAbout_block .store_timing .unionTimer_box{ height: 20px;}
.storeAbout_block .store_timing .unionTimer_box span{ font-size: 0.9rem; color: #777; line-height: 20px; text-align: center; font-family: Helvetica, sans-serif; }
.storeAbout_block .store_timing .unionTimer_box span.font{ padding: 0 1px;}

/*========== 20160617 關於商店_大合購倒數_開始 ==========*/
