@charset "utf-8";
/* CSS Document */
.union_list_wrapper h1, .union_list_wrapper h2, .union_list_wrapper h3, .union_list_wrapper h4, .union_list_wrapper h5, .union_list_wrapper h6, .union_list_wrapper p, .union_list_wrapper a, .union_list_wrapper ul, .union_list_wrapper li{ letter-spacing:1px;}
.clearfix:after {content: "."; display: block; clear: both; visibility: hidden;	line-height: 0;	height: 0;}

.union_list_wrapper{ width:100%; background-color:#fbfbfb; padding-bottom:30px;}
.union_list_wrapper .union_list_box{ width:980px; margin: 0 auto;}


/*==上排_開始==*/
.union_list_wrapper .union_list_box .top_content{ width:980px; padding:15px 0;}
.union_list_wrapper .union_list_box table.list_content{ width:978px; border:1px #e3e3e3 solid; }

.union_list_wrapper .union_list_box .top_content .apply_union{ float:left; width:500px;}
.union_list_wrapper .union_list_box .top_content .other_btn{ float:right; position:relative;}

.union_list_wrapper .union_list_box .top_content .apply_union a.apply_union{ display:block; width:115px; height:35px; line-height:35px; background:url(../../images/union/union_list/btn_union_list.jpg) no-repeat; font-size:13px; color:#fff; font-weight:bold; text-align:right; letter-spacing:1px; padding-right:15px; margin-right:15px; }
.union_list_wrapper .union_list_box .top_content .apply_union a.apply_union:hover{ text-decoration:none; opacity:0.9; }
.union_list_wrapper .union_list_box .top_content .apply_union p{ line-height:35px; font-size:12px; color:#666; letter-spacing:1px;}

.union_list_wrapper .union_list_box .top_content .other_btn a.timing{ float:left; display:block; width:88px; height:35px; line-height:35px; background:url(../../images/union/union_list/btn_union_list.jpg) no-repeat 0 -40px; font-size:13px; color:#454545; font-weight:bold; text-align:right; letter-spacing:1px; padding-right:17px; margin-right:3px; _display:inline;}
.union_list_wrapper .union_list_box .top_content .other_btn a.timing:hover{ background-position:-105px -40px; color:#666; text-decoration:none;}
.union_list_wrapper .union_list_box .top_content .other_btn a.cutoff{ float:left; display:block; width:105px; height:35px; line-height:35px; background:url(../../images/union/union_list/btn_union_list.jpg) no-repeat 0 -80px; font-size:13px; color:#666; font-weight:bold; text-align:center; }
.union_list_wrapper .union_list_box .top_content .other_btn a.cutoff:hover{ text-decoration:none; opacity:0.9; color:#888;}
.union_list_wrapper .union_list_box .top_content .other_btn span.icon_time{ width:16px; height:20px; position:absolute; left:4px; top:-2px; background:url(../../images/union/union_list/icon_time.png) no-repeat;}


/*==左欄_開始==*/
.union_list_wrapper .union_list_box table.list_content td.left_union{ width:189px; border-right:1px #e3e3e3 solid;}
.union_list_wrapper .union_list_box table.list_content td.right_union{ width:788px; background-color:#fff; padding-bottom:15px;}
/*==已截止大合購_左欄==*/
.union_list_wrapper .union_list_box table.list_content td.right_union_over{ width:788px; background-color:#fff; padding-bottom:15px; padding-top:77px;}



.union_list_wrapper .union_list_box table.list_content td.left_union .feature{ width:160px; height:460px; background:url(../../images/union/union_list/pic_feature.jpg) no-repeat; text-indent:-9999px; margin: 10px auto 0; border-bottom:1px #e3e3e3 solid;}
.union_list_wrapper .union_list_box table.list_content td.left_union .bulletin{ width:150px; margin: 0 auto; border-top:1px #fff solid; padding:20px 0;}
.union_list_wrapper .union_list_box table.list_content td.left_union .bulletin p{ font-size:13px; color:#666; line-height:18px; letter-spacing:1px;}
.union_list_wrapper .union_list_box table.list_content td.left_union .bulletin a{ display:block; width:150px; height:35px; background:url(../../images/union/union_list/btn_union_list.jpg) no-repeat 0 -120px; text-indent:-9999px; margin-top:10px;}
.union_list_wrapper .union_list_box table.list_content td.left_union .bulletin a:hover{ background-position:-150px -120px;}

.union_list_wrapper .union_list_box table.list_content td.left_union .good_article{ width:150px; margin: 0 auto; border-top:1px #fff solid; padding:20px 0; border-bottom: 1px solid #E3E3E3;}
.union_list_wrapper .union_list_box table.list_content td.left_union .good_article p{ font-size:13px; color:#666; line-height:18px; letter-spacing:1px;}
.union_list_wrapper .union_list_box table.list_content td.left_union .good_article a{ display:block; width:150px; height:35px; background:url(../../images/union/union_list/btn_union_list.jpg) no-repeat 0 -160px; margin-top:10px; text-indent: -9999px;}
.union_list_wrapper .union_list_box table.list_content td.left_union .good_article a:hover{ background-position:-150px -160px;}

/*==頁籤_開始==*/
.union_list_wrapper .union_list_box table.list_content .menu_box{ width:756px; border-bottom:1px #f0f0f0 solid; margin:20px 0px 20px 17px;}
.union_list_wrapper .union_list_box table.list_content .menu_box ul li{ float:left; margin-right:2px; _display:inline;}
.union_list_wrapper .union_list_box table.list_content .menu_box ul li a{ position:relative;display:block; width:106px; height:36px; line-height:36px; font-size:13px; color:#454545; background-color:#eee; text-align:center; letter-spacing:1px;}
.union_list_wrapper .union_list_box table.list_content .menu_box ul li a:hover{ text-decoration:none; background-color:#ebebeb; color:#666;}
.union_list_wrapper .union_list_box table.list_content .menu_box ul li a.active{ background-color:#37253d; color:#fff; font-weight:bold; border-radius:2px 2px 0 0;}
.union_list_wrapper .union_list_box table.list_content .menu_box ul li a.active_green{ position:relative; background-color:#a2dc96; color:#454545;font-weight:bold; border-radius:2px 2px 0 0;}
.union_list_wrapper .union_list_box table.list_content .menu_box ul li a.active_red{ position:relative; background-color:#d4252c; color:#fff;font-weight:bold; border-radius:2px 2px 0 0;}
.union_list_wrapper .union_list_box table.list_content .menu_box ul li a.active_red:hover{ background-color:#e12c33;}
.union_list_wrapper .union_list_box table.list_content .menu_box ul li a img{position: absolute;top: -10px;left: 0px;}
.union_list_wrapper .union_list_box .right_union .banner{margin: 0px 0px 15px 25px;}

/*==沒有該分類大合購_開始==*/
.union_list_wrapper .union_list_box table.list_content .nounion_box{ width:450px; padding:50px 0; margin: 0 auto;}
.union_list_wrapper .union_list_box table.list_content .nounion_box p{ height:34px; line-height:34px; padding-left:50px; background:url(../../images/union/union_list/icon_none.jpg) no-repeat; font-family:"微軟正黑體"; font-size:15px; color:#753f5d; font-weight:bold; letter-spacing:1px;}

/*==分類標題_開始==*/
.union_list_wrapper .union_list_box table.list_content .sort_title{ width:738px; margin: 0 10px 30px 30px; background:url(../../images/union/union_list/line.jpg) repeat-x 0 6px;}
.union_list_wrapper .union_list_box table.list_content .sort_title h2{ background-color:#fff; font-family:"微軟正黑體"; font-size:16px; color:#753f5d; font-weight:bold; letter-spacing:2px; width:100px;}
.union_list_wrapper .union_list_box table.list_content .sort_title h2.green{ background-color:#fff; font-family:"微軟正黑體"; font-size:16px; color:#753f5d; font-weight:bold; letter-spacing:2px; width:100px;}

/*==大合購_開始==*/
.union_list_wrapper .union_list_box table.list_content .all_union_box{ width:741px; margin:0 0 0 30px;}
.union_list_wrapper .union_list_box table.list_content .all_union_box ul li{ float:left; border:1px #e3e3e3 solid; margin:0 12px 15px 0; _display:inline; *width:233px;}


.union_list_wrapper .union_list_box table.list_content .all_union_box ul li .union_goods{ width:233px; background-color:#f6f7f9; padding-bottom:7px; position:relative;}
.union_list_wrapper .union_list_box table.list_content .all_union_box ul li .union_goods a.img{ display:block;}
.union_list_wrapper .union_list_box table.list_content .all_union_box ul li .union_goods a.img img{ width:233px; height:233px;}
.union_list_wrapper .union_list_box table.list_content .all_union_box ul li .union_goods h3{ margin:7px 3px 3px 7px;}
.union_list_wrapper .union_list_box table.list_content .all_union_box ul li .union_goods h3 a{ display:block; font-size:15px; font-family:"微軟正黑體"; color:#454545; line-height:18px; letter-spacing:1px; height:36px; overflow:hidden;}
.union_list_wrapper .union_list_box table.list_content .all_union_box ul li .union_goods h3 a:hover{ text-decoration:none; color:#666;}
.union_list_wrapper .union_list_box table.list_content .all_union_box ul li .union_goods p.icon_hot{ width:80px; height:75px; background:url(../../images/union/union_list/icon_hot.png) no-repeat; text-indent:-9999px; position:absolute; left:-20px; top:-20px; z-index:1;}
.union_list_wrapper .union_list_box table.list_content .all_union_box ul li .union_goods p.amount{ width:112px; height:60px; line-height:60px; background:url(../../images/union/union_list/icon_amount.png) no-repeat;  position:absolute; right:0; bottom:52px; font-size:24px; color:#fff; font-family:"Century Gothic"; z-index:1;}
.union_list_wrapper .union_list_box table.list_content .all_union_box ul li .union_goods p.amount span{ width:45px; text-align:center; position:absolute; left:50px; top:14px; letter-spacing:0; }


/*==已截止大合購_價錢標籤==*/
.union_list_wrapper .union_list_box table.list_content .all_union_box ul li .union_goods p.amount_over{ width:112px; height:60px; line-height:60px; background:url(../../images/union/union_list/icon_amount_over.png) no-repeat;  position:absolute; right:0; bottom:52px; font-size:24px; color:#fff; font-family:"Century Gothic";}
.union_list_wrapper .union_list_box table.list_content .all_union_box ul li .union_goods p.amount_over span{ width:45px; text-align:center; position:absolute; left:50px; top:14px; letter-spacing:0; }



.union_list_wrapper .union_list_box table.list_content .all_union_box ul li .union_amount{ background-color:#f2f2f2; border:1px #e3e3e3 solid; border-width:1px 0; height:35px; line-height:35px;}
.union_list_wrapper .union_list_box table.list_content .all_union_box ul li .union_amount p{ padding-left:12px; line-height:35px; font-size:12px; color:#666;}
.union_list_wrapper .union_list_box table.list_content .all_union_box ul li .union_amount p span{ font-size:15px; font-weight:bold; color:#ef165b; padding:0 10px 0 6px;}


/*==已截止大合購_團數&份數==*/
.union_list_wrapper .union_list_box table.list_content .all_union_box ul li .union_amount_over{ background-color:#f2f2f2; border:1px #e3e3e3 solid; border-width:1px 0; height:35px; line-height:35px;}
.union_list_wrapper .union_list_box table.list_content .all_union_box ul li .union_amount_over p{ padding-left:12px; line-height:35px; font-size:12px; color:#666;}
.union_list_wrapper .union_list_box table.list_content .all_union_box ul li .union_amount_over p span{ font-size:15px; font-weight:bold; color:#454545; padding:0 10px 0 6px;}


.union_list_wrapper .union_list_box table.list_content .all_union_box ul li .union_time{ width:180px; margin: 0 auto; padding:12px 0; background-color:#fff;}
.union_list_wrapper .union_list_box table.list_content .all_union_box ul li .union_time ul li{ float:left; margin:0 1px; _display:inline; border:none; *width:16px; *padding:0;}
.union_list_wrapper .union_list_box table.list_content .all_union_box ul li .union_time ul li p{ font-size:12px; height:24px; line-height:24px;}
.union_list_wrapper .union_list_box table.list_content .all_union_box ul li .union_time ul li p.txt_num{ color:#fff; font-weight:bold; background-color:#373741; border-radius:2px; padding:0 4px; *width:16px; *padding:0; text-align:center;}
.union_list_wrapper .union_list_box table.list_content .all_union_box ul li .union_time  ul li p.txt_font{ color:#454545; font-size:12px; padding: 0 2px; *width:15px;}
.union_list_wrapper .union_list_box table.list_content .all_union_box ul li .union_time ul li p.w10{ width:10px; padding:0;}


/*==頁碼_開始==*/
.union_list_wrapper .union_list_box .page_wrp{ width:741px; margin:15px 0 0 30px; border-top: 1px solid #E5E5E5;}
.union_list_wrapper .union_list_box .page_wrp p.page_text{ float:left; font-size:12px; width:200px;line-height:28px; letter-spacing:2px; text-indent:10px; padding:18px 0 12px; color:#666666;}
.union_list_wrapper .union_list_box .page_wrp .page_btn_box {float:right; padding:18px 0 12px;}
.union_list_wrapper .union_list_box .page_wrp .page_btn_box ul.page_list{ padding:0 10px 0 0;}
.union_list_wrapper .union_list_box .page_wrp .page_btn_box ul.page_list li.number{ float:left; margin:0 0 0 5px; _display:inline; }
.union_list_wrapper .union_list_box .page_wrp .page_btn_box ul.page_list li.number a{ padding:3px 7px; border:1px solid #e1e0e0; background:#FFF; font-size:12px; color:#666666;line-height:28px;}
.union_list_wrapper .union_list_box .page_wrp .page_btn_box ul.page_list li.number a:hover{text-decoration:none;background:#9b9b9b; border:1px solid #9b9b9b; color:#FFF;}
.union_list_wrapper .union_list_box .page_wrp .page_btn_box ul.page_list li.number span.target{ padding:3px 7px; border:1px solid #666666; background:#fff; font-size:12px; color:#666666; font-weight:bold;line-height:28px;}
.union_list_wrapper .union_list_box .page_wrp .page_btn_box ul.page_list li.number span.dotted {padding:3px 7px; letter-spacing:1px; line-height:28px;}


/*==已截止大合購移到最下方==*/
.union_list_wrapper .union_list_box .other_btn_over a.over{ float:left; display:block; width:105px; height:35px; line-height:35px; background:url(../../images/union/union_list/btn_union_list.jpg) no-repeat 0 -80px; font-size:13px; color:#666; font-weight:bold; text-align:center; margin-left:873px; margin-top:20px;}
.union_list_wrapper .union_list_box .other_btn_over a.over:hover{ text-decoration:none; opacity:0.9; color:#888;}



