@import url("reset.css");

/*===Focus焦點商品===*/
#ad_focus {
  width: 147px;
  height: 175px;
  /*==2011修改_340改為345==*/
  padding: 30px 0px 0px 2px;
  /*==2011修改_35px改為30px==*/
  float: left;
  background:
    url(../../images/shop/store_inedx/ad_focus_bg.gif)
    no-repeat left top;
  position: relative; /*===2011修改===*/
  background-image:
    url(../../images/shop/store_inedx/ad_focus_bg.gif);
}

/*==UL==*/
#ad_focus ul.ad_focus_icom {
  position: absolute;
  right: 4px;
  top: 7px;
  /*  20110222修改原12px_改為7px */
  width: 125px;
}

#ad_focus li {
  float: right;
}

/*==我要曝光==*/
#ad_focus li.ad_focus-exposure a {
  display: block;
  width: 55px;
  height: 28px;
  background:
    url(../../images/shop/store_inedx/i_exposure.gif)
    no-repeat left top;
  text-indent: -9999px;
  padding-left: 3px;
}

#ad_focus li.ad_focus-exposure a:hover {
  background:
    url(../../images/shop/store_inedx/i_exposure.gif)
    no-repeat left bottom;
}

/*===我要曝光_END==*/
/*==更多MORE==*/
#ad_focus li.ad_focus-more a {
  display: block;
  width: 55px;
  height: 28px;
  background:
    url(../../images/shop/store_inedx/i_more.gif)
    no-repeat left top;
  text-indent: -9999px;
  padding-left: 3px;
}

#ad_focus li.ad_focus-more a:hover {
  background:
    url(../../images/shop/store_inedx/i_more.gif)
    no-repeat left bottom;
}

/*===更多MORE_END==*/
/*==UL_END==*/
#ad_focus .ad_focus_box .img_ad_focus .img_ad_focus_box {
  background-color: #FFF;
  display: block;
  font-size: 0;
  width: 145px;
  height: 109px;
  padding: 1px;
  background-color: #FFFFFF;
  border: 1px solid #BBBBBB;
  overflow: hidden;
}

/*↑2011新增CSS ↑*/
#ad_focus .ad_focus_box .img_ad_focus {
  float: left;
  width: 145x;
  padding-top: 12px;
}

#ad_focus .ad_focus_box .img_ad_focus a img {
  display: block;
  font-size: 0;
  height: 109px;
  /*修改商品圖145*109-2=107*/
}

#ad_focus .ad_focus_box .img_ad_focus .ppp a {
  display: block;
  font-family: Arial, Helvetica, sans-serif, 新細明體;
  width: 135px;
  font-size: 12px;
  line-height: 20px;
  color: #ec4e2f;
  /*==↑20110222_修改為文字紅色==*/
  text-decoration: none;
  border-bottom: 1px dashed #cccccc;
  border-left: 1px solid #ec4e2f;
  /*==↑20110221_修改為文字左邊1PX==*/
  padding-left: 5px;
  text-decoration: none;
  height: 20px;
  overflow: hidden;
}

#ad_focus .ad_focus_box .img_ad_focus .ppp a:hover {
  color: #ec4e2f;
  text-decoration: underline;
}

#ad_focus .ad_focus_box .img_ad_focus .p_blck a {
  display: block;
  font-family: Arial, Helvetica, sans-serif, 新細明體;
  width: 135px;
  font-size: 12px;
  line-height: 20px;
  color: #333;
  text-decoration: none;
  border-bottom: 1px dashed #cccccc;
  border-left: 1px solid #ec4e2f;
  /*==↑20110221_修改為文字左邊1PX==*/
  padding-left: 5px;
  text-decoration: none;
  height: 20px;
  overflow: hidden;
}

#ad_focus .ad_focus_box .img_ad_focus .p_blck a:hover {
  color: #333;
  text-decoration: underline;
}

/*===Focus焦點商品 end===*/

/*===品牌商店===*/
.ad_SUB_vipshop {
  float: left;
  width: 180px;
  position: relative;
}

.ad_SUB_vipshop_topbox {
  width: 180px;
  height: 45px;
  background:
    url(../../images/shop/store_inedx/vipshop_top_bg.gif)
    no-repeat left top;
}

.ad_SUB_vipshop_center {
  width: 170px;
  background:
    url(../../images/shop/store_inedx/push_center_bg.gif)
    repeat-y left top;
  padding: 0px 0px 0px 10px;
}

.ad_SUB_vipshop_bottom {
  width: 180px;
  height: 10px;
  line-height: 1px; /*解除IE六問題*/
  font-size: 1px; /*解除IE六問題*/
  background:
    url(../../images/shop/store_inedx/box_bottom_bg.gif)
    no-repeat left top;
}

/* =====我要曝光_UL===== */
.ad_SUB_vipshop ul.ad_SUB_vipshop_top {
  position: absolute;
  width: 55px;
  height: 28px;
  left: 107px;
  top: 15px;
}

.ad_SUB_vipshop ul.ad_SUB_vipshop_top li {
  
}

.ad_SUB_vipshop ul.ad_SUB_vipshop_top li a {
  display: block;
  line-height: 28px;
  font-family: Arial, 新細明體;
  font-size: 12px;
  text-indent: -9999px;
  background:
    url(../../images/shop/store_inedx/push_i_exposure.gif)
    no-repeat left top;
}

.ad_SUB_vipshop ul.ad_SUB_vipshop_top a:hover {
  background:
    url(../../images/shop/store_inedx/push_i_exposure.gif)
    no-repeat left bottom;
}

/* =====我要曝光_UL_end===== */
.ad_SUB_vipshop_center .BrandSotre_box_j {
  display: block;
  width: 160px;
  height: 55px;
  background-color: #FFFFFF;
  border: 1px solid #BBBBBB;
  font-size: 0;
  padding: 1px;
  overflow: hidden;
}

.ad_SUB_vipshop_center .BrandSotre_box h1 a {
  font-family: Arial, Helvetica, sans-serif, 新細明體;
  display: block;
  width: 150px;
  font-size: 12px;
  line-height:18px;
  /*==2011_0224修改成18px==*/
  color: #595757;
  padding: 5px 0px 5px 0px;
  text-decoration: none;
  background:
    url(../../images/shop/store_inedx/vipshop/store-small.png)
    no-repeat left top;
  padding-left: 17px;
}

.ad_SUB_vipshop_center .BrandSotre_box h1 a:hover {
  color: #ec4e2f;
  text-decoration: underline;
  background:
    url(../../images/shop/store_inedx/vipshop/store-small_hover.png)
    no-repeat left top;
}
#chageVendorImg {
  background:url("../../images/shop/upload_homevendor.jpg");
  width:160px;
  height:160px;
  border: 1px solid #eee;
  display: block;
  overflow: hidden;
}

#chagePushHomeImg {
  background:url("../../images/shop/upload_pushrecommend.jpg");
  width:110px;
  height:160px;
  border: 1px solid #eee;
  display: block;
  overflow: hidden;
}

.demoUploadPic {
  height: 55px;
  width: 160px;
  overflow: hidden;
  display: block;
  border: 1px solid #eee;
}

.demoPushHomeUploadPic {
  width: 110px;
  height: 74px;
  overflow: hidden;
  display: block;
  border: 1px solid #eee;
}

/*===品牌商店 end===*/


/*=== 人氣分類===*/
#ad_focus_push {
  width:153px;
  height:205px;
  /*==2011修改_340改為345==*/
  padding: 25px 0px 5px 2px;
  /*==2011修改_35px改為30px==*/
  float:left;
  background: url(../../images/shop/ad_focus_push_bg.gif) no-repeat left top;
  position:relative;/*===2011修改===*/
}


/*===搶先推薦==*/


.ad_push_list .ad_BrandSotre_box_j_push {
    background-color: #FFFFFF;
    border: 1px solid #ECECEC;
    display: block;
    font-size: 0;
    height: 150px;
    overflow: hidden;
    padding: 1px;
    width: 196px;
}

.ad_demoUploadPic_push {
  height: 74px;
  width: 110px;
  overflow: hidden;
  display: block;
  border: 1px solid #eee;
}



/*===搶先推薦 end==*/


#ad_focus_push .ad_focus_box .ad_img_focus {
  float: left;
  width:145x;
  padding-top: 5px;
}
#ad_focus_push .ad_focus_box .ad_img_focus .ad_img_focus_box {
  background-color: #FFF;
  display:block;
  font-size:0;
  width:145px;
  height:109px;
  padding: 1px;
  background-color:#FFFFFF;
  border:1px solid #BBBBBB;
  overflow:hidden;
}
/*===↑2011新增CSS ↑===*/

#ad_focus_push .ad_focus_box .ad_img_focus a img {
  margin: 0 auto;
  display:block;
  font-size:0;
  height:109px;/*修改商品圖145*109-2=107*/
}

/*===焦點推薦===文案*/
#ad_focus_push .ad_focus_box .ad_img_focus .ad_ppp_text a {
  display:block;
  font-family:Arial, Helvetica, sans-serif, 新細明體;
  width:129px;
  font-size:12px;
  line-height:18px;
  color:  #333;
  text-decoration:none;
  padding: 0px 0px 0px 16px;
    background: url(../../images/shop/shop_search/icon_a_g.gif) no-repeat left top;
  height: 36px;
  overflow: hidden;
}

#ad_focus_push .ad_focus_box .ad_img_focus .ad_ppp_text a:hover {
  background:url(../../images/shop/shop_search/icon_a_g_hover.gif) no-repeat left top;
  color: #333;
  text-decoration: underline;
}
/*===焦點推薦===文案END*/
/*===焦點推薦===商店名*/
#ad_focus_push .ad_focus_box .ad_img_focus .ad_shop_ppp a {
  display:block;
  font-family:Arial, Helvetica, sans-serif, 新細明體;
  width:129px;
  font-size:12px;
  line-height:18px;
  _line-height:18px; /*==hack_IE6==*/
  line-height:20px \9;  /*==hack_IE8==*/
  color: #ec4e2f;
  text-decoration:none;
  margin-top: 3px;
  padding: 0px 0px 0px 16px;
    background: url(../../images/shop/shop_search/shop_icon_a_g.gif) no-repeat left top;
  height: 18px;
  overflow: hidden;
}
#ad_focus_push .ad_focus_box .ad_img_focus .ad_shop_ppp a:hover {
  color: #ec4e2f;
  text-decoration: underline;
}
/*===焦點推薦===商店名END*/
/*===焦點推薦===價格*/
#ad_focus_push .ad_focus_box .ad_img_focus .ad_p_blck a {
  display:block;
  font-family:Arial, Helvetica, sans-serif, 新細明體;
  width:129px;
  font-size:12px;
  line-height:18px;
  color:  #333;
  text-decoration:none;
  margin-top: 3px;
  padding: 0px 0px 0px 16px;
    background: url(../../images/shop/shop_search/blck_icon_a_g.gif) no-repeat left top;
  height: 18px;
  overflow: hidden;
}
#ad_focus_push .ad_focus_box .ad_img_focus .ad_p_blck a:hover {
    background: url(../../images/shop/shop_search/blck_icon_a_g.gif) no-repeat left bottom;
  color: #333;
  text-decoration: underline;
}
/*===焦點推薦===價格END*/
/*===focus_push焦點推薦_NED===*/


/*===搜尋全部商品_中間===*/
.TOP_ad_search_all_GoodsIMG{
  width:262px;
  height:24px;
  line-height:24px;
  background:url(../../images/shop/shop_search/top_ad_search_all_goodsing.gif) no-repeat left top;
  } 

#ad_search_all_GoodsIMG{
    width:262px;
  }
#ad_search_all_GoodsIMG .searchGoods_viewtype-img_Y{
  float:left;
  width:237px;
  height:330px;
  background-color:#FFC;
  background:url(../../images/shop/shop_search/viewtype-img_y_bg.gif) repeat-x left top;
  position: relative;
  padding: 10px 0px 0px 25px;
  }

#img_AllGoods_box_viewtype-img{
  background-color: #FFF;
  display:block;
  font-size:0;
  width:200px;
  height:150px;
  padding: 1px;
  background-color:#FFFFFF;
  border:1px solid #BBBBBB;
  overflow:hidden;
}

#img_AllGoods_box_viewtype-img a img{
  background-color:#fff;
  margin: 0 auto;
  display:block;
  font-size:0;
  height:150px;/*修改商品圖145*109-2=107*/
}

/*==左邊ad_標題_定位==*/
#ad_search_all_GoodsIMG .AllGoods_box_Left_viewtype-img{
  width: 200px;
  height:139px;
  position:absolute;
  top: 174px;
  left: 26px;
  }
#ad_search_all_GoodsIMG .AllGoods_box_Left_viewtype-img h1 a{
  width: 205px;
  height:40px;
  text-indent:0px;
  font-family:Arial, Helvetica, sans-serif, 新細明體;
  display: block;
  font-size:13px;
  line-height:20px;
  color:  #105CB6;
  text-decoration:none;
  padding-left: 3px;
  overflow: hidden;
  }
/*===.SearchWord搜尋結果顯示出_搜尋文字===*/
#ad_search_all_GoodsIMG .AllGoods_box_Left_viewtype-img h1 a .SearchWord{
  font-family:Arial, Helvetica, sans-serif, 新細明體;
  font-size:13px;
  line-height:20px;
  color:  #ec4e2f;
  text-decoration:none;
  overflow: hidden; 
  }
#ad_search_all_GoodsIMG .AllGoods_box_Left_viewtype-img h1 a:hover{
  text-decoration:underline;
  color:#ec4e2f;
  } 
/*==左邊ad_商店==*/
#ad_search_all_GoodsIMG .AllGoods_box_Left_viewtype-img p.GoodsShop a{
  display:block;
  font-family:Arial, Helvetica, sans-serif, 新細明體;
  width:200px;
  font-size:12px;
  line-height:18px;
  _line-height:18px;/*==hack_IE6==*/
  line-height:20px \9; /*==hack_IE8==*/
  color: #ec4e2f;
  text-decoration:none;
  margin: 5px 0px 0px 0px;
  padding: 0px 0px 0px 16px;
    background: url(../../images/shop/shop_search/shop_icon_a_g.gif) no-repeat left top;
  height: 18px;
  overflow: hidden;
  }
#ad_search_all_GoodsIMG .AllGoods_box_Left_viewtype-img p.GoodsShop a:hover{
  color: #ec4e2f;
  text-decoration: underline; 
  }

/*==左邊ad_評價數字==*/
#ad_search_all_GoodsIMG .AllGoods_box_Left_viewtype-img h2.GoodsBuy a{

  font-family: Arial, Helvetica, sans-serif, 新細明體;
  display: block;
  background: url(../../images/shop/shop_search/buy_icon_h25.gif) no-repeat left top;
  font-size:12px;
  line-height:20px;
  padding: 5px 10px 0px 18px;
  color: #595757;
  text-decoration:none;
  overflow: hidden;
  }

/*==左邊ad_價錢==*/
#ad_search_all_GoodsIMG .AllGoods_box_Left_viewtype-img h3.GoodsMoney a{
  margin-bottom:10px;
  font-family: Arial, Helvetica, sans-serif, 新細明體;
  display: block;
  background: url(../../images/shop/shop_search/blck_icon_h25.gif) no-repeat left top;
  font-size:12px;
  line-height:20px;
  padding: 5px 0px 0px 18px;
  color: #595757;
  text-decoration:none;
  overflow: hidden;
  }
/*==顯示ICON==*/
#ad_search_all_GoodsIMG .AllGoods_box_Left_viewtype-img .goodIcon{
  float: left;
  display: block; 
  width: 125px;
  height: 20px;
  line-height:20px;
  padding: 5px 0px 0px 0px;
  overflow: hidden;
  }
#ad_search_all_GoodsIMG .AllGoods_box_Left_viewtype-img .goodIcon a img{
  margin: 0px 5px 0px 5px; 
  opacity: 1;/* 透明度60% FireFox 的寫法 */ 
  filter: Alpha(Opacity=100); /* 透明度60% IE 的寫法 */ 
  }
#ad_search_all_GoodsIMG .AllGoods_box_Left_viewtype-img .goodIcon a:hover img{  
  opacity: 0.7;/* 透明度60% FireFox 的寫法 */ 
  filter: Alpha(Opacity=70); /* 透明度60% IE 的寫法 */
   }
/*==顯示ICON_END==*/

/*==左邊ad_購買按鈕==*/
#ad_search_all_GoodsIMG .AllGoods_box_Left_viewtype-img h4.GoodsBuyicon a{
  float:right;
  width: 70px;
  height: 25px;
  font-family: Arial, Helvetica, sans-serif, 新細明體;
  display: block;
  font-size:12px;
  line-height:25px;
  text-align:center;
  color: #7c4c1b;
  background: url(../../images/shop/shop_search/goodsbuy_icon_25.gif) no-repeat left top;
  text-decoration:none;
  overflow: hidden;
  }
#ad_search_all_GoodsIMG .AllGoods_box_Left_viewtype-img h4.GoodsBuyicon a:hover{
  background-position: left bottom;
  color: #6f3f0e;
  text-decoration: underline;   
  }

/*==左邊ad_價錢[數字100]==*/
#ad_search_all_GoodsIMG .AllGoods_box_Left_viewtype-img .price_left{  
  font-family:Arial, Helvetica, sans-serif, 新細明體;
  font-size:12px;
  line-height:20px;
  color:  #ec4e2f;
  text-decoration:none;
  overflow: hidden;
}
/*==左邊ad_買氣[數字]==*/
#ad_search_all_GoodsIMG .AllGoods_box_Left_viewtype-img .Buy_left{ 
  font-family:Arial, Helvetica, sans-serif, 新細明體;
  font-size:18px;
  line-height:20px;
  color: #595757;
  text-decoration:none;
  overflow: hidden;
}

@import url("reset.css");
/*===搶先推薦===*/
.push_list {
  float:left;
  width: 140px;
     } 
.ad_push_list_top{
    border: 1px solid #FFFFFF;
    display: block;
    height: 26px;
    width: 140px;
  } 
.ad_push_list_top h1.ad_push_top_dd{
    color: #645447;
    display: block;
    font-family: Arial,Helvetica,sans-serif,新細明體;
    font-size: 16px;
    font-weight: 900;
    line-height: 26px;
    padding-left: 10px;
  }

.ad_push_list_center{
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
    display: block;
    font-size: 0;
    padding: 10px 10px 10px 12px;
    width: 196px;
  }
.ad_push_list_bottom{
  width:140px;
  height:2px;
  background-color:#fc5956;
  border:1px solid #fc5956;
  line-height:1px; /*解除IE六問題*/
  font-size:1px;/*解除IE六問題*/
  }
  
.ad_push_list_img{
  /*  position:absolute;*/
  display:block;
  width:110px;
  height:74px;
  background-color:#FFFFFF;
  border:1px solid #BBBBBB;
  font-size:0;
  padding:1px;
  margin-bottom:5px;
  }

/* =====搶先推薦_UL===== */
.ad_push_list ul.ad_push_list_ad {
  width:196px;
}
.ad_push_list ul.ad_push_list_ad li {
}
.ad_push_list ul.ad_push_list_ad li a {
    color: #666666;
    display: block;
    font-family: Arial,Helvetica,sans-serif,新細明體;
    font-size: 15px;
    line-height: 18px;
    margin-bottom: 10px;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    width: 186px;
    font-weight: bold;
}
.ad_push_list ul.ad_push_list_ad li a:hover {
    color: #454545;
    text-decoration: none;
}
.ad_mybuy_bt{
  width: 85px;
  height: 30px;
  margin: 0 auto;
  }
.ad_mybuy_bt a{
  display:block;
  width: 85px;
  line-height:30px;
  font-family:Arial, Helvetica, sans-serif, 新細明體;
  font-size:12px;
  font-weight:bold;
  color: #7c4c1b;
  text-align:center;
  text-decoration:none;
  background:url(../../images/shop/push_list_mybuy_bt.gif) no-repeat left top; 
  }
.ad_mybuy_bt a:hover{
  color: #6f3f0e;
  background:url(../../images/shop/push_list_mybuy_bt.gif) no-repeat left bottom; 
  } 
/* =====搶先推薦_UL_end===== */
/*===搶先推薦END===*/

.Buy_RedText {
	color:#E84C1F;
	font-weight:bold;
	border: none;
}
/*20111208修改*/
.Buy_RedText a {
	color:#E84C1F;
	font-weight:bold;
	border: none;
}
/*20111208修改*/
.Buy_RedText a:hover {
	color:#E84C1F;	
	text-decoration: underline;
}

/*==標題H2==*/
.h2Box206 {
	width:206px;
	height:37px;
	padding: 0px 0px 0px 0px;
}
.h2Box206 h2 {
	float:left;
	font-size:16px;
	font-weight:bold;
	letter-spacing:1px;
	line-height:37px;
	color:#645447;
}

/*==標題H2_END==*/

.hotgoods_wrap{	
    float: left;
	width:206px;
	height:367px;}

.hotgoods_wrap .Popularity_BOX1 {
	float: left;
	width:206px;
	height:367px;
	border-bottom: 1px solid #ececec;
}
.hotgoods_wrap .Popularity_BOX1 .Box1CONTENT {
	float:left;
	width:206px;
	_display:inline;
}
.hotgoods_wrap .Popularity_BOX1 .Box1CONTENT .Box1CONTENT_imgbox {
	display:block;
	width:196px;
	height:150px;
	border:1px solid #ececec;
	padding:4px;
	overflow:hidden;
}
.hotgoods_wrap .Popularity_BOX1 .Box1CONTENT .Box1CONTENT_imgbox a img {
	margin: 0 auto;
	font-size:0;
	width:196px;
	height:150px;
	outline:none;
	opacity: 1;/* 透明度60% FireFox 的寫法 */
	filter: Alpha(Opacity=100); /* 透明度60% IE 的寫法 */
}
.Popularity_BOX1 .Box1CONTENT .Box1CONTENT_imgbox a:hover img {
	opacity: 0.9;
	filter: Alpha(Opacity=90);
}
.hotgoods_wrap .Popularity_BOX1 .Box1CONTENT .text_box {
	width:201px;
	padding-left:5px;
}
.hotgoods_wrap .Popularity_BOX1 h2.Pop a {
	color: #666666;
	display: block;
	font-size: 15px;
	height: 45px;
	letter-spacing: 1px;
	line-height: 25px;
	overflow: hidden;
	padding: 10px 0 0;
	text-align: left;
	text-decoration: none;
	width: 201px;
	margin-bottom:10px;
}
.hotgoods_wrap .Popularity_BOX1 h2.Pop a:hover {
	text-decoration:none;
	color: #454545;
}
.hotgoods_wrap .Popularity_BOX1 p a {
	display:block;
	width:180px;
	height:31px;
	padding:0px 5px 0px 16px;
	overflow: hidden;
	font-size:12px;
	line-height:31px;
	_line-height:32px;/*==hack_IE6==*/
	line-height:32px \9; /*==hack_IE8==*/
	color: #666666;
	text-decoration:none;
	font-weight:normal;
}
.hotgoods_wrap .Popularity_BOX1 p.GoodsShop a {
	background: url(../../images/shop/store-small.gif) no-repeat left top;
}
.hotgoods_wrap .Popularity_BOX1 p.GoodsBuy a {
	background: url(../../images/shop/store-small.gif) no-repeat left -30px;
}
.hotgoods_wrap .Popularity_BOX1 p.GoodsMoney a {
	background: url(../../images/shop/store-small.gif) no-repeat left -60px;
}
.hotgoods_wrap .Popularity_BOX1 p a:hover {
	text-decoration: underline;
	color: #666666;
}
