@import 'https://fonts.googleapis.com/css?family=Baloo+Thambi';
input:focus{outline:none;}
input::-moz-focus-inner{outline:none;}
body,html{
width:100%;
height: 100%;
}
body.overflow_scroll{
overflow: scroll !important;
}
body{
background: #00263D;
}
::-webkit-scrollbar {
width: 0px;
height: 0px;
}
::-webkit-scrollbar-button {
width: 0px;
height: 0px;
}
::-webkit-scrollbar-thumb {
background: transparent;
border: 0px none transparent;
border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
background: transparent;
}
::-webkit-scrollbar-thumb:active {
background: transparent;
}
::-webkit-scrollbar-track {
background: transparent;
border: 0px none transparent;
border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
background: transparent;
}
::-webkit-scrollbar-track:active {
background: transparent;
}
::-webkit-scrollbar-corner {
background: transparent;
}
.clear{
clear: both;
}
.hide_text{
display: none;
}
section.main_content{
width:100%;
height: 100%;
position: relative;
}
/* Love Story */
section.main_content article.love_story{
width:100%;
height: 100%;
background: url('../images/background_blue@2x.jpg') no-repeat;
background-size: cover;
position: relative;
}
section.main_content article.love_story .love_story_container{
position: absolute;
top:0;
bottom:0;
right:0;
left:0;
margin:auto;
width:379px;
height:632px;
}
section.main_content article.love_story .love_story_container ul.story_content{
padding:0;
margin:0;
}
section.main_content article.love_story .love_story_container ul.story_content li{
list-style: none;
display: block;
opacity: 0;
margin:0 auto;
}
section.main_content article.love_story .love_story_container ul.story_content li.head{
width:278px;
height: 90px;
background:url('../images/love_story/head.png') no-repeat;
background-size: 278px auto;
}
section.main_content article.love_story .love_story_container ul.story_content li.because_no{
width:275px;
height:197px;
background:url('../images/love_story/becauseno.png') no-repeat;
background-size: 275px auto;
margin-top:30px;
}
section.main_content article.love_story .love_story_container ul.story_content li.ever{
width:266px;
height: 133px;
background:url('../images/love_story/ever.png') no-repeat;
background-size: 266px auto;
margin:13px auto;
}
section.main_content article.love_story .love_story_container ul.story_content li.footer{
width:278px;
height:154px;
background:url('../images/love_story/footer.png') no-repeat;
background-size: 278px auto;
}
section.main_content article.love_story .love_story_container .henry_kat{
width:379px;
height: 50px;
background: url('../images/love_story/henry_kat.png') no-repeat;
background-size: 379px auto;
display: none;
position: absolute;
top:0;
bottom:0;
left:0;
right:0;
margin:auto;
}
section.main_content article.love_rocks{
background: url('../images/background@2x.jpg') no-repeat;
background-size: cover;
width:100%;
height: 100%;
display: none;
position: relative;
min-width: 1024px;
overflow: hidden;
}
section.main_content article.love_rocks .lr_bg_dots{
background: url('../images/background_dots@2x.png') no-repeat;
background-size:cover;
background-blend-mode:lighten;
background-position: 0px 100%;
width:100%;
height: 100%;
display: none;
opacity: .34;
}
section.main_content article.love_rocks .lr_bg_dots.animate{
animation-name: dots;
animation-duration: 1s;
-webkit-animation-timing-function: ease;
animation-timing-function: ease;
}
@-webkit-keyframes dots {
0% { opacity: .8; }
25% { opacity: .2; }
50% { opacity: 1; }
75% { opacity: .4; }
100% { opacity: .34; }
}
@-moz-keyframes dots {
0% { opacity: .8; }
25% { opacity: .2; }
50% { opacity: 1; }
75% { opacity: .4; }
100% { opacity: .34; }
}
@-ms-keyframes dots {
0% { opacity: .8; }
25% { opacity: .2; }
50% { opacity: 1; }
75% { opacity: .4; }
100% { opacity: .34; }
}
@-o-keyframes dots {
0% { opacity: .8; }
25% { opacity: .2; }
50% { opacity: 1; }
75% { opacity: .4; }
100% { opacity: .34; }
}
@keyframes dots {
0% { opacity: .8; }
25% { opacity: .2; }
50% { opacity: 1; }
75% { opacity: .4; }
100% { opacity: .34; }
}
/*Love Rocks Logo*/
section.main_content article.love_rocks header.love_rocks_logo{
width:644px;
height:411px;
background: url('../images/loverockslogo@1-5x.png') no-repeat;
background-size:100% auto;
margin:0 auto;
position: absolute;
top:-372px;
left:calc((100% - 684px)/2);
display: none;
z-index: 2;
}
section.main_content article.love_rocks .right_hand{
width:335px;
height:706px;
overflow: hidden;
background: url('../images/right_hand@2x.png') no-repeat;
background-blend-mode:overlay;
opacity: .5;
background-size: 100% auto;
background-position: 0 0;
position: absolute;
right:30px;
bottom:-300px;
display: none;
}
section.main_content article.love_rocks .left_hand{
width:409px;
height:574px;
overflow: hidden;
background: url('../images/left_hand@2x.png') no-repeat;
background-blend-mode:overlay;
opacity: .5;
background-size: 100% auto;
background-position: 0 0;
position: absolute;
left:13px;
bottom:-300px;
display: none;
}
section.main_content article.love_rocks .lightning{
width:9%;
height:12.2%;
background: url('../images/lightning.png') no-repeat;
background-size:100% auto;
margin:0 auto;
position: absolute;
top:-399px;
right:21.5%;
display: none;
}
section.main_content article.love_rocks .rsvp_sticker{
width:238px;
height:217px;
background: url('../images/rsvp_sticker.png') no-repeat;
background-size:100% auto;
margin:0 auto;
position: absolute;
bottom:33px;
right:calc((100% - 238px)/2);
display: none;
cursor:pointer;
-webkit-transition: all .2s linear;
-moz-transition: all .2s linear;
-ms-transition: all .2s linear;
-o-transition: all .2s linear;
transition: all .2s linear;
z-index: 3;
}
section.main_content article.love_rocks .rsvp_sticker:hover{
opacity: .8;
}
section.main_content article.love_rocks .rsvp_sticker.rotate{
-webkit-animation: animate_rotate;
-o-animation: animate_rotate;
animation: animate_rotate;
animation-duration: 1s;
}
@-webkit-keyframes animate_rotate {
0% { -webkit-transform:rotate(0deg); }
100% { -webkit-transform: rotate(360deg);}
}
@-moz-keyframes animate_rotate {
0% { -moz-transform:rotate(0deg); }
100% { -moz-transform: rotate(360deg);}
}
@-ms-keyframes animate_rotate {
0% { -ms-transform:rotate(0deg); }
100% { -ms-transform: rotate(360deg); }
}
@-o-keyframes animate_rotate {
0% { -o-transform:rotate(0deg); }
100% { -o-transform: rotate(360deg);}
}
@keyframes animate_rotate {
0% { transform:rotate(0deg); }
100% { transform: rotate(360deg); }
}
section.main_content article.rsvp_zone{
width:100%;
height: 100%;
overflow-y: scroll;
display: none;
position: absolute;
top:0;
}
section.main_content article.rsvp_zone .rsvp_form{
width:500px;
height: 880px;
background: rgba(34,30,31,.9);
border-radius:5px;
/*border:5px solid #F9ED31;*/
color:#FF7276;
margin:0 auto;
position: absolute;
top:-300px;
left: calc((100% - 500px)/2);
font-family: 'Baloo Thambi', cursive;
}
section.main_content article.rsvp_zone .rsvp_form:before{
width: 194px;
height: 148px;
background: url('../images/rsvp_tag.png') no-repeat;
background-size: 100% auto;
position: relative;
top: -120px;
left:30px;
display: block;
content: '';
}
section.main_content article.rsvp_zone .rsvp_form ul.form_container{
padding:0px 50px 30px 50px;
margin: 0;
position: relative;
top:-100px;
}
section.main_content article.rsvp_zone .rsvp_form ul.form_container li{
list-style: none;
display: block;
float: left;
}
section.main_content article.rsvp_zone .rsvp_form ul.form_container li.form_tag{
width:100%;
margin:2px 0;
}
section.main_content article.rsvp_zone .rsvp_form ul.form_container li.form_input{
width:100%;
margin:0px 0 15px 0;
}
section.main_content article.rsvp_zone .rsvp_form ul.form_container li.form_input.reject{
background: #FF7276;
color: #ffffff;
padding: 10px;
border-radius: 10px;
font-size: 13px;
width:95%;
}
section.main_content article.rsvp_zone .rsvp_form ul.form_container li.form_input input{
width:100%;
height: 30px;
line-height: 30px;
border:0;
border-bottom:3px solid #FF7276;
border-radius: 0;
color:#F9ED31;
background: transparent;
font-size:18px;
text-indent: 5px;
}
section.main_content article.rsvp_zone .rsvp_form ul.form_container li.form_input input.radio_box{
width:30px;
height: auto;
line-height: auto;
}
section.main_content article.rsvp_zone .rsvp_form ul.form_container li.form_input input.babychair_input{
position: relative;
top:-5px;
margin:0 10px;
line-height: 18px;
}
section.main_content article.rsvp_zone .rsvp_form ul.form_container .select_container{
}
section.main_content article.rsvp_zone .rsvp_form ul.form_container .select_container span{
display: block;
margin:5px 0;
}
section.main_content article.rsvp_zone .rsvp_form .submit_btn{
width: calc(100% - 100px);
display: block;
text-align: center;
padding: 10px 0;
border-top: 3px solid #FF7276;
border-bottom: 3px solid #FF7276;
margin: 0 auto;
position: relative;
top: -120px;
cursor: pointer;
-webkit-transition: all .25s linear;
-moz-transition: all .25s linear;
-ms-transition: all .25s linear;
-o-transition: all .25s linear;
transition: all .25s linear;
}
section.main_content article.rsvp_zone .rsvp_form .submit_btn:hover{
border-top:3px solid #F9EC30;
border-bottom: 3px solid #F9EC30;
color:#F9EC30;
}
section.main_content article.rsvp_zone .rsvp_form .contact_info{
background: #FF7276;
border-radius: 10px;
font-size:14px;
color:#ffffff;
width: calc(100% - 100px);
margin: 0 auto;
position: relative;
top:-90px;
}
section.main_content article.rsvp_zone .rsvp_form .contact_info .info_container{
padding:10px 20px;
display: block;
}
section.main_content article.rsvp_zone .rsvp_form .contact_info .info_container a{
color:#ffffff;
text-decoration: none;
}
section.main_content article.rsvp_zone .rsvp_form .contact_info .info_container a:hover{
text-decoration: none;
}
section.main_content article.rsvp_zone .message_sent{
width:500px;
height: 204px;
background: rgba(34,30,31,.9);
border-radius:5px;
color:#FF7276;
position: absolute;
top:calc((100% - 204px)/2);
left:calc((100% - 500px)/2);
display: none;
}
section.main_content article.rsvp_zone .message_sent span.thankyou_message{
width:413px;
height: 104px;
background: url('../images/message_sent@2x.png') no-repeat;
background-size: 413px auto;
display: block;
margin:0 auto;
position: relative;
top:calc((100% - 104px)/2);
}