/*== 商品列表 ==*/
#store_wrapper .store_item_grid { width: 100%; height: 434px; }
#store_wrapper .store_item_grid h2.invisible { display: none; }
#store_wrapper .store_item_grid .item_recommend { width: 300px; height: 100%; float: left; margin-right: 20px; }
#store_wrapper .store_item_grid .item_recommend .item_recommend_column { width: 300px; height: 100%; display: block; }
#store_wrapper .store_item_grid .item_recommend .item_recommend_column span.item_img { display: block; width: 298px; height: 298px; overflow: hidden; position: relative; border-top: 1px solid #efefef; border-left: 1px solid #efefef; border-right: 1px solid #efefef; }
#store_wrapper .store_item_grid .item_recommend .item_recommend_column span.item_img a { cursor: pointer; }
#store_wrapper .store_item_grid .item_recommend .item_recommend_column span.item_img img { width: 298px; height: 298px; }
#store_wrapper .store_item_grid .item_recommend .item_recommend_column span.item_img p.tag { display: block; background: url('../../../images/shop/store/new_store_design/item_grid_item_tag.png') no-repeat; overflow: hidden; background-position: -10px -234px; width: 107px; height: 107px; position: absolute; top: 0; left: 0; }
#store_wrapper .store_item_grid .item_recommend .item_recommend_column .item_info { width: 298px; height: 135px; color: #ffffff; background: #544d4a; margin-left: 1px; }
#store_wrapper .store_item_grid .item_recommend .item_recommend_column .item_info .item_info_container { padding: 12px; position: relative; height: calc(100% - 24px); }
#store_wrapper .store_item_grid .item_recommend .item_recommend_column .item_info .item_info_container h3.item_name { width: 100%; min-height: 20px; max-height: 40px; display: block; font-size: 14px; font-weight: bold; color: #ffffff;	/* Fallback for non-webkit */ display: -webkit-box;	/* Fallback for non-webkit */ -webkit-line-clamp: 2; -webkit-box-orient: vertical; overflow: hidden; text-overflow: ellipsis; }
#store_wrapper .store_item_grid .item_recommend .item_recommend_column .item_info .item_info_container h3.item_name a { color: #ffffff; }
#store_wrapper .store_item_grid .item_recommend .item_recommend_column .item_info .item_info_container h3.item_name a:hover { color: #ffffff; }
#store_wrapper .store_item_grid .item_recommend .item_recommend_column .item_info .item_info_container .item_description { width: 100%; height: 20px; display: block; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; overflow: hidden; font-size: 12px; margin-top: 4px; margin-bottom: 14px; color: #ececec; }
#store_wrapper .store_item_grid .item_recommend .item_recommend_column .item_info .item_info_container .item_aside { width: 276px; position: absolute; bottom: 3px; }
#store_wrapper .store_item_grid .item_recommend .item_recommend_column .item_info .item_info_container .item_aside .item_price { width: 160px; float: left; }
#store_wrapper .store_item_grid .item_recommend .item_recommend_column .item_info .item_info_container .item_aside .item_price .price { font-size: 13px; display: block; position: relative; top: -3px; }
#store_wrapper .store_item_grid .item_recommend .item_recommend_column .item_info .item_info_container .item_aside .item_price .item_rank { font-size: 12px; color: #fec910; display: block; position: relative; top: -5px; }
#store_wrapper .store_item_grid .item_recommend .item_recommend_column .item_info .item_info_container .item_aside .item_price .price fullprice { text-decoration: line-through; }
#store_wrapper .store_item_grid .item_recommend .item_recommend_column .item_info .item_info_container .item_aside .action_btn { display: block; float: right; width: 95px; height: 30px; line-height: 30px; border-radius: 5px; background: rgba(255, 123, 26, 1); font-size: 14px; font-weight: bold; text-align: center; color: #ffffff; cursor: pointer; }
#store_wrapper .store_item_grid .item_recommend .item_recommend_column .item_info .item_info_container .item_aside .action_btn:hover { color: #ffffff; text-decoration: none; background: rgba(253, 149, 87, 1); }

/*商品grid*/
#store_wrapper .store_item_grid .hot_items { width: 660px; height: 100%; float: left; }

/*熱銷商品品項*/
#store_wrapper .store_item_grid .hot_items li.item_column { width: 208px; height: 208px; display: block; list-style: none; margin-left: 18px; margin-bottom: 18px; float: left; position: relative; overflow: hidden; }
#store_wrapper .store_item_grid .hot_items li.item_column:nth-of-type(3n+1) { margin-left: 0; }
#store_wrapper .store_item_grid .hot_items li.item_column .item_img { border: 1px solid #efefef; display: block; width: 206px; height: 206px; }
#store_wrapper .store_item_grid .hot_items li.item_column .item_img a { cursor:pointer; }
#store_wrapper .store_item_grid .hot_items li.item_column .item_img img { width: 206px; height: 206px; }
#store_wrapper .store_item_grid .hot_items li.item_column .item_img img:hover { opacity: .8; }

/*熱銷商品品項不足時*/
#store_wrapper .store_item_grid .hot_items li.item_column.empty { }
#store_wrapper .store_item_grid .hot_items li.item_column.empty .item_img { background: url('../../../images/shop/store/new_store_design/item_grid_item_empty.png') 50% 40% no-repeat; }
#store_wrapper .store_item_grid .hot_items li.item_column.empty .item_info { bottom: -118px; text-align: center; }
#store_wrapper .store_item_grid .hot_items li.item_column.empty .item_info .item_aside { font-size: 12px; line-height: 24px; }
#store_wrapper .store_item_grid .hot_items li.item_column.empty .item_info .item_aside a.contact_btn { display: block; width: 95px; height: 30px; line-height: 30px; border-radius: 5px; background: rgba(53, 109, 133, 1); font-size: 14px; font-weight: bold; text-align: center; color: #ffffff; cursor: pointer; float: none; margin: 6px auto 0 auto; }
#store_wrapper .store_item_grid .hot_items li.item_column.empty .item_info .item_aside a:hover.contact_btn { color: #ffffff; text-decoration: none; background: rgba(83, 117, 132, 1); text-decoration: none; }

/* 商品標籤 67x67小圖在store_product_list.css, 大圖107x107在store_popup.css */
#store_wrapper .store_item_grid .hot_items li.item_column p.tag { display: none; background: url('../../../images/shop/store/new_store_design/item_grid_item_tag.png') no-repeat; overflow: hidden; }

/* TAG熱銷商品標籤 */
#store_wrapper .store_item_grid .hot_items li.item_column.hot_tag p.tag { display: block; background-position: -10px -428px; width: 67px; height: 67px; position: absolute; top: 1px; left: 1px; }

/* 限時免運商品標籤 */
#store_wrapper .store_item_grid .hot_items li.item_column.free_shipping_tag p.tag { display: block; background-position: -10px -351px; width: 67px; height: 67px; position: absolute; top: 1px; left: 1px; }

/* 商品名稱、價格買氣 */
#store_wrapper .store_item_grid .hot_items li.item_column .item_info { position: absolute; bottom: -86px; background: rgba(84, 77, 74, .65); color: #ffffff; width: calc(100% - 2px); margin-left: 1px; transition: bottom .3s; -moz-transition: bottom .3s; -webkit-transition: bottom .3s; -o-transition: bottom .3s; -ms-transition: bottom .3s; }
#store_wrapper .store_item_grid .hot_items li.item_column .item_info:hover { bottom: 0; }
#store_wrapper .store_item_grid .hot_items li.item_column .item_info .item_info_container { padding: 12px; }
#store_wrapper .store_item_grid .hot_items li.item_column .item_info .item_info_container h3.item_name { display: block; margin-bottom: 8px; font-size: 13px; font-weight: bold; width: 100%; max-height: 40px; overflow: hidden; color: #ffffff; }
#store_wrapper .store_item_grid .hot_items li.item_column .item_info .item_info_container h3.item_name a { color: #ffffff; }
#store_wrapper .store_item_grid .hot_items li.item_column .item_info .item_info_container h3.item_name a:hover { color: #ffffff; }
#store_wrapper .store_item_grid .hot_items li.item_column .item_info .item_info_container .item_price { display: block; margin-bottom: 6px; font-size: 12px; }
#store_wrapper .store_item_grid .hot_items li.item_column .item_info .item_info_container .item_price .price { display: block; font-size: 13px; }
#store_wrapper .store_item_grid .hot_items li.item_column .item_info .item_info_container .item_price .price oprice { text-decoration: line-through; }
#store_wrapper .store_item_grid .hot_items li.item_column .item_info .item_info_container .item_price .item_rank { color: #fec910; }
#store_wrapper .store_item_grid .hot_items li.item_column .item_info .item_info_container .action_btn { display: block; width: 95px; height: 30px; line-height: 30px; border-radius: 5px; background: rgba(255, 123, 26, 1); font-size: 14px; font-weight: bold; text-align: center; color: #ffffff; cursor: pointer; }
#store_wrapper .store_item_grid .hot_items li.item_column .item_info .item_info_container .action_btn:hover { color: #ffffff; text-decoration: none; background: rgba(253, 149, 87, 1); }

/*更多商品 按鈕*/
#store_wrapper .store_item_grid .hot_items li.item_column.item_more { }
#store_wrapper .store_item_grid .hot_items li.item_column.item_more .item_img img { }
#store_wrapper .store_item_grid .hot_items li.item_column.item_more .item_more_btn { width: 146px; height: 56px; padding: 45px 0; text-align: center; z-index: 3; position: absolute; top: 0; left: 0; color: #ffffff; border: 7px solid #ffffff; margin: 24px; -webkit-transition: all .3s; -moz-transition: all .3s; -ms-transition: all .3s; -o-transition: all .3s; transition: all .3s; }
#store_wrapper .store_item_grid .hot_items li.item_column.item_more .item_more_btn:hover { border: 7px solid #ffd800; color: #ffd800; cursor: pointer; }
#store_wrapper .store_item_grid .hot_items li.item_column.item_more .item_more_bg { width: 208px; height: 208px; background: rgba(84, 77, 74, .65); position: absolute; top: 0; left: 0; z-index: 2; }
#store_wrapper .store_item_grid .hot_items li.item_column.item_more .item_more_btn .item_sum_counts { display: block; font-family: Arial; font-size: 40px; font-weight: bold; margin-bottom: 14px; margin-top: 6px; width: 100%; text-align: center; }
#store_wrapper .store_item_grid .hot_items li.item_column.item_more .item_more_btn .more_text { width: 100%; text-align: center; font-size: 12px; font-weight: bold; }

/*-- 完整商品列表 --*/

/*推薦商品*/
#store_wrapper .store_item_grid.store_full_product_list { width: 100%; height: auto !important; margin-top: 20px; }
#store_wrapper .store_item_grid.store_full_product_list .item_recommend { width: 300px; height: 100%; float: left; margin-right: calc((100% - 900px)/2); }
#store_wrapper .store_item_grid.store_full_product_list .item_recommend:nth-of-type(3n) { margin-right: 0; }

/*商品grid*/
#store_wrapper .store_item_grid.store_full_product_list .full_product_item_con { width: 980px; }
#store_wrapper .store_item_grid.store_full_product_list .hot_items { width: 980px; height: auto !important; float: none; }
#store_wrapper .store_item_grid.store_full_product_list .hot_items li.item_column { width: 208px; height: 208px; display: block; list-style: none; margin-left: calc((100% - 832px)/3); margin-bottom: 42px; float: left; position: relative; overflow: hidden; }
#store_wrapper .store_item_grid.store_full_product_list .hot_items li.item_column:nth-of-type(4n+1) { margin-left: 0; }

/*-- 店家分類 --*/
#store_wrapper .store_item_grid.store_full_product_list .full_product_item_category { width: 100%; height: 61px; border-bottom: 1px solid #e5e5e5; position: relative; top: -40px; margin-bottom: 14px; position: relative; overflow: hidden }

/*-- 搜尋 --*/
#store_wrapper .store_item_grid.store_full_product_list .items_search_bar{
margin-bottom: 28px;
margin-top: -25px;
}
#store_wrapper .store_item_grid.store_full_product_list .items_search_bar .go_search_box{
border: 1px solid #e0e1e1;
border-radius: 4px;
height: 35px;
background-color: #fff;
position: relative;
width:100%;
}
#store_wrapper .store_item_grid.store_full_product_list .items_search_bar .go_search_box .item_name{
border: 0px;
color: #7d9da2;
font-size: 13px;
line-height: 25px;
height: 25px;
border-radius: 4px;
padding: 5px 10px;
width: calc(100% - 60px);
outline: none;
}
#store_wrapper .store_item_grid.store_full_product_list .items_search_bar .go_search_box .go_search_btn{
background: url(../../../images/club/s_search_icon.png) no-repeat center center / 20px 20px #57c2e9;
height: 37px;
width: 40px;
display: block;
position: absolute;
top: -1px;
right: -1px;
border-radius: 0 4px 4px 0;
}

/* 搜尋結果 */
#store_wrapper .store_item_grid.store_full_product_list .item_search_result{
width:100%;
height: 46px;
line-height: 46px;
background: #5cc2e7;
color:#ffffff;
border-radius: 5px;
position: relative;
text-align: center;
margin-bottom:28px;
}
#store_wrapper .store_item_grid.store_full_product_list .item_search_result span{
font-size:13px;
}
#store_wrapper .store_item_grid.store_full_product_list .item_search_result span b{
	padding:0 5px;
}
#store_wrapper .store_item_grid.store_full_product_list .item_search_result a.reset_result{
	width: 16px;
height: 16px;
display: inline-block;
background: url(../../../images/shop/store/new_store_design/reset_result.png) no-repeat;
position: absolute;
top:15px;
right: 14px;
cursor: pointer;
display: block;
}
/*分類分頁切換*/
#store_wrapper .store_item_grid.store_full_product_list .full_product_item_category a.slide_prev { position: absolute; top: calc((100% - 36px)/2); left: 7px; width: 13px; height: 16px; background: url('../../../images/shop/store/new_store_design/full_category_slide_next_btn.png'); display: none; -webkit-transform: rotate(180deg); -moz-transform: rotate(180deg); -ms-transform: rotate(180deg); -o-transform: rotate(180deg); transform: rotate(180deg); }
#store_wrapper .store_item_grid.store_full_product_list .full_product_item_category a.slide_next { position: absolute; top: calc((100% - 36px)/2); right: 7px; width: 13px; height: 16px; background: url('../../../images/shop/store/new_store_design/full_category_slide_next_btn.png'); display: block; }
#store_wrapper .store_item_grid.store_full_product_list .full_product_item_category .item_category_container { width: 500%; height: 61px; overflow: hidden; }

/*單項分類*/
#store_wrapper .store_item_grid.store_full_product_list .full_product_item_category .category_item { padding: 0 20px; display: inline-block; text-align: center; cursor: pointer; margin-right: 10px; }

/*Color Version*/
#store_wrapper .store_item_grid.store_full_product_list .full_product_item_category .category_item:hover { }
#store_wrapper .store_item_grid.store_full_product_list .full_product_item_category .category_item.current { }
#store_wrapper .store_item_grid.store_full_product_list .full_product_item_category .category_item .category_name { font-size: 14px; font-weight: bold; color: #666666; display: block; margin-bottom: 5px; }
#store_wrapper .store_item_grid.store_full_product_list .full_product_item_category .category_item .category_item_sum { margin-bottom: 12px; font-size: 12px; color: #666666; }

/*-- 分頁調整 --*/
#store_wrapper .store_item_grid.store_full_product_list .product_item_pager { width: 100%; border-top: 1px solid #e5e5e5; border-bottom: 1px solid #e5e5e5; }
#store_wrapper .store_item_grid.store_full_product_list .product_item_pager .product_item_pager_con { margin: 16px auto; }
#store_wrapper .store_item_grid.store_full_product_list .product_item_pager .product_item_pager_con .pager_info { float: left; font-size: 12px; color: #666666; }
#store_wrapper .store_item_grid.store_full_product_list .product_item_pager .product_item_pager_con .pager_info .pages_sum { margin: 0 5px; }
#store_wrapper .store_item_grid.store_full_product_list .product_item_pager .product_item_pager_con .pager_info .items_sum { margin: 0 5px; }
#store_wrapper .store_item_grid.store_full_product_list .product_item_pager .product_item_pager_con .pager_info .current_items_sum { margin: 0 5px; }
#store_wrapper .store_item_grid.store_full_product_list .product_item_pager .product_item_pager_con .pager_list { float: right; margin-right: 8px; }
#store_wrapper .store_item_grid.store_full_product_list .product_item_pager .product_item_pager_con .pager_list a { float: left; margin-right: 10px; display: block; min-width: 19px; height: 19px; line-height: 21px; border-radius: 50%; font-size: 12px; text-align: center; }
#store_wrapper .store_item_grid.store_full_product_list .product_item_pager .product_item_pager_con .pager_list a:last-child { margin-right: 0; }
#store_wrapper .store_item_grid.store_full_product_list .product_item_pager .product_item_pager_con .pager_list a:hover { text-decoration: none; opacity: .8; }
#store_wrapper .store_item_grid.store_full_product_list .product_item_pager .product_item_pager_con .pager_list a.current { color: #ffffff; }
#store_wrapper .store_item_grid.store_full_product_list .product_item_pager .product_item_pager_con .pager_list a:hover.current { color: #ffffff !important; }

/*-- 直購列表 --*/
#store_wrapper .store_item_grid .hot_items.shopping_process li.item_column { height: 291px !important; }
#store_wrapper .shopping_process_container .process_con .store_item_grid .hot_items.shopping_process li.item_column .item_info { bottom: 83px; }
#store_wrapper .shopping_process_container .process_con .store_item_grid .hot_items.shopping_process li.item_column .item_info .item_info_container { padding: 12px 12px 4px 12px; }

/*-- 合購列表 --*/
#store_wrapper .store_item_grid .hot_items.group_event_process li.item_column { height: 322px !important; }
#store_wrapper .shopping_process_container .process_con .store_item_grid .hot_items.group_event_process li.item_column .item_info { bottom: 115px; }
#store_wrapper .shopping_process_container .process_con .store_item_grid .hot_items.group_event_process li.item_column .item_info .item_info_container { padding: 12px 12px 4px 12px; }

/*自訂商品*/
#store_wrapper .store_item_grid .hot_items li.item_column.custom_item { border: 1px dashed #e5e5e5; height: 291px !important; text-align: center; cursor: pointer; }
#store_wrapper .store_item_grid .hot_items li.item_column.custom_item.store_index_col { height: 206px !important; width: 206px; }
#store_wrapper .store_item_grid .hot_items li.item_column.custom_item .add_icon { width: 110px; height: 113px; background: url('../../../images/shop/store/new_store_design/item_grid_blank_slate.png') no-repeat; background-position: -20px -0px; display: block; position: relative; top: calc((100% - 113px)/2); left: calc((100% - 110px)/2); }
#store_wrapper .store_item_grid .hot_items li.item_column.custom_item .add_icon.hover { background-position: -20px -133px; }
#store_wrapper .store_item_grid .item_recommend.empty { border: 1px dashed #e5e5e5; width: 298px !important; height: 432px !important; text-align: center; cursor: pointer; }
#store_wrapper .store_item_grid .item_recommend.empty p.add_icon { width: 110px; height: 113px; background: url('../../../images/shop/store/new_store_design/item_grid_blank_slate.png') no-repeat; background-position: -20px -0px; display: block; position: relative; top: calc((100% - 113px)/2); left: calc((100% - 110px)/2); }
#store_wrapper .store_item_grid .item_recommend.empty p.add_icon:hover { background-position: -20px -133px; }

/*自訂商品*/
#store_wrapper .custom_add_item_wrp { width: 100%; height: 100%; z-index: 1000; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, .8); overflow: scroll; display: none; }
#store_wrapper .custom_add_item_wrp:before { content: ''; width: 0; height: 100%; display: inline-block; position: relative; vertical-align: middle; }
#store_wrapper .custom_add_item_wrp .custom_add_item_container { width: 577px; background: #ffffff; border-radius: 10px; z-index: 2; margin: 0 auto; display: inline-block; margin-left: calc((100% - 577px)/2); position: relative; }
#store_wrapper .custom_add_item_wrp .custom_add_item_container .main_Content_box { width: calc(100% - 40px); padding: 15px 20px; border: 0; background: transparent; margin: 0; }
#store_wrapper .custom_add_item_wrp .custom_add_item_container .main_Content_box .mybuy_box .order_wrp_Mails .enter_data { margin-bottom: 20px; }
#store_wrapper .custom_add_item_wrp .custom_add_item_container .main_Content_box .mybuy_box .order_wrp_Mails .enter_data .left_Titlebox { width: 70px; }
#store_wrapper .custom_add_item_wrp .custom_add_item_container .main_Content_box .mybuy_box .order_wrp_Mails .enter_data .right_box { width: calc(100% - 74px); }
#store_wrapper .custom_add_item_wrp .custom_add_item_container .main_Content_box .mybuy_box .order_wrp_Mails .enter_data .left_box { width: 80px; color: #787878; }
#store_wrapper .custom_add_item_wrp .custom_add_item_container .main_Content_box .mybuy_box .order_wrp_Mails .enter_data .address .right_box { width: calc(100% - 84px); }
#store_wrapper .custom_add_item_wrp .custom_add_item_container .main_Content_box .mybuy_box .order_wrp_Mails .enter_data .number .right_box { width: calc(100% - 84px); }
#store_wrapper .custom_add_item_wrp .custom_add_item_container .main_Content_box .mybuy_box .order_wrp_Mails .enter_data .address .right_box input { max-width: 90% !important; }
#store_wrapper .custom_add_item_wrp .custom_add_item_container .main_Content_box .mybuy_box .order_wrp_Mails a.Newbnt { margin-left: 84px; color: #ffffff; font-weight: bold; background: #ffc600; border-radius: 5px; }
#store_wrapper .custom_add_item_wrp .custom_add_item_container .main_Content_box .mybuy_box .order_wrp_Mails a.Newbnt span { background: transparent; }
#store_wrapper .custom_add_item_wrp .custom_add_item_container .main_Content_box .mybuy_box .order_wrp_Mails a.back { font-size: 12px; }
#store_wrapper .custom_add_item_wrp .custom_add_item_container .main_Content_box .mybuy_box .order_wrp_Mails a:hover.back { color: #454545; }
#store_wrapper .custom_add_item_wrp .custom_add_item_container a.close_message { width: 16px; height: 16px; display: block; background: url('../../../images/shop/store/new_store_design/shopping_method_close_message.png'); position: absolute; top: 15px; right: 15px; cursor: pointer; }

/*商店尚無商品*/
#store_wrapper .store_item_grid.empty { width: 980px; height: 434px; line-height: 434px; border: 1px solid #e5e5e5; text-align: center; color: #777777; font-size: 16px; font-weight: bold; }

/*== 商品列表 End ==*/