@charset "UTF-8";
/* CSS Document */
.new_year_window .popup_window2{ max-width:400px; top:10%;}
.new_year_window .popup_title h4{ font-size:1rem; line-height:28px;}

.new_year_box{ margin:0 auto; text-align:center;}
.new_year_box a{ background-color:#fff;}
.new_year_box a:active{ background-color:#fff;}
.new_year_box img{ width:100%;}

.new_year_window a.footer_close_btn{ padding:8px 10px;}
