@charset "utf-8";
/* CSS Document */

.calendar_wrapper ul, .calendar_wrapper li, .calendar_wrapper h1, .calendar_wrapper h2, .calendar_wrapper h3, .calendar_wrapper h4, .calendar_wrapper h5, .calendar_wrapper h6, .calendar_wrapper a, .calendar_wrapper p{ color:#454545; font-size:12px; letter-spacing:1px;}

.calendar_wrapper{ width:790px; padding:0 0 20px 0; margin: 0 auto;}

.calendar_wrapper .cld_header{ width:790px; height:51px; margin-bottom:10px; background:url(../../images/user/calendar/bg_cldheader.jpg) repeat-x;}
.calendar_wrapper .cld_header .month_box{ float:left; padding:15px 0 0 20px;}
.calendar_wrapper .cld_header .cld_newBtn{ float:right;}

.calendar_wrapper .cld_header .month_box p{ float:left; font-size:15px; font-weight:bold; font-family:"Century Gothic"; padding: 0 8px 0 10px; line-height:20px; letter-spacing:2px;}
.calendar_wrapper .cld_header .month_box a{ float:left;display:block; text-indent:-9999px; padding-top:3px;}
.calendar_wrapper .cld_header .month_box a.last_month{ width:15px; height:15px; background:url(../../images/user/calendar/pic_cld.gif) no-repeat 0 -37px;}
.calendar_wrapper .cld_header .month_box a.next_month{ width:15px; height:15px; background:url(../../images/user/calendar/pic_cld.gif) no-repeat -30px -37px;}
.calendar_wrapper .cld_header .month_box a:hover.last_month{ background-position: 0 -57px;}
.calendar_wrapper .cld_header .month_box a:hover.next_month{ background-position: -30px -57px;}

.calendar_wrapper .cld_header .cld_newBtn{ width:113px; height:29px; padding: 10px 10px 0 0;}
.calendar_wrapper .cld_header .cld_newBtn a{ display:block; width:113px; height:29px; background:url(../../images/user/calendar/pic_cld.gif) no-repeat; text-indent:-9999px;}
.calendar_wrapper .cld_header .cld_newBtn a:hover{ background-position: -113px 0;}

.calendar_wrapper .cld_content{ width:790px; margin: 0 auto;}
.calendar_wrapper .cld_content .week{ width:790px; padding-bottom:5px;}
.calendar_wrapper .cld_content .week ul li{ float:left; width:112px;}
.calendar_wrapper .cld_content .week ul li p{text-align:center;}
.calendar_wrapper .cld_content p.txt_red{ color:#f64949;}

.calendar_wrapper .cld_content .calendar_box{ width:790px; position:relative;}
.calendar_wrapper .cld_content .calendar_box table.cld{border:1px #ccc solid; border-width:1px 0 0 1px;}
.calendar_wrapper .cld_content .calendar_box table.cld tr td{border:1px #ccc solid; border-color:#fff #ccc #e8e8e8 #fff; vertical-align:top; width:110px; height: 80px}

.calendar_wrapper .cld_content .calendar_box .cld_titleBox{ width:110px; overflow:hidden}
.calendar_wrapper .cld_content .calendar_box .cld_top{ height:26px; background-color:#f2f2f2;}
.calendar_wrapper .cld_content .calendar_box .cld_write{ min-height:36px; padding:10px 0 7px 6px;}

.calendar_wrapper .cld_content .calendar_box .cld_top p{ font-size:12px; font-weight:bold; line-height:26px; padding-left:5px; font-family: Verdana, Geneva, sans-serif;}
.calendar_wrapper .cld_content .calendar_box .cld_top p span{ font-size:8pt; font-weight:normal; color:#a8a8a8; letter-spacing:0; padding-left:5px;}
.calendar_wrapper .cld_content .calendar_box .cld_today{background-color: #9d9d9d;}
.calendar_wrapper .cld_content .calendar_box .cld_today p{ color:#fff;}
.calendar_wrapper .cld_content .calendar_box .cld_today p span{color:#fff;}
.calendar_wrapper .cld_content .calendar_box .cld_today p span.today{ text-align:right; font-size:12px; font-weight:bold; letter-spacing:1px; padding-left:9px; color:#fff;}

.calendar_wrapper .cld_content .calendar_box .cld_order{ background-color:#ffeadb; border:1px #fff solid; border-width: 1px 1px 1px 0;}
.calendar_wrapper .cld_content .calendar_box .cld_event{ background-color:#e5edfa; border:1px #fff solid; border-width: 1px 1px 1px 0;}

.calendar_wrapper .cld_content .calendar_box .cld_write h3{ font-size:13px; letter-spacing:2px; padding-bottom:5px;}
.calendar_wrapper .cld_content .calendar_box .cld_write a{ display:block; color:#105cb6; line-height:16px; letter-spacing:0; max-height:34px; max-height:32px\9; *max-height:32px; _height:32px; overflow:hidden;}
.calendar_wrapper .cld_content .calendar_box .cld_write a img{ padding-right:2px;}

.calendar_wrapper .cld_content .calendar_box .cld_shop{padding:10px 0 7px 6px; background-color:#ffeadb; border:1px #fff solid; border-width: 1px 1px 1px 0;}
.calendar_wrapper .cld_content .calendar_box .cld_shop a.deliver_link{ display:block; color:#105cb6; line-height:16px; letter-spacing:0; max-height:34px; *max-height:32px; _height:32px; overflow:hidden;}
.calendar_wrapper .cld_content .calendar_box .cld_shop p.txt_red{ color:#f64949;}

.calendar_wrapper .cld_content .calendar_box .write_line{ width:109px; height:3px; background:url(../../images/user/calendar/write_line.jpg) no-repeat; _line-height:0; font-size:0;}

.calendar_wrapper .cld_content .cld_ps{ width:770px; padding: 10px 0 0 20px;}
.calendar_wrapper .cld_content .cld_ps p{ float:left; padding-right:15px;}
.calendar_wrapper .cld_content .cld_ps p img{ vertical-align:middle; padding-right:5px;}


/*浮動視窗*/
.calendar_wrapper .cld_content .cld_dataBox{ position:absolute; z-index:10; }
.calendar_wrapper .cld_content .cld_arrow{width:19px;height:12px;background:url(../../images/user/calendar/cld_arrow.gif) no-repeat;position: absolute;left:150px; bottom:-9px; _bottom:-15px; }
.calendar_wrapper .cld_content .cld_dataBox .cld_data{width:300px; border:1px #b7b7b7 solid;background-color:#fff;padding:10px 15px; box-shadow:0 2px 4px rgba(0, 0, 0, 0.2); }
.calendar_wrapper .cld_content .cld_dataBox .cld_data h3{ font-size:12px; color:#666; border-bottom:1px #ccc solid; padding-bottom:3px; margin-bottom:5px;}
.calendar_wrapper .cld_content .cld_dataBox .cld_data div.info_title{width:40px; font-size:12px; letter-spacing:1px; font-weight:bold; float:left}
.calendar_wrapper .cld_content .cld_dataBox .cld_data div.info_content{width:260px; font-size:12px; letter-spacing:1px; float:right}
.calendar_wrapper .cld_content .cld_dataBox .cld_data div.info_content span{color:#f64949}


/*待辦事項*/
.calendar_todoBox{ width:500px; margin: 0 auto; padding:10px 0;}
.calendar_todoBox .item_box{ width:500px; padding:10px 10px 0 10px;}
.calendar_todoBox .item_box .left_box{ float:left; width:80px; }
.calendar_todoBox .item_box .right_box{ float:left; width:400px;}
.calendar_todoBox .item_box .left_box h4{height:30px; color:#454545; font-size:13px; letter-spacing:3px; text-align:right; line-height:30px; padding-right:5px;}

.calendar_todoBox .item_box .right_box .date_box{float:left; padding-right: 10px; width: auto;}
.calendar_todoBox .item_box .right_box .time_box{ float:left;color: #666666;font-size: 15px;padding-right: 10px;    width: auto;}

.calendar_todoBox .item_box .right_box input{color: #454545; font-family: Arial,Helvetica,sans-serif; font-size: 13px; letter-spacing: 1px;}
.calendar_todoBox .item_box .right_box input.input_w400{width:380px; border: 1px solid #E3E3E3; height: 30px;   line-height: 30px; padding: 0 8px;}
.calendar_todoBox .item_box .right_box input.input_w80{width:80px; border: 1px solid #E3E3E3; height: 30px;   line-height: 30px; padding: 0 8px;}

.calendar_todoBox .item_box .right_box select{border:1px solid #E3E3E3; color:#454545; height:32px; line-height:32px; margin-right: 10px; padding: 4px 6px;}

.calendar_todoBox .item_box .right_box .cld_todo{border: 1px solid #DEDEDE; color: #454545; font-size: 13px;letter-spacing: 1px; line-height:18px; padding: 4px 8px; resize: none; width:380px; height:75px;}
.calendar_todoBox .item_box .right_box p.ps{color: #999999; font-size: 12px; letter-spacing: 2px; padding: 3px 0;  text-align: right;}








